Zirèl - Telegram Callback Handler.json
{
  "name": "Zirèl - Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        -224
      ],
      "id": "a317dba1-b75a-48f9-92d3-8a6fe97b2145",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "fd1d2c92-80ee-4fc2-a423-78fb68f5fb45"
    },
    {
      "parameters": {
        "jsCode": "const callback = $json.callback_query || {};\nconst data = String(callback.data || '').trim();\nconst [action, related_entity_type, related_entity_id] = data.split('|');\n\nconst mapping = {\n  restaurant_booking: {\n    table_name: 'prenotazioni',\n    field_name: 'stato',\n    new_status: 'CONFERMATA',\n    status_label: 'Prenotazione ristorante confermata',\n  },\n  hotel_booking: {\n    table_name: 'hotel_bookings',\n    field_name: 'booking_status',\n    new_status: 'confirmed',\n    status_label: 'Richiesta soggiorno confermata',\n  },\n  appointment: {\n    table_name: 'appointments',\n    field_name: 'stato',\n    new_status: 'confirmed',\n    status_label: 'Appuntamento confermato',\n  },\n};\n\nconst target = mapping[related_entity_type] || null;\nconst operatorName = callback.from?.first_name || 'Team';\nconst originalText = callback.message?.text || 'Messaggio non disponibile';\n\nreturn [{\n  json: {\n    ...$json,\n    callback_action: action || '',\n    related_entity_type: related_entity_type || '',\n    related_entity_id: related_entity_id || '',\n    operator_name: operatorName,\n    original_text: originalText,\n    ...target,\n    is_supported: Boolean(target && action === 'accept' && related_entity_id),\n  },\n}];"
      },
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -224
      ],
      "id": "7e6fdb21-b6e5-423f-a2f8-e9481e42be31"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01b5cd2e-8ce3-4e88-ac74-e7377cd58d27",
              "leftValue": "={{ $json.is_supported }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Supported Callback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -224
      ],
      "id": "5c0676cf-0e63-4744-ab0c-645b47dbb753"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54394c91-f432-40d7-a9b0-4381e21e9122",
              "leftValue": "={{ $json.related_entity_type === \"restaurant_booking\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Restaurant Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -416
      ],
      "id": "08e4b4c8-3212-4239-8da7-777d3d483a97"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "prenotazioni",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stato",
              "fieldValue": "CONFERMATA"
            }
          ]
        }
      },
      "name": "Confirm Restaurant Booking",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -480
      ],
      "id": "0ad607d5-ded0-41cb-a1c4-03d01c320c93",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e38e44c2-6172-41c0-a5b8-58a643f55b2e",
              "leftValue": "={{ $json.related_entity_type === \"hotel_booking\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Hotel Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -224
      ],
      "id": "46a38663-9769-415e-94f4-fb981460a5a0"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "hotel_bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "booking_status",
              "fieldValue": "confirmed"
            }
          ]
        }
      },
      "name": "Confirm Hotel Booking",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -288
      ],
      "id": "12d1e7b2-db39-42ec-be98-ea15d6b7219f",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "836d0adb-8790-42ee-b439-7bd1098e12f8",
              "leftValue": "={{ $json.related_entity_type === \"appointment\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Appointment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -32
      ],
      "id": "a79b2d11-cba5-4f28-b49c-00d3d18bb865"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stato",
              "fieldValue": "confirmed"
            }
          ]
        }
      },
      "name": "Confirm Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -96
      ],
      "id": "c378f66b-1abd-43fb-8679-b57fc9c61407",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Callback Data').item.json;\nreturn [{\n  json: {\n    ...input,\n    callback_answer_text: input.status_label + ' da ' + input.operator_name,\n    edited_message_text: [\n      input.original_text,\n      '',\n      'Aggiornamento: accettata',\n      'Accettata da: ' + input.operator_name,\n    ].join('\\n'),\n  },\n}];"
      },
      "name": "Build Accepted Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -288
      ],
      "id": "e4e0b83d-8bb4-49c6-a8f2-d2eb01836c28"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nreturn [{\n  json: {\n    ...input,\n    callback_answer_text: 'Azione non supportata o dati callback non validi.',\n    edited_message_text: input.original_text || 'Azione non supportata.',\n  },\n}];"
      },
      "name": "Build Unsupported Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        32
      ],
      "id": "b85f8eeb-f504-484b-9401-155471b09264"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $(\"Telegram Trigger\").item.json.callback_query.id }}",
        "additionalFields": {
          "text": "={{ $json.callback_answer_text }}"
        }
      },
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -160
      ],
      "id": "c5b2a30e-11be-4b94-916e-0dcd1d0dad11",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "abd248d7-be13-48d5-8e2a-a5ffb8a4bc7b"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $(\"Telegram Trigger\").item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $(\"Telegram Trigger\").item.json.callback_query.message.message_id }}",
        "text": "={{ $(\"Build Accepted Response\").item.json.edited_message_text || $(\"Build Unsupported Response\").item.json.edited_message_text || \"Aggiornamento non disponibile.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "disableWebPagePreview": true
        }
      },
      "name": "Edit Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -160
      ],
      "id": "d20e9fa6-bcdf-4753-a612-80fdd4bed180",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "68b12c2c-1683-4bce-9924-5c9aab2d129a"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Check Supported Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supported Callback": {
      "main": [
        [
          {
            "node": "If Restaurant Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Restaurant Booking": {
      "main": [
        [
          {
            "node": "Confirm Restaurant Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Hotel Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Restaurant Booking": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Hotel Booking": {
      "main": [
        [
          {
            "node": "Confirm Hotel Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Hotel Booking": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Appointment": {
      "main": [
        [
          {
            "node": "Confirm Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Appointment": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Accepted Response": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unsupported Response": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Edit Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "768982fa-d3ef-487f-86d7-0caf6f7fbcd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "ZirelTelegramCallbackHandler",
  "tags": [],
  "pinData": {}
}
