Zirèl - Telegram Callback Handler.json
{
  "name": "Zirèl - Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        -224
      ],
      "id": "4bc12a24-328f-4233-ac8c-6c17e72d8050",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "fd1d2c92-80ee-4fc2-a423-78fb68f5fb45"
    },
    {
      "parameters": {
        "jsCode": "const callback = $json.callback_query || {};\nconst data = String(callback.data || '').trim();\nconst [action, related_entity_type, related_entity_id] = data.split('|');\n\nconst mapping = {\n  restaurant_booking: {\n    table_name: 'prenotazioni',\n    field_name: 'stato',\n    new_status: 'CONFERMATA',\n    status_label: 'Prenotazione ristorante confermata',\n  },\n  hotel_booking: {\n    table_name: 'hotel_bookings',\n    field_name: 'booking_status',\n    new_status: 'confirmed',\n    status_label: 'Richiesta soggiorno confermata',\n  },\n  appointment: {\n    table_name: 'appointments',\n    field_name: 'stato',\n    new_status: 'confirmed',\n    status_label: 'Appuntamento confermato',\n  },\n};\n\nconst target = mapping[related_entity_type] || null;\nconst operatorName = callback.from?.first_name || 'Team';\nconst originalText = callback.message?.text || 'Messaggio non disponibile';\n\nreturn [{\n  json: {\n    ...$json,\n    callback_action: action || '',\n    related_entity_type: related_entity_type || '',\n    related_entity_id: related_entity_id || '',\n    operator_name: operatorName,\n    original_text: originalText,\n    ...target,\n    is_supported: Boolean(target && action === 'accept' && related_entity_id),\n  },\n}];"
      },
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -224
      ],
      "id": "920013b1-8fbe-4877-abaf-4c110f3bff56"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03649015-3028-444e-85e5-7a575ec0c43b",
              "leftValue": "={{ $json.is_supported }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Supported Callback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -224
      ],
      "id": "6e685b3c-b5e6-4556-b777-fb7bf6f75fd1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82e52c19-4d38-450f-a8af-b53e4add8b49",
              "leftValue": "={{ $json.related_entity_type === \"restaurant_booking\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Restaurant Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -416
      ],
      "id": "1e5ebc56-38bb-4604-b4d8-169b79364807"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "prenotazioni",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stato",
              "fieldValue": "CONFERMATA"
            }
          ]
        }
      },
      "name": "Confirm Restaurant Booking",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -480
      ],
      "id": "5ec1d524-dac5-4c7a-8cc9-f5e0a525e24b",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "207621b3-a600-47c8-9bd4-b4bb71105b15",
              "leftValue": "={{ $json.related_entity_type === \"hotel_booking\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Hotel Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -224
      ],
      "id": "5720babf-ab64-4be9-b4bb-b4c4155e9f08"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "hotel_bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "booking_status",
              "fieldValue": "confirmed"
            }
          ]
        }
      },
      "name": "Confirm Hotel Booking",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -288
      ],
      "id": "be4c7c65-301f-4bb9-b1f2-17183f092c46",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77296624-3793-48e0-8a48-5de4c92ebc89",
              "leftValue": "={{ $json.related_entity_type === \"appointment\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Appointment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -32
      ],
      "id": "bd9a9b89-f485-4e43-9227-a58876d3c928"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.related_entity_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stato",
              "fieldValue": "confirmed"
            }
          ]
        }
      },
      "name": "Confirm Appointment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -96
      ],
      "id": "b10991c9-25b7-4b18-a7b3-e3e0ed7daa06",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Callback Data').item.json;\nreturn [{\n  json: {\n    ...input,\n    callback_answer_text: input.status_label + ' da ' + input.operator_name,\n    edited_message_text: [\n      input.original_text,\n      '',\n      'Aggiornamento: accettata',\n      'Accettata da: ' + input.operator_name,\n    ].join('\\n'),\n  },\n}];"
      },
      "name": "Build Accepted Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -288
      ],
      "id": "d766aac9-a232-492e-b100-5d40695189d8"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nreturn [{\n  json: {\n    ...input,\n    callback_answer_text: 'Azione non supportata o dati callback non validi.',\n    edited_message_text: input.original_text || 'Azione non supportata.',\n  },\n}];"
      },
      "name": "Build Unsupported Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        32
      ],
      "id": "35f95dfb-92eb-4552-9f67-117d81b89c7a"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $(\"Telegram Trigger\").item.json.callback_query.id }}",
        "additionalFields": {
          "text": "={{ $json.callback_answer_text }}"
        }
      },
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -160
      ],
      "id": "5563deaa-4f8b-49c2-a6b3-4a6b1aa2618d",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "abd248d7-be13-48d5-8e2a-a5ffb8a4bc7b"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $(\"Telegram Trigger\").item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $(\"Telegram Trigger\").item.json.callback_query.message.message_id }}",
        "text": "={{ $(\"Build Accepted Response\").item.json.edited_message_text || $(\"Build Unsupported Response\").item.json.edited_message_text || \"Aggiornamento non disponibile.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "disableWebPagePreview": true
        }
      },
      "name": "Edit Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -160
      ],
      "id": "7451ae8a-8d85-41a0-9d8b-d8741074084f",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "68b12c2c-1683-4bce-9924-5c9aab2d129a"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Check Supported Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supported Callback": {
      "main": [
        [
          {
            "node": "If Restaurant Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Restaurant Booking": {
      "main": [
        [
          {
            "node": "Confirm Restaurant Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Hotel Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Restaurant Booking": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Hotel Booking": {
      "main": [
        [
          {
            "node": "Confirm Hotel Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Hotel Booking": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Appointment": {
      "main": [
        [
          {
            "node": "Confirm Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Appointment": {
      "main": [
        [
          {
            "node": "Build Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Accepted Response": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unsupported Response": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Edit Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86b26f00-eb4c-46a6-b678-b7a396a13df0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "ZirelTelegramCallbackHandler",
  "tags": [],
  "pinData": {}
}
