Zirèl - Notifiche Dispatcher.json
{
  "name": "Zirèl - Notifiche Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2928,
        688
      ],
      "id": "2c1b5df7-fed2-4f8d-b104-15127cb29199"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "name": "Get Pending Outbox",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2672,
        688
      ],
      "id": "8734a806-ca0d-4aa6-8078-a1ed0f0824fd",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nreturn items.filter((item) => {\n  const nextRetry = item.json.next_retry_at;\n  if (!nextRetry) return true;\n  const ts = new Date(nextRetry).getTime();\n  return !Number.isNaN(ts) && ts <= now;\n});"
      },
      "name": "Filter Due Now",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        688
      ],
      "id": "e205ab17-92b9-444a-aed3-e109f935ca7c"
    },
    {
      "parameters": {
      },
      "name": "Render Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        496
      ],
      "id": "69c65b76-31ae-4ca2-ad22-e034ac212726"
    },
    {
      "parameters": {
        "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst relatedType = String($json.related_entity_type || '').trim();\nconst relatedId = String($json.related_entity_id || '').trim();\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  pending: 'In lavorazione',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim()] || 'In lavorazione';\nconst phoneRaw = String(payload.telefono || '').trim();\nconst emailRaw = String(payload.email || '').trim().toLowerCase();\nconst sanitizedPhone = phoneRaw.replace(/[^\\d+]/g, '');\nconst phoneAction = sanitizedPhone ? 'tel:' + sanitizedPhone : '';\nconst emailAction = emailRaw ? 'mailto:' + emailRaw : '';\nlet text = 'Nuova richiesta Zirèl';\nif (template === 'hotel_internal_alert') {\n  text = [\n    'Nuova richiesta soggiorno',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    '',\n    'Soggiorno: ' + (payload.checkin_date || 'N/D') + ' -> ' + (payload.checkout_date || 'N/D'),\n    'Ospiti: ' + String(payload.ospiti_totali || 'N/D'),\n    'Camera: ' + (payload.room_type_requested || 'Da definire'),\n    'Servizi: ' + (payload.servizi_richiesti || 'Nessuno'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else if (template === 'restaurant_internal_alert') {\n  text = [\n    'Nuova richiesta tavolo',\n    '',\n    'Cliente: ' + (payload.nome_cliente || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    ...(emailRaw ? ['Email: ' + emailRaw] : []),\n    'Data: ' + (payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'),\n    'Ora: ' + (payload.ora || 'N/D'),\n    'Persone: ' + String(payload.persone || 'N/D'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else {\n  text = [\n    'Nuova richiesta appuntamento',\n    '',\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    'Data: ' + (payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'),\n    'Ora: ' + (payload.orario || 'N/D'),\n    'Motivo: ' + (payload.motivo || 'N/D'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n}\n\nconst callbackData = relatedType && relatedId ? ['accept', relatedType, relatedId].join('|') : '';\nreturn [{\n  json: {\n    ...$json,\n    rendered_telegram_text: text,\n    telegram_accept_callback_data: callbackData,\n  },\n}];"
      },
      "name": "Render Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        880
      ],
      "id": "4f201d8e-3ed2-41bb-b35e-3bda1eac3c3e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cc4a869-12f5-494c-a789-57baf2d45f86",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"email_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        496
      ],
      "id": "8a9a55a2-689d-41fc-a5e7-16774b8f42bb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rendered_email }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1616,
        496
      ],
      "id": "416fdb2c-c869-4d44-9c2b-ae22bcd04469",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5v5J8779y7QCWIE",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e634fe3-cb42-412c-ad48-512be60653a5",
              "leftValue": "={{ !!String($json.id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        496
      ],
      "id": "260e66bd-2a69-4c2d-b0ec-86ce450ceccf"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
      },
      "name": "Prepare Email Sent Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        384
      ],
      "id": "02cce769-bd6e-4207-96ee-27085b693606"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'EMAIL_SEND_FAILED' } };\n});"
      },
      "name": "Prepare Email Retry Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        608
      ],
      "id": "7a1f51a9-a297-46a3-a849-6d0b260ff7e6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        384
      ],
      "id": "12cd6524-cbb1-4c38-8bce-35bb499a8f17",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Retry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        608
      ],
      "id": "299d92a6-db3c-4aab-a212-e0c06aca15ef",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54d191f7-7c7f-4291-afa6-456d6847e662",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"telegram_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        880
      ],
      "id": "51f7ac8a-d9d8-4a52-87ec-19dfb082bb03"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
        "text": "={{ $json.rendered_telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Accetta",
                    "additionalFields": {
                      "callback_data": "={{ $json.telegram_accept_callback_data || \"\" }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parseMode": "HTML",
          "disableWebPagePreview": true
        }
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        880
      ],
      "id": "17a637a1-ff71-48b2-a252-9ee0b7314934",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b9f94fb-881d-4475-8448-7f881b7a9f28",
              "leftValue": "={{ !!String($json.message_id || $json.result?.message_id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        880
      ],
      "id": "8c8f1a8d-0fba-4e5e-873b-65cc7a75727a"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
      },
      "name": "Prepare Telegram Sent Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        768
      ],
      "id": "5cde71fb-0969-4cf9-a965-6489fac6fe28"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'TELEGRAM_SEND_FAILED' } };\n});"
      },
      "name": "Prepare Telegram Retry Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        992
      ],
      "id": "8dea451a-add2-4325-b055-9a7034aa86e5"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        768
      ],
      "id": "e65f8ab8-6ce4-4eae-b9e7-b3d901372a8e",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Retry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        992
      ],
      "id": "1c420687-035b-41d0-80d0-fa731f352394",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Outbox": {
      "main": [
        [
          {
            "node": "Filter Due Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Now": {
      "main": [
        [
          {
            "node": "Render Email Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email Payload": {
      "main": [
        [
          {
            "node": "If Email Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Channel?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If Email Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Sent?": {
      "main": [
        [
          {
            "node": "Prepare Email Sent Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email Retry Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Sent Update": {
      "main": [
        [
          {
            "node": "Update Outbox Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Retry Update": {
      "main": [
        [
          {
            "node": "Update Outbox Email Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Telegram Payload": {
      "main": [
        [
          {
            "node": "If Telegram Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Channel?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "If Telegram Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Sent?": {
      "main": [
        [
          {
            "node": "Prepare Telegram Sent Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Retry Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Sent Update": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Retry Update": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f649cbf-42cc-4b6e-bf6f-6dc3af52865c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "ZirelNotificheDispatcher",
  "tags": [],
  "pinData": {}
}
