Zirèl - Stripe Billing Manager.json
{
  "name": "Zirèl - Stripe Billing Manager",
  "nodes": [
    {
      "name": "Webhook: Create Checkout",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        140
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-billing/create-checkout",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "name": "Normalize Checkout Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        140
      ],
      "parameters": {
        "jsCode": "const source = $json.body || $json || {};\nconst normalize = (v) => String(v || '').trim();\n\nconst tenant_id = normalize(source.tenant_id || source.tenantId);\nconst api_token = normalize(source.api_token || source.apiToken);\nconst price_id = normalize(source.price_id || source.priceId);\nconst setup_price_id = normalize(source.setup_price_id || source.setupPriceId);\nconst email = normalize(source.email).toLowerCase();\nconst business_name = normalize(source.hotel_name || source.business_name || source.nome_attivita);\n\nconst missing = [];\nif (!tenant_id) missing.push('tenant_id');\nif (!api_token) missing.push('api_token');\nif (!price_id) missing.push('price_id');\nif (!email) missing.push('email');\n\nreturn [{\n  json: {\n    tenant_id,\n    api_token,\n    price_id,\n    setup_price_id,\n    email,\n    business_name,\n    is_valid_request: missing.length === 0,\n    missing_fields: missing,\n    http_status: missing.length ? 400 : 200,\n  }\n}];"
      }
    },
    {
      "name": "Verify Checkout Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        140
      ],
      "parameters": {
        "jsCode": "const input = $json;\n\nif (!input.is_valid_request) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 400,\n      error: 'Missing required fields',\n      details: input.missing_fields,\n    }\n  }];\n}\n\nconst supabaseUrl = String($env.SUPABASE_URL || '').trim();\nconst serviceKey = String($env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\n\nif (!supabaseUrl || !serviceKey) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 500,\n      error: 'Missing Supabase env for billing auth',\n    }\n  }];\n}\n\nconst qs = [\n  ['select', 'tenant_id,api_token,mail,billing_email,stripe_customer_id'],\n  ['tenant_id', 'eq.' + input.tenant_id],\n  ['api_token', 'eq.' + input.api_token],\n  ['limit', '1'],\n]\n  .map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(value))\n  .join('&');\n\nlet rows;\ntry {\n  rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/tenants?' + qs,\n    headers: {\n      apikey: serviceKey,\n      Authorization: 'Bearer ' + serviceKey,\n    },\n    json: true,\n  });\n} catch (error) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 502,\n      error: 'Tenant auth lookup failed',\n      provider_error: String(error?.message || error).slice(0, 500),\n    }\n  }];\n}\n\nconst tenant = Array.isArray(rows) ? rows[0] : null;\n\nif (!tenant?.tenant_id) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 401,\n      error: 'Unauthorized tenant or api_token',\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    authorized: true,\n    tenant_record: tenant,\n    tenant_id: tenant.tenant_id,\n    billing_email: tenant.billing_email || tenant.mail || input.email || '',\n    stripe_customer_id: tenant.stripe_customer_id || '',\n    http_status: 200,\n  }\n}];"
      }
    },
    {
      "name": "If Checkout Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        930,
        140
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Boolean($json.authorized) }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "name": "Stripe: Create Checkout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        60
      ],
      "parameters": {
        "jsCode": "const input = $json;\nconst secretKey = String($env.STRIPE_SECRET_KEY || '').trim();\n\nif (!secretKey) {\n  return [{\n    json: {\n      ...input,\n      http_status: 500,\n      error: 'Missing STRIPE_SECRET_KEY'\n    }\n  }];\n}\n\nconst formBodyArr = [\n  ['mode', 'subscription'],\n  ['success_url', String($env.STRIPE_SUCCESS_URL || 'https://dashboard.zirel.org?tab=abbonamento&status=success')],\n  ['cancel_url', String($env.STRIPE_CANCEL_URL || 'https://dashboard.zirel.org?tab=abbonamento&status=cancel')],\n  ['customer_email', input.billing_email || input.email || ''],\n  ['client_reference_id', input.tenant_id || ''],\n  ['line_items[0][price]', input.price_id || ''],\n  ['line_items[0][quantity]', '1'],\n  ['metadata[tenant_id]', input.tenant_id || ''],\n  ['metadata[billing_email]', input.billing_email || input.email || ''],\n  ['metadata[business_name]', input.business_name || ''],\n];\n\nif (input.setup_price_id) {\n  formBodyArr.push(['line_items[1][price]', input.setup_price_id]);\n  formBodyArr.push(['line_items[1][quantity]', '1']);\n}\n\nconst formBody = formBodyArr\n  .map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(String(value)))\n  .join('&');\n\nlet data;\ntry {\n  data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.stripe.com/v1/checkout/sessions',\n    headers: {\n      Authorization: 'Bearer ' + secretKey,\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: formBody,\n    json: true,\n  });\n} catch (error) {\n  return [{\n    json: {\n      ...input,\n      http_status: 502,\n      error: 'Stripe checkout creation failed',\n      stripe_error: String(error?.message || error).slice(0, 1000),\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    url: data.url,\n    stripe_checkout_session_id: data.id,\n    stripe_raw: data,\n    http_status: 200,\n  }\n}];"
      }
    },
    {
      "name": "Response: Checkout URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1430,
        60
      ],
      "parameters": {
        "options": {
          "responseCode": "={{ parseInt($json.http_status || 200, 10) }}"
        },
        "responseBody": "={{ JSON.stringify({ url: $json.url }, null, 2) }}"
      }
    },
    {
      "name": "Response: Checkout Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1190,
        220
      ],
      "parameters": {
        "options": {
          "responseCode": "={{ parseInt($json.http_status || 200, 10) }}"
        },
        "responseBody": "={{ JSON.stringify({ error: $json.error || \"Unauthorized\", details: $json.details || $json.missing_fields || [] }, null, 2) }}"
      }
    },
    {
      "name": "Webhook: Create Portal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        420
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-billing/create-portal",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "name": "Normalize Portal Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        420
      ],
      "parameters": {
        "jsCode": "const source = $json.body || $json || {};\nconst normalize = (v) => String(v || '').trim();\n\nconst tenant_id = normalize(source.tenant_id || source.tenantId);\nconst api_token = normalize(source.api_token || source.apiToken);\n\nconst missing = [];\nif (!tenant_id) missing.push('tenant_id');\nif (!api_token) missing.push('api_token');\n\nreturn [{\n  json: {\n    tenant_id,\n    api_token,\n    is_valid_request: missing.length === 0,\n    missing_fields: missing,\n    http_status: missing.length ? 400 : 200,\n  }\n}];"
      }
    },
    {
      "name": "Verify Portal Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "parameters": {
        "jsCode": "const input = $json;\n\nif (!input.is_valid_request) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 400,\n      error: 'Missing required fields',\n      details: input.missing_fields,\n    }\n  }];\n}\n\nconst supabaseUrl = String($env.SUPABASE_URL || '').trim();\nconst serviceKey = String($env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\n\nif (!supabaseUrl || !serviceKey) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 500,\n      error: 'Missing Supabase env for billing auth',\n    }\n  }];\n}\n\nconst qs = [\n  ['select', 'tenant_id,api_token,mail,billing_email,stripe_customer_id'],\n  ['tenant_id', 'eq.' + input.tenant_id],\n  ['api_token', 'eq.' + input.api_token],\n  ['limit', '1'],\n]\n  .map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(value))\n  .join('&');\n\nlet rows;\ntry {\n  rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/tenants?' + qs,\n    headers: {\n      apikey: serviceKey,\n      Authorization: 'Bearer ' + serviceKey,\n    },\n    json: true,\n  });\n} catch (error) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 502,\n      error: 'Tenant auth lookup failed',\n      provider_error: String(error?.message || error).slice(0, 500),\n    }\n  }];\n}\n\nconst tenant = Array.isArray(rows) ? rows[0] : null;\n\nif (!tenant?.tenant_id) {\n  return [{\n    json: {\n      ...input,\n      authorized: false,\n      http_status: 401,\n      error: 'Unauthorized tenant or api_token',\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    authorized: true,\n    tenant_record: tenant,\n    tenant_id: tenant.tenant_id,\n    billing_email: tenant.billing_email || tenant.mail || input.email || '',\n    stripe_customer_id: tenant.stripe_customer_id || '',\n    http_status: 200,\n  }\n}];"
      }
    },
    {
      "name": "If Portal Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        930,
        420
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Boolean($json.authorized && $json.stripe_customer_id) }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "name": "Stripe: Create Portal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        340
      ],
      "parameters": {
        "jsCode": "const input = $json;\nconst secretKey = String($env.STRIPE_SECRET_KEY || '').trim();\n\nif (!secretKey) {\n  return [{\n    json: {\n      ...input,\n      http_status: 500,\n      error: 'Missing STRIPE_SECRET_KEY'\n    }\n  }];\n}\n\nif (!input.stripe_customer_id) {\n  return [{\n    json: {\n      ...input,\n      http_status: 400,\n      error: 'Missing stripe_customer_id for portal session'\n    }\n  }];\n}\n\nconst formBody = [\n  ['customer', input.stripe_customer_id],\n  ['return_url', String($env.STRIPE_PORTAL_RETURN_URL || $env.STRIPE_SUCCESS_URL || 'https://dashboard.zirel.org?tab=abbonamento')],\n]\n  .map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(String(value)))\n  .join('&');\n\nlet data;\ntry {\n  data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.stripe.com/v1/billing_portal/sessions',\n    headers: {\n      Authorization: 'Bearer ' + secretKey,\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: formBody,\n    json: true,\n  });\n} catch (error) {\n  return [{\n    json: {\n      ...input,\n      http_status: 502,\n      error: 'Stripe portal creation failed',\n      stripe_error: String(error?.message || error).slice(0, 1000),\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    url: data.url,\n    stripe_portal_session_id: data.id,\n    stripe_raw: data,\n    http_status: 200,\n  }\n}];"
      }
    },
    {
      "name": "Response: Portal URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1430,
        340
      ],
      "parameters": {
        "options": {
          "responseCode": "={{ parseInt($json.http_status || 200, 10) }}"
        },
        "responseBody": "={{ JSON.stringify({ url: $json.url }, null, 2) }}"
      }
    },
    {
      "name": "Response: Portal Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1190,
        500
      ],
      "parameters": {
        "options": {
          "responseCode": "={{ parseInt($json.http_status || 200, 10) }}"
        },
        "responseBody": "={{ JSON.stringify({ error: $json.error || \"Unauthorized or missing Stripe customer\", details: $json.details || $json.missing_fields || [] }, null, 2) }}"
      }
    },
    {
      "name": "Webhook: Stripe Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        760
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "options": {
          "noResponse": true,
          "verifyStripeSignature": true
        }
      }
    },
    {
      "name": "Normalize Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        760
      ],
      "parameters": {
        "jsCode": "const event = $json.body || {};\nconst object = event.data?.object || {};\nconst priceId = object.items?.data?.[0]?.price?.id || object.plan?.id || '';\nconst productId = object.items?.data?.[0]?.price?.product || object.plan?.product || '';\nconst tenantId = object.client_reference_id || object.metadata?.tenant_id || '';\nconst billingEmail = object.customer_details?.email || object.customer_email || object.receipt_email || '';\nconst businessName = object.metadata?.business_name || object.metadata?.hotel_name || object.metadata?.nome_attivita || tenantId || 'Zirèl';\nconst trialEndsAt = object.trial_end ? new Date(object.trial_end * 1000).toISOString() : null;\n\nlet planCode = '';\nlet billingCycle = 'monthly';\n\nconst priceBaseMonthly = String($env.STRIPE_PRICE_BASE_ID || $env.STRIPE_PRICE_BASE_MONTHLY_ID || '');\nconst pricePremiumMonthly = String($env.STRIPE_PRICE_PREMIUM_ID || $env.STRIPE_PRICE_PREMIUM_MONTHLY_ID || '');\nconst priceBaseYearly = String($env.STRIPE_PRICE_BASE_YEARLY_ID || '');\nconst pricePremiumYearly = String($env.STRIPE_PRICE_PREMIUM_YEARLY_ID || '');\n\nif (priceId) {\n  if (priceId === pricePremiumMonthly) planCode = 'premium';\n  else if (priceId === priceBaseMonthly) planCode = 'base';\n  else if (priceId === pricePremiumYearly) { planCode = 'premium'; billingCycle = 'yearly'; }\n  else if (priceId === priceBaseYearly) { planCode = 'base'; billingCycle = 'yearly'; }\n}\n\nconst currentPeriodEnd = object.current_period_end ? new Date(object.current_period_end * 1000).toISOString() : null;\nconst isSetupFeePaid = event.type === 'checkout.session.completed' ? true : undefined;\n\nreturn [{\n  json: {\n    raw_event: event,\n    event_type: String(event.type || ''),\n    event_id: String(event.id || ''),\n    tenant_id: tenantId,\n    customer_id: String(object.customer || ''),\n    subscription_id: String(object.subscription || object.id || ''),\n    billing_email: billingEmail,\n    business_name: businessName,\n    trial_ends_at: trialEndsAt,\n    stripe_price_id: priceId,\n    stripe_product_id: productId,\n    billing_plan_code: planCode,\n    billing_cycle: billingCycle,\n    current_period_end: currentPeriodEnd,\n    setup_fee_paid: isSetupFeePaid,\n    subscription_status: event.type === 'customer.subscription.deleted'\n      ? 'canceled'\n      : event.type === 'invoice.payment_failed'\n        ? 'past_due'\n        : String(object.status || 'active'),\n  },\n}];"
      }
    },
    {
      "name": "Switch: Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        680,
        760
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "checkout.session.completed",
              "output": 0
            },
            {
              "value2": "customer.subscription.created",
              "output": 1
            },
            {
              "value2": "customer.subscription.updated",
              "output": 1
            },
            {
              "value2": "customer.subscription.deleted",
              "output": 1
            },
            {
              "value2": "invoice.paid",
              "output": 1
            },
            {
              "value2": "invoice.payment_failed",
              "output": 1
            },
            {
              "value2": "customer.subscription.trial_will_end",
              "output": 2
            }
          ]
        }
      }
    },
    {
      "name": "Supabase: Sync Checkout",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        680
      ],
      "parameters": {
        "operation": "update",
        "tableId": "tenants",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "condition": "eq",
              "keyValue": "={{ $json.tenant_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stripe_customer_id",
              "fieldValue": "={{ $json.customer_id }}"
            },
            {
              "fieldId": "stripe_subscription_id",
              "fieldValue": "={{ $json.subscription_id }}"
            },
            {
              "fieldId": "subscription_status",
              "fieldValue": "active"
            },
            {
              "fieldId": "billing_email",
              "fieldValue": "={{ $json.billing_email || null }}"
            },
            {
              "fieldId": "billing_last_event_id",
              "fieldValue": "={{ $json.event_id }}"
            },
            {
              "fieldId": "billing_cycle",
              "fieldValue": "={{ $json.billing_cycle || null }}"
            },
            {
              "fieldId": "current_period_end",
              "fieldValue": "={{ $json.current_period_end || null }}"
            },
            {
              "fieldId": "setup_fee_paid",
              "fieldValue": "={{ $json.setup_fee_paid === true ? true : false }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "name": "Supabase: Sync Sub/Invoice",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        860
      ],
      "parameters": {
        "operation": "update",
        "tableId": "tenants",
        "filters": {
          "conditions": [
            {
              "keyName": "stripe_customer_id",
              "condition": "eq",
              "keyValue": "={{ $json.customer_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "subscription_status",
              "fieldValue": "={{ $json.subscription_status }}"
            },
            {
              "fieldId": "stripe_subscription_id",
              "fieldValue": "={{ $json.subscription_id || null }}"
            },
            {
              "fieldId": "stripe_price_id",
              "fieldValue": "={{ $json.stripe_price_id || null }}"
            },
            {
              "fieldId": "stripe_product_id",
              "fieldValue": "={{ $json.stripe_product_id || null }}"
            },
            {
              "fieldId": "billing_plan_code",
              "fieldValue": "={{ $json.billing_plan_code || null }}"
            },
            {
              "fieldId": "billing_email",
              "fieldValue": "={{ $json.billing_email || null }}"
            },
            {
              "fieldId": "billing_last_event_id",
              "fieldValue": "={{ $json.event_id }}"
            },
            {
              "fieldId": "billing_cycle",
              "fieldValue": "={{ $json.billing_cycle || null }}"
            },
            {
              "fieldId": "current_period_end",
              "fieldValue": "={{ $json.current_period_end || null }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "name": "Build Billing Reminder Outbox Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1000
      ],
      "parameters": {
        "jsCode": "const input = $json || {};\nconst tenantId = String(input.tenant_id || '').trim();\nconst eventType = String(input.event_type || '').trim();\nconst billingEmail = String(input.billing_email || '').trim().toLowerCase();\nconst internalEmail = String($env.ZIREL_BILLING_ALERT_EMAIL || '').trim().toLowerCase();\nconst eventId = String(input.event_id || '').trim() || ('manual-' + Date.now());\nconst businessName = input.business_name || input.tenant_id || 'Zirèl';\n\nif (!tenantId || !eventType) {\n  return [];\n}\n\nconst basePayload = {\n  tenant_id: tenantId,\n  business_name: businessName,\n  billing_email: billingEmail || null,\n  billing_plan_code: input.billing_plan_code || null,\n  billing_cycle: input.billing_cycle || null,\n  current_period_end: input.current_period_end || null,\n  trial_ends_at: input.trial_ends_at || null,\n  subscription_status: input.subscription_status || null,\n  event_id: eventId,\n  dashboard_url: 'https://dashboard.zirel.org?tab=abbonamento',\n  portal_url: 'https://dashboard.zirel.org?tab=abbonamento',\n};\n\nconst makeRow = (channel, templateKey, recipient, suffix) => ({\n  json: {\n    tenant_id: tenantId,\n    channel,\n    template_key: templateKey,\n    related_entity_type: 'billing_subscription',\n    related_entity_id: input.subscription_id || tenantId,\n    status: 'pending',\n    retry_count: 0,\n    max_retries: 5,\n    next_retry_at: new Date().toISOString(),\n    trace_id: 'billing-event:' + eventType + ':' + eventId,\n    recipient_email: recipient,\n    dedupe_key: tenantId + ':' + eventType + ':' + suffix + ':' + eventId,\n    payload: basePayload,\n  },\n});\n\nconst rows = [];\n\nif (eventType === 'invoice.payment_failed') {\n  if (billingEmail) rows.push(makeRow('email_billing_customer', 'billing_payment_failed', billingEmail, 'customer'));\n  if (internalEmail) rows.push(makeRow('email_billing_internal', 'billing_payment_failed_internal', internalEmail, 'internal'));\n} else if (eventType === 'invoice.paid') {\n  if (billingEmail) rows.push(makeRow('email_billing_customer', 'billing_payment_succeeded', billingEmail, 'customer'));\n} else if (eventType === 'customer.subscription.deleted') {\n  if (billingEmail) rows.push(makeRow('email_billing_customer', 'billing_subscription_canceled', billingEmail, 'customer'));\n  if (internalEmail) rows.push(makeRow('email_billing_internal', 'billing_subscription_canceled_internal', internalEmail, 'internal'));\n} else if (eventType === 'customer.subscription.trial_will_end') {\n  if (billingEmail) rows.push(makeRow('email_billing_customer', 'billing_trial_ending', billingEmail, 'customer'));\n}\n\nreturn rows;"
      }
    },
    {
      "name": "Supabase: Insert Billing Reminder Outbox",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        1000
      ],
      "parameters": {
        "tableId": "notification_outbox",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "template_key",
              "fieldValue": "={{ $json.template_key }}"
            },
            {
              "fieldId": "related_entity_type",
              "fieldValue": "={{ $json.related_entity_type }}"
            },
            {
              "fieldId": "related_entity_id",
              "fieldValue": "={{ $json.related_entity_id || null }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "max_retries",
              "fieldValue": "={{ $json.max_retries }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "trace_id",
              "fieldValue": "={{ $json.trace_id }}"
            },
            {
              "fieldId": "recipient_email",
              "fieldValue": "={{ $json.recipient_email || null }}"
            },
            {
              "fieldId": "dedupe_key",
              "fieldValue": "={{ $json.dedupe_key }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $json.payload }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Create Checkout": {
      "main": [
        [
          {
            "node": "Normalize Checkout Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Checkout Request": {
      "main": [
        [
          {
            "node": "Verify Checkout Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Checkout Tenant": {
      "main": [
        [
          {
            "node": "If Checkout Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Checkout Authorized": {
      "main": [
        [
          {
            "node": "Stripe: Create Checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Checkout Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Checkout": {
      "main": [
        [
          {
            "node": "Response: Checkout URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Portal": {
      "main": [
        [
          {
            "node": "Normalize Portal Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Portal Request": {
      "main": [
        [
          {
            "node": "Verify Portal Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Portal Tenant": {
      "main": [
        [
          {
            "node": "If Portal Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Portal Authorized": {
      "main": [
        [
          {
            "node": "Stripe: Create Portal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Portal Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Portal": {
      "main": [
        [
          {
            "node": "Response: Portal URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Stripe Events": {
      "main": [
        [
          {
            "node": "Normalize Stripe Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Stripe Event": {
      "main": [
        [
          {
            "node": "Switch: Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Event Type": {
      "main": [
        [
          {
            "node": "Supabase: Sync Checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Sync Sub/Invoice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Billing Reminder Outbox Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Billing Reminder Outbox Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Billing Reminder Outbox Rows": {
      "main": [
        [
          {
            "node": "Supabase: Insert Billing Reminder Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": null,
  "active": false,
  "versionId": "stripe-billing-manager-v2"
}
