Zirèl - Notifiche Dispatcher.json
{
  "name": "Zirèl - Notifiche Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2928,
        688
      ],
      "id": "cc32beec-8188-451c-88c6-7eb5bbbb2b0f"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "name": "Get Pending Outbox",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2672,
        688
      ],
      "id": "35ec9ba8-79e3-4a7a-a30a-623077cc83bb",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nreturn items.filter((item) => {\n  const nextRetry = item.json.next_retry_at;\n  if (!nextRetry) return true;\n  const ts = new Date(nextRetry).getTime();\n  return !Number.isNaN(ts) && ts <= now;\n});"
      },
      "name": "Filter Due Now",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        688
      ],
      "id": "efddba86-7a0f-4bf7-9e0c-8c2a5028071c"
    },
    {
      "parameters": {
        "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst channel = String($json.channel || '').trim();\nconst activity = payload.nome_struttura || payload.nome_attivita || 'Zirèl';\nconst businessName = payload.business_name || payload.hotel_name || payload.nome_attivita || payload.nome_struttura || payload.nome_ristorante || payload.tenant_id || activity;\nconst recipientEmail = String(\n  $json.recipient_email ||\n  (channel === 'email_guest_appointment' || channel === 'email_guest_hotel' || channel === 'email_guest_restaurant' ? payload.email : '') ||\n  payload.internal_email ||\n  payload.billing_email ||\n  payload.email ||\n  ''\n).trim().toLowerCase();\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  confermata: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  rifiutata: 'Non disponibile',\n  annullata: 'Non disponibile',\n  pending: 'In lavorazione',\n  change_proposed: 'Proposta inviata',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim()] || 'In lavorazione';\nconst planCode = String(payload.billing_plan_code || '').trim().toLowerCase();\nconst cycleCode = String(payload.billing_cycle || '').trim().toLowerCase();\nconst planLabel = planCode === 'premium' ? 'Zirèl Core Premium' : planCode === 'base' ? 'Zirèl Core Base' : 'Piano Zirèl';\nconst cycleLabel = cycleCode === 'yearly' ? 'Annuale' : cycleCode === 'monthly' ? 'Mensile' : 'Non definito';\nconst dashboardUrl = String(payload.dashboard_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\nconst portalUrl = String(payload.portal_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\nconst formatDate = (value) => {\n  if (!value) return 'N/D';\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return String(value);\n  return date.toLocaleDateString('it-IT', {\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n    timeZone: 'Europe/Rome',\n  });\n};\n\nconst renderShell = (title, intro, bodyRows, outro) => {\n  const rows = bodyRows.filter(Boolean).map((row) => `<tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;width:38%;font-weight:600;color:#0f172a;\">${row.label}</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${row.value}</td></tr>`).join('');\n  return `<div style=\"font-family:Helvetica,Arial,sans-serif;background:#f8fafc;padding:24px;color:#0f172a;\">\n    <div style=\"max-width:680px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-radius:20px;overflow:hidden;\">\n      <div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f3b52 0%,#ff8c42 100%);color:#ffffff;\">\n        <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.18em;text-transform:uppercase;opacity:0.82;\">Zirèl Notification Center</p>\n        <h1 style=\"margin:0;font-size:28px;line-height:1.15;\">${title}</h1>\n      </div>\n      <div style=\"padding:28px;\">\n        <p style=\"margin:0 0 18px;font-size:16px;line-height:1.6;color:#334155;\">${intro}</p>\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:16px;overflow:hidden;background:#fff;\">${rows}</table>\n        <p style=\"margin:18px 0 0;font-size:15px;line-height:1.7;color:#334155;\">${outro}</p>\n      </div>\n    </div>\n  </div>`;\n};\n\nlet subject = 'Aggiornamento Zirèl';\nlet text = '';\nlet html = '';\n\nif (template === 'hotel_guest_confirmation' || channel === 'email_guest_hotel') {\n  subject = `Richiesta soggiorno ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di soggiorno presso ${activity}.\\n\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nOspiti: ${payload.ospiti_totali || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nStato: ${statusLabel}\\n\\nIl nostro team ti contatterà a breve con il prossimo aggiornamento.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta soggiorno ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo ricevuto correttamente la tua richiesta di soggiorno presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Ospiti', value: String(payload.ospiti_totali || 'N/D') },\n      { label: 'Camera richiesta', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi richiesti', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il nostro team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'restaurant_guest_confirmation' || channel === 'email_guest_restaurant') {\n  subject = `Richiesta tavolo ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di prenotazione presso ${activity}.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\n\\nTi aggiorneremo al più presto.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta tavolo ricevuta',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta di prenotazione presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Lo staff verificherà la disponibilità del tavolo e ti confermerà al più presto.'\n  );\n} else if (template === 'appointment_guest_confirmation' || channel === 'email_guest_appointment') {\n  subject = `Richiesta ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta con ${activity}.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}\\n\\nTi contatteremo a breve con conferma e dettagli.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'appointment_confirmed') {\n  subject = `Appuntamento confermato • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nla tua richiesta è stata confermata.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Appuntamento confermato',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, il tuo appuntamento con <strong>${activity}</strong> è stato confermato.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n    ],\n    'Ti aspettiamo nello slot confermato. Se hai bisogno di aggiornamenti, rispondi a questa email.'\n  );\n} else if (template === 'appointment_rejected') {\n  subject = `Aggiornamento richiesta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta per lo slot indicato.\\n\\nData richiesta: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra richiesta: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nMotivo del rifiuto: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, puoi rispondere a questa email per concordare un nuovo orario.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta non confermata',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tuo slot richiesto con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora richiesta', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi una nuova disponibilità, rispondi pure a questa email e ti aiuteremo a trovare un altro slot.'\n  );\n} else if (template === 'appointment_change_proposed') {\n  subject = `Nuova proposta di orario • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo questo nuovo appuntamento:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe per te va bene, rispondi a questa email e confermeremo la modifica.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo slot',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, lo slot richiesto inizialmente non è disponibile. Ti proponiamo una nuova disponibilità con <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_appuntamento || 'N/D') + ' alle ' + (payload.original_time || payload.orario || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la nuova proposta ti va bene, rispondi pure a questa email e confermeremo il nuovo appuntamento.'\n  );\n} else if (template === 'restaurant_confirmed') {\n  subject = `Prenotazione confermata • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nla tua prenotazione è confermata.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, la tua prenotazione presso <strong>${activity}</strong> è confermata.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n    ],\n    'Ti aspettiamo nel giorno e nell’orario confermati.'\n  );\n} else if (template === 'restaurant_rejected') {\n  subject = `Aggiornamento prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta di tavolo.\\n\\nData richiesta: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra richiesta: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nMotivo: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, rispondi a questa email e proveremo a trovare una soluzione alternativa.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione non confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tavolo richiesto presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora richiesta', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi valutare un’alternativa, rispondi pure a questa email.'\n  );\n} else if (template === 'restaurant_change_proposed') {\n  subject = `Nuova proposta per la tua prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe ti va bene, rispondi a questa email e confermeremo il tavolo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo tavolo',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, lo slot richiesto non è disponibile. Ti proponiamo una nuova disponibilità presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_prenotazione || 'N/D') + ' alle ' + (payload.original_time || payload.ora || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la proposta ti va bene, rispondi pure a questa email e confermeremo la prenotazione.'\n  );\n} else if (template === 'appointment_internal_status_update' || template === 'restaurant_internal_status_update') {\n  const isAppointment = template === 'appointment_internal_status_update';\n  subject = `Aggiornamento richiesta interna • ${activity}`;\n  text = isAppointment\n    ? `Aggiornamento richiesta appuntamento\\n\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`\n    : `Aggiornamento richiesta tavolo\\n\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`;\n  html = renderShell(\n    'Aggiornamento richiesta interna',\n    `La richiesta per <strong>${activity}</strong> è stata aggiornata dalla dashboard.`,\n    isAppointment\n      ? [\n          { label: 'Cliente', value: payload.nome || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ]\n      : [\n          { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ],\n    'Puoi aprire la dashboard richieste per vedere il dettaglio completo e la timeline aggiornata.'\n  );\n} else if (template === 'billing_trial_ending') {\n  subject = `Il periodo di prova di ${businessName} termina tra 3 giorni`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} terminerà il ${formatDate(payload.trial_ends_at)}.\\n\\nPer continuare a usare Zirèl senza interruzioni, scegli il tuo piano dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nA presto,\\nTeam Zirèl`;\n  html = renderShell(\n    'Il periodo di prova sta per terminare',\n    `Il periodo di prova di <strong>${businessName}</strong> terminerà il <strong>${formatDate(payload.trial_ends_at)}</strong>.`,\n    [\n      { label: 'Stato attuale', value: 'Periodo di prova' },\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n    ],\n    `Per continuare a usare Zirèl senza interruzioni, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">tab Abbonamento</a> e completa l'attivazione del piano più adatto alla tua attività.`\n  );\n} else if (template === 'billing_trial_expired') {\n  subject = `Periodo di prova terminato • ${businessName}`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} è terminato il ${formatDate(payload.trial_ends_at)}.\\n\\nPer riattivare il servizio, completa l'attivazione dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Periodo di prova terminato',\n    `Il periodo di prova di <strong>${businessName}</strong> è terminato.`,\n    [\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n      { label: 'Stato servizio', value: 'Attivazione richiesta' },\n    ],\n    `Per riprendere a usare Zirèl, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard</a> e attiva il tuo piano.`\n  );\n} else if (template === 'billing_payment_failed') {\n  subject = `Pagamento non riuscito • ${businessName}`;\n  text = `Ciao,\\n\\nnon siamo riusciti a completare il rinnovo del tuo piano ${planLabel} per ${businessName}.\\n\\nPer evitare interruzioni del servizio, aggiorna il metodo di pagamento dal portale di fatturazione.\\n\\nPortale di fatturazione: ${portalUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Non siamo riusciti a completare il rinnovo del piano <strong>${planLabel}</strong> per <strong>${businessName}</strong>.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Data di rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    `Aggiorna il metodo di pagamento dal <a href=\"${portalUrl}\" style=\"color:#ff8c42;font-weight:600;\">portale di fatturazione</a> per evitare sospensioni del servizio.`\n  );\n} else if (template === 'billing_payment_succeeded') {\n  subject = `Pagamento confermato • ${businessName}`;\n  text = `Ciao,\\n\\nil pagamento del piano ${planLabel} per ${businessName} è stato confermato con successo.\\n\\nIl tuo servizio resta attivo senza interruzioni.\\n\\nProssimo rinnovo: ${formatDate(payload.current_period_end)}\\n\\nGrazie,\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento confermato',\n    `Il pagamento del piano <strong>${planLabel}</strong> è stato confermato con successo.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Prossimo rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    'Il tuo servizio resta attivo senza interruzioni. Grazie per aver scelto Zirèl.'\n  );\n} else if (template === 'billing_subscription_canceled') {\n  subject = `Abbonamento annullato • ${businessName}`;\n  text = `Ciao,\\n\\nil tuo abbonamento ${planLabel} per ${businessName} è stato annullato.\\n\\nIl servizio resterà disponibile fino al ${formatDate(payload.current_period_end)}.\\n\\nSe desideri riattivarlo, puoi farlo in qualsiasi momento dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    `Puoi riattivare il servizio in qualsiasi momento dal <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a>.`\n  );\n} else if (template === 'billing_payment_failed_internal') {\n  subject = `[Billing] Azione richiesta • pagamento non riuscito • ${businessName}`;\n  text = `Il rinnovo del piano ${planLabel} per ${businessName} non è andato a buon fine.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nProssimo controllo: ${formatDate(payload.current_period_end)}\\n\\nSuggerimento: monitorare il grace period o contattare il cliente se necessario.`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Il rinnovo del piano per <strong>${businessName}</strong> richiede attenzione.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Prossimo controllo', value: formatDate(payload.current_period_end) },\n    ],\n    'Puoi monitorare il grace period oppure contattare il cliente se il pagamento non viene aggiornato.'\n  );\n} else if (template === 'billing_subscription_canceled_internal') {\n  subject = `[Billing] Abbonamento annullato • ${businessName}`;\n  text = `L'abbonamento ${planLabel} di ${businessName} è stato annullato.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nServizio attivo fino al: ${formatDate(payload.current_period_end)}\\n\\nValuta se avviare un follow-up commerciale o lasciare il tenant inattivo.`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    'I dati restano disponibili: valuta se avviare un follow-up commerciale o lasciare il tenant inattivo.'\n  );\n} else if (template === 'hotel_internal_alert' || channel === 'email_internal_hotel') {\n  subject = `Nuova richiesta soggiorno interna • ${activity}`;\n  text = `Nuova richiesta soggiorno\\n\\nStruttura: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nServizi: ${payload.servizi_richiesti || 'Nessuno'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\nTrace: ${payload.trace_id || 'N/D'}`;\n  html = renderShell(\n    'Nuova richiesta soggiorno',\n    `È stata ricevuta una nuova richiesta per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Camera', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.'\n  );\n} else if (template === 'restaurant_internal_alert' || channel === 'email_internal_restaurant') {\n  subject = `Nuova richiesta tavolo interna • ${activity}`;\n  text = `Nuova richiesta tavolo\\n\\nAttività: ${activity}\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\nTrace: ${payload.trace_id || 'N/D'}`;\n  html = renderShell(\n    'Nuova richiesta tavolo',\n    `È arrivata una nuova richiesta tavolo per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Verifica la disponibilità e conferma la gestione appena possibile.'\n  );\n} else {\n  subject = `Nuova richiesta interna • ${activity}`;\n  text = `Nuova richiesta appuntamento\\n\\nAttività: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}\\nTrace: ${payload.trace_id || 'N/D'}`;\n  html = renderShell(\n    'Nuova richiesta appuntamento',\n    `È stata ricevuta una nuova richiesta da gestire per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.'\n  );\n}\n\nreturn [{\n  json: {\n    ...$json,\n    rendered_email: {\n      from: 'Zirèl <noreply@zirel.org>',\n      to: recipientEmail ? [recipientEmail] : [],\n      subject,\n      text,\n      html,\n    },\n  },\n}];"
      },
      "name": "Render Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        496
      ],
      "id": "ac4bd85c-c2a8-441a-99e5-42785a9ffaf9"
    },
    {
      "parameters": {
        "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst relatedType = String($json.related_entity_type || '').trim();\nconst relatedId = String($json.related_entity_id || '').trim();\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  pending: 'In lavorazione',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim()] || 'In lavorazione';\nconst phoneRaw = String(payload.telefono || '').trim();\nconst emailRaw = String(payload.email || '').trim().toLowerCase();\nconst sanitizedPhone = phoneRaw.replace(/[^\\d+]/g, '');\nconst phoneAction = sanitizedPhone ? 'tel:' + sanitizedPhone : '';\nconst emailAction = emailRaw ? 'mailto:' + emailRaw : '';\nlet text = 'Nuova richiesta Zirèl';\nif (template === 'hotel_internal_alert') {\n  text = [\n    'Nuova richiesta soggiorno',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    '',\n    'Soggiorno: ' + (payload.checkin_date || 'N/D') + ' -> ' + (payload.checkout_date || 'N/D'),\n    'Ospiti: ' + String(payload.ospiti_totali || 'N/D'),\n    'Camera: ' + (payload.room_type_requested || 'Da definire'),\n    'Servizi: ' + (payload.servizi_richiesti || 'Nessuno'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else if (template === 'restaurant_internal_alert') {\n  text = [\n    'Nuova richiesta tavolo',\n    '',\n    'Cliente: ' + (payload.nome_cliente || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    ...(emailRaw ? ['Email: ' + emailRaw] : []),\n    'Data: ' + (payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'),\n    'Ora: ' + (payload.ora || 'N/D'),\n    'Persone: ' + String(payload.persone || 'N/D'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else {\n  text = [\n    'Nuova richiesta appuntamento',\n    '',\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    'Data: ' + (payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'),\n    'Ora: ' + (payload.orario || 'N/D'),\n    'Motivo: ' + (payload.motivo || 'N/D'),\n    '',\n    'Stato: ' + statusLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n}\n\nconst callbackData = relatedType && relatedId ? ['accept', relatedType, relatedId].join('|') : '';\nconst escapedText = text.replace(/[&<>]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n}[char] || char));\nreturn [{\n  json: {\n    ...$json,\n    rendered_telegram_text: escapedText,\n    telegram_accept_callback_data: callbackData,\n  },\n}];"
      },
      "name": "Render Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        880
      ],
      "id": "8f62c4f8-d7f9-41f2-bbe9-7a7f0b605d2b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e5c8f24-4cd3-4795-82c2-7e8ec8b0ca18",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"email_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        496
      ],
      "id": "2259d81f-61ee-4c24-893e-1a9a59a1c04f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rendered_email }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1616,
        496
      ],
      "id": "4e4108f8-0d62-4ef9-8cfc-f9a537ce0d6f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5v5J8779y7QCWIE",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47eebfc3-9b1a-427c-835f-c7e95e689121",
              "leftValue": "={{ !!String($json.id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        496
      ],
      "id": "b7184280-7c35-42ad-af74-43697c527414"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
      },
      "name": "Prepare Email Sent Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        384
      ],
      "id": "f367f76c-75ff-4d13-a388-d602653916b3"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'EMAIL_SEND_FAILED' } };\n});"
      },
      "name": "Prepare Email Retry Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        608
      ],
      "id": "80f0e8b0-3eb3-4285-826a-13ef0a41c466"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        384
      ],
      "id": "d6c25943-9362-46ce-89ea-95002400788c",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Retry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        608
      ],
      "id": "9168b1ed-3f0d-47de-ae7f-3fa2634c4c9e",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "780a97f2-911e-418c-bf92-55069cf447f5",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"telegram_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        880
      ],
      "id": "017162b4-b655-4dec-9911-c45909ef78b9"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
        "text": "={{ $json.rendered_telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Accetta",
                    "additionalFields": {
                      "callback_data": "={{ $json.telegram_accept_callback_data || \"\" }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disableWebPagePreview": true
        }
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        880
      ],
      "id": "e2a43fa0-b80d-4c9c-a8a8-b2c56ee4bb5c",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "772b83fe-db34-4715-945b-95b25aeddcf2",
              "leftValue": "={{ !!String($json.message_id || $json.result?.message_id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        880
      ],
      "id": "5ee9e5ab-df96-40de-a85e-9a190be62459"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
      },
      "name": "Prepare Telegram Sent Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        768
      ],
      "id": "00f69a4e-c3b9-435e-a9ca-234a2cf78b29"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'TELEGRAM_SEND_FAILED' } };\n});"
      },
      "name": "Prepare Telegram Retry Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        992
      ],
      "id": "0cc8a84d-ed14-43bd-8ab0-f6a1d51abef4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        768
      ],
      "id": "b8a5a011-6b56-4127-a099-d92035a9fa63",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Retry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        992
      ],
      "id": "0175ecbe-d1ba-4bf9-9c9b-40d8726985be",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Outbox": {
      "main": [
        [
          {
            "node": "Filter Due Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Now": {
      "main": [
        [
          {
            "node": "Render Email Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email Payload": {
      "main": [
        [
          {
            "node": "If Email Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Channel?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If Email Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Sent?": {
      "main": [
        [
          {
            "node": "Prepare Email Sent Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email Retry Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Sent Update": {
      "main": [
        [
          {
            "node": "Update Outbox Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Retry Update": {
      "main": [
        [
          {
            "node": "Update Outbox Email Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Telegram Payload": {
      "main": [
        [
          {
            "node": "If Telegram Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Channel?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "If Telegram Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Sent?": {
      "main": [
        [
          {
            "node": "Prepare Telegram Sent Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Retry Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Sent Update": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Retry Update": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "65e035a5-9acb-4441-b501-cd36b206dd73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "ZirelNotificheDispatcher",
  "tags": [],
  "pinData": {}
}
