n8n_workflows/tecnomat-scraper.json
{
  "updatedAt": "2026-03-09T19:31:40.048Z",
  "createdAt": "2026-03-09T16:36:42.664Z",
  "id": "n35qKE2sL0y3nTuA",
  "name": "tecnomat-scraper",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tecnomat-scraper",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c35211a0-cea6-4a4c-b514-a1626a02333c",
      "name": "Webhook",
      "webhookId": "89f43e4e-91df-4d4b-acaa-c48f39475b7a"
    },
    {
      "parameters": {
        "url": "=https://www.tecnomat.it/api/v1/search?text={{ $('Webhook').item.json.body.query }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "it-IT,it;q=0.8,en-US;q=0.5,en;q=0.3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "f84c089f-549a-470a-bd17-9777108d044a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "9e1f1632-0e73-4f31-b963-98290bfa6fec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Prendi l'array dei prodotti dalla richiesta HTTP precedente\nconst products = $input.first().json.results || [];\n\n// Mappa solo i primi 5 e prendi le informazioni chiave\nconst risultatiPuliti = products.slice(0, 5).map(p => ({\n  nome: p.name,\n  prezzo: p.price ? p.price.formattedValue : 'N/A',\n  disponibilita: p.stock && p.stock.stockLevel > 0 ? \"Disponibile\" : \"Esaurito\",\n  reparto: p.categories && p.categories.length > 0 ? p.categories[0].name : \"Generico\"\n}));\n\n// Ricostruisci il JSON finale che aspetta Niki\nreturn {\n  negozio: \"Tecnomat Rimini\",\n  query_cercata: $('Webhook').item.json.body.query,\n  risultati: risultatiPuliti\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "97956a01-d104-4372-b5df-2fe8b1f353aa",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "36dc45a1-3705-4c0f-8649-dac137425674",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-09T16:36:42.664Z",
      "createdAt": "2026-03-09T16:36:42.664Z",
      "role": "workflow:owner",
      "workflowId": "n35qKE2sL0y3nTuA",
      "projectId": "2Cf6i0jib9PfATFz"
    }
  ],
  "activeVersion": null,
  "tags": []
}