n8n_workflows/whatsapp_v3_outbound_sender.json
{
  "name": "WhatsApp 3 - Outbound Sender (V3.2 Hardened)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Cron (1 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "2affa6cf-9b32-47c0-a760-c33f304c2a90"
    },
    {
      "parameters": {
        "jsCode": "const claimedRows = [];\nconst supabaseUrl = String($env.SUPABASE_URL || '').trim();\nconst serviceKey = String($env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\nconst graphVersion = String($env.WHATSAPP_GRAPH_VERSION || 'v23.0').trim();\n\nif (!supabaseUrl || !serviceKey) {\n  return [{\n    json: {\n      id: 'missing-env',\n      processing_status: 'error',\n      delivery_status: 'failed',\n      error_message: 'RETRY: missing SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY'\n    }\n  }];\n}\n\nconst defaultHeaders = {\n  apikey: serviceKey,\n  Authorization: 'Bearer ' + serviceKey,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation',\n};\n\nconst encode = (value) => encodeURIComponent(String(value ?? ''));\nconst truncate = (value, max = 1000) => String(value || '').slice(0, max);\nconst sanitizeRef = (value) => String(value || '').trim().replace(/[^A-Za-z0-9_]/g, '_').toUpperCase();\n\nconst rest = async (method, path, body) => {\n  try {\n    return await this.helpers.httpRequest({\n      method,\n      url: supabaseUrl + '/rest/v1/' + path,\n      headers: defaultHeaders,\n      body: body === undefined ? undefined : body,\n      json: true,\n    });\n  } catch (error) {\n    const responseBody =\n      error?.response?.body === undefined\n        ? ''\n        : typeof error.response.body === 'string'\n          ? error.response.body\n          : JSON.stringify(error.response.body);\n    const details = truncate(responseBody || error?.message || error);\n    throw new Error('Supabase ' + method + ' ' + path + ' failed: ' + details);\n  }\n};\n\nconst graphRequest = async (phoneNumberId, accessToken, body) => {\n  try {\n    return await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://graph.facebook.com/' + graphVersion + '/' + encode(phoneNumberId) + '/messages',\n      headers: {\n        Authorization: 'Bearer ' + accessToken,\n        'Content-Type': 'application/json',\n      },\n      body,\n      json: true,\n    });\n  } catch (error) {\n    const responseBody =\n      error?.response?.body === undefined\n        ? ''\n        : typeof error.response.body === 'string'\n          ? error.response.body\n          : JSON.stringify(error.response.body);\n    const details = truncate(responseBody || error?.message || error);\n    throw new Error('Meta send failed: ' + details);\n  }\n};\n\nconst selectCandidates = async () => {\n  const rows = await rest(\n    'GET',\n    'conversation_messages?select=id,conversation_id,tenant_id,channel,direction,external_message_id,delivery_status,processing_status,content_text,provider_payload_json,created_at,sender_role,message_type&direction=eq.outbound&channel=eq.whatsapp&external_message_id=is.null&processing_status=eq.done&order=created_at.asc&limit=50'\n  );\n  return Array.isArray(rows) ? rows : [];\n};\n\nconst claimRow = async (rowId) => {\n  const rows = await rest(\n    'PATCH',\n    'conversation_messages?id=eq.' + encode(rowId) + '&external_message_id=is.null&processing_status=eq.done',\n    {\n      processing_status: 'processing',\n    }\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getTenantAccount = async (tenantId) => {\n  if (!tenantId) return null;\n  const rows = await rest(\n    'GET',\n    'tenant_whatsapp_accounts?select=id,tenant_id,meta_phone_number_id,credential_mode,credential_provider,access_token_ref&tenant_id=eq.' +\n      encode(tenantId) +\n      '&order=created_at.asc.nullslast&limit=1'\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getConversation = async (conversationId) => {\n  if (!conversationId) return null;\n  const rows = await rest(\n    'GET',\n    'tenant_conversations?select=id,tenant_id,external_contact_id,customer_phone_normalized,last_outbound_message_id,last_message_at,last_outbound_at&' +\n      'id=eq.' +\n      encode(conversationId) +\n      '&limit=1'\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst resolveRecipient = (conversation, message) => {\n  const explicitRecipient = message?.provider_payload_json?.recipient_phone || message?.provider_payload_json?.to || null;\n  return explicitRecipient || conversation?.customer_phone_normalized || conversation?.external_contact_id || null;\n};\n\nconst resolveTextBody = (message) => {\n  const body =\n    message?.content_text ||\n    message?.provider_payload_json?.text_content ||\n    message?.provider_payload_json?.text?.body ||\n    null;\n  return typeof body === 'string' ? body.trim() : null;\n};\n\nconst resolveAccessToken = (account) => {\n  if (!account) return null;\n\n  const accessTokenRef = String(account.access_token_ref || '').trim();\n  const directPlatform =\n    String($env.WHATSAPP_PLATFORM_ACCESS_TOKEN || '').trim() ||\n    String($env.WHATSAPP_ACCESS_TOKEN || '').trim() ||\n    '';\n\n  if (String(account.credential_mode || '') === 'platform_managed') {\n    if (directPlatform) return directPlatform;\n  }\n\n  if (accessTokenRef) {\n    if (accessTokenRef.startsWith('env:')) {\n      const envName = accessTokenRef.slice(4).trim();\n      if (envName && String($env[envName] || '').trim()) {\n        return String($env[envName]).trim();\n      }\n    }\n\n    const refEnvName = 'WHATSAPP_TOKEN_REF_' + sanitizeRef(accessTokenRef);\n    if (String($env[refEnvName] || '').trim()) {\n      return String($env[refEnvName]).trim();\n    }\n  }\n\n  return directPlatform || null;\n};\n\nconst patchMessage = async (messageId, body) => {\n  if (!messageId) return [];\n  return rest('PATCH', 'conversation_messages?id=eq.' + encode(messageId), body);\n};\n\nconst patchConversation = async (conversationId, body) => {\n  if (!conversationId) return [];\n  return rest('PATCH', 'tenant_conversations?id=eq.' + encode(conversationId), body);\n};\n\nconst outcomes = [];\n\nfor (const candidate of await selectCandidates()) {\n  const claimed = await claimRow(candidate.id);\n  if (claimed?.id) {\n    claimedRows.push({ ...candidate, ...claimed });\n  }\n}\n\nif (!claimedRows.length) {\n  return [];\n}\n\nfor (const row of claimedRows) {\n  try {\n    if (!row?.tenant_id || !row?.conversation_id) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing tenant_id or conversation_id',\n        },\n      });\n      continue;\n    }\n\n    const tenantAccount = await getTenantAccount(row.tenant_id);\n    if (!tenantAccount?.meta_phone_number_id) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing tenant whatsapp account',\n        },\n      });\n      continue;\n    }\n\n    const accessToken = resolveAccessToken(tenantAccount);\n    if (!accessToken) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing access token for sender',\n        },\n      });\n      continue;\n    }\n\n    const conversation = await getConversation(row.conversation_id);\n    const recipientPhone = resolveRecipient(conversation, row);\n    const bodyText = resolveTextBody(row);\n\n    if (!recipientPhone) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing outbound recipient phone',\n        },\n      });\n      continue;\n    }\n\n    if (!bodyText) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing outbound text body',\n        },\n      });\n      continue;\n    }\n\n    const payload = {\n      messaging_product: 'whatsapp',\n      to: recipientPhone,\n      type: 'text',\n      text: { body: bodyText },\n    };\n\n    const response = await graphRequest(tenantAccount.meta_phone_number_id, accessToken, payload);\n    const externalMessageId = Array.isArray(response?.messages) && response.messages[0]?.id ? response.messages[0].id : null;\n\n    if (!externalMessageId) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processing_status: 'error',\n          delivery_status: 'failed',\n          error_message: 'RETRY: missing external_message_id from Meta',\n        },\n      });\n      continue;\n    }\n\n    await patchConversation(row.conversation_id, {\n      last_message_at: new Date().toISOString(),\n      last_outbound_at: new Date().toISOString(),\n      last_outbound_message_id: row.id,\n    });\n\n    outcomes.push({\n      json: {\n        id: row.id,\n        processing_status: 'done',\n        delivery_status: 'sent',\n        sent_at: new Date().toISOString(),\n        failed_at: null,\n        external_message_id: externalMessageId,\n        provider_payload_json: {\n          ...(row.provider_payload_json || {}),\n          sender_meta_phone_number_id: tenantAccount.meta_phone_number_id,\n          sender_account_id: tenantAccount.id,\n          sender_payload: payload,\n          sender_response: response,\n        },\n        error_message: null,\n      },\n    });\n  } catch (error) {\n    outcomes.push({\n      json: {\n        id: row.id,\n        processing_status: 'error',\n        delivery_status: 'failed',\n        failed_at: new Date().toISOString(),\n        error_message: 'RETRY: ' + truncate(error.message || error),\n      },\n    });\n  }\n}\n\nreturn outcomes;"
      },
      "name": "Code: Claim + Send Outbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        200
      ],
      "id": "wa-sender-code",
      "notesInFlow": true,
      "notes": "Legge la queue outbound, risolve account/token, invia via Meta Cloud API e aggiorna messaggi/conversazioni."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversation_messages",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "={{ $json.processing_status }}"
            },
            {
              "fieldId": "delivery_status",
              "fieldValue": "={{ $json.delivery_status }}"
            },
            {
              "fieldId": "external_message_id",
              "fieldValue": "={{ $json.external_message_id || null }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "failed_at",
              "fieldValue": "={{ $json.failed_at || null }}"
            },
            {
              "fieldId": "provider_payload_json",
              "fieldValue": "={{ $json.provider_payload_json || null }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message || null }}"
            }
          ]
        }
      },
      "name": "Supabase: Persist Send Outcome",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        760,
        200
      ],
      "id": "wa-sender-update",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      },
      "notesInFlow": true,
      "notes": "Persistenza finale dell’esito outbound. La queue e definita dai messaggi outbound con external_message_id nullo."
    }
  ],
  "connections": {
    "Cron (1 min)": {
      "main": [
        [
          {
            "node": "Code: Claim + Send Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Claim + Send Outbound": {
      "main": [
        [
          {
            "node": "Supabase: Persist Send Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
