n8n_workflows/whatsapp_v3_processor.json
{
  "name": "WhatsApp 2 - Event Processor (V3.2 Hardened)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Cron (1 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "8cb14248-548a-4cd6-b4bd-55852a9588a6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.channel_webhook_events\nSET event_status = 'processing',\n    error_message = CONCAT('PROCESSING:', NOW() AT TIME ZONE 'UTC')\nWHERE id IN (\n  SELECT id\n  FROM public.channel_webhook_events\n  WHERE event_status IN ('pending', 'failed')\n     OR (\n       event_status = 'processing'\n       AND (\n         error_message IS NULL\n         OR error_message NOT LIKE 'PROCESSING:%'\n         OR COALESCE(NULLIF(split_part(error_message, 'PROCESSING:', 2), ''), '1970-01-01 00:00:00')::timestamp <= ((NOW() AT TIME ZONE 'UTC') - INTERVAL '15 minutes')\n       )\n     )\n  ORDER BY created_at ASC\n  LIMIT 50\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING id, payload_json, processed, event_status, error_message;",
        "options": {}
      },
      "name": "Postgres: Claim Pending Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "id": "wa-processor-claim",
      "credentials": {
        "postgres": {
          "id": "y26w3cf5oDEAQXdB",
          "name": "Postgres account"
        }
      },
      "notesInFlow": true,
      "notes": "Claim queue basato su event_status, con requeue automatico dei record processing stantii dopo 15 minuti. processed resta per compatibilita e audit semplice."
    },
    {
      "parameters": {
        "jsCode": "const claimedRows = $input.all().map((item) => item.json || {}).filter((row) => row && row.id);\nif (!claimedRows.length) {\n  return [];\n}\n\nconst supabaseUrl = String($env.SUPABASE_URL || '').trim();\nconst serviceKey = String($env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\n\nif (!supabaseUrl || !serviceKey) {\n      return claimedRows.map((row) => ({\n        json: {\n          id: row.id,\n          processed: false,\n          event_status: 'failed',\n          error_message: 'RETRY: missing SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY'\n        }\n      }));\n}\n\nconst defaultHeaders = {\n  apikey: serviceKey,\n  Authorization: \\`Bearer \\${serviceKey}\\`,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation',\n};\n\nconst encode = (value) => encodeURIComponent(String(value ?? ''));\nconst normalizePhone = (value) => String(value || '').replace(/[^\\d+]/g, '');\nconst truncate = (value, max = 500) => String(value || '').slice(0, max);\n\nconst rest = async (method, path, body) => {\n  const response = await fetch(\\`\\${supabaseUrl}/rest/v1/\\${path}\\`, {\n    method,\n    headers: defaultHeaders,\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n\n  const text = await response.text();\n  let data = null;\n  if (text) {\n    try {\n      data = JSON.parse(text);\n    } catch {\n      data = text;\n    }\n  }\n\n  if (!response.ok) {\n    throw new Error(\\`Supabase \\${method} \\${path} failed: \\${response.status} \\${truncate(typeof data === 'string' ? data : JSON.stringify(data))}\\`);\n  }\n\n  return data;\n};\n\nconst extractText = (message) => {\n  if (!message || typeof message !== 'object') return null;\n  if (message.text?.body) return String(message.text.body).trim() || null;\n  if (message.button?.text) return String(message.button.text).trim() || null;\n  if (message.interactive?.button_reply?.title) return String(message.interactive.button_reply.title).trim() || null;\n  if (message.interactive?.list_reply?.title) return String(message.interactive.list_reply.title).trim() || null;\n  if (message.image?.caption) return String(message.image.caption).trim() || null;\n  if (message.document?.caption) return String(message.document.caption).trim() || null;\n  return null;\n};\n\nconst flattenWebhookRow = (row) => {\n  const payload = row?.payload_json?.body || row?.payload_json || {};\n  const entries = Array.isArray(payload.entry) ? payload.entry : [];\n  const events = [];\n\n  for (const entry of entries) {\n    const changes = Array.isArray(entry?.changes) ? entry.changes : [];\n    for (const change of changes) {\n      const value = change?.value;\n      if (!value || typeof value !== 'object') continue;\n\n      const phoneNumberId = value?.metadata?.phone_number_id || null;\n      const contacts = Array.isArray(value?.contacts) ? value.contacts : [];\n      const messages = Array.isArray(value?.messages) ? value.messages : [];\n      const statuses = Array.isArray(value?.statuses) ? value.statuses : [];\n\n      for (const message of messages) {\n        const rawPhone = message?.from || null;\n        const matchingContact = contacts.find((contact) => String(contact?.wa_id || '') === String(rawPhone || '')) || contacts[0] || null;\n        events.push({\n          type: 'message',\n          webhook_row_id: row.id,\n          phone_number_id: phoneNumberId,\n          wamid: message?.id || null,\n          customer_phone_raw: rawPhone,\n          customer_phone_normalized: normalizePhone(rawPhone),\n          customer_name: matchingContact?.profile?.name || null,\n          text_content: extractText(message),\n          message_timestamp: message?.timestamp ? new Date(Number(message.timestamp) * 1000).toISOString() : new Date().toISOString(),\n          event_data: message,\n        });\n      }\n\n      for (const status of statuses) {\n        events.push({\n          type: 'status',\n          webhook_row_id: row.id,\n          phone_number_id: phoneNumberId,\n          wamid: status?.id || null,\n          delivery_status: status?.status || null,\n          status_timestamp: status?.timestamp ? new Date(Number(status.timestamp) * 1000).toISOString() : new Date().toISOString(),\n          event_data: status,\n        });\n      }\n    }\n  }\n\n  return events;\n};\n\nconst getSingleTenantAccount = async (phoneNumberId) => {\n  if (!phoneNumberId) return null;\n  const rows = await rest('GET', \\`tenant_whatsapp_accounts?select=id,tenant_id,meta_phone_number_id,credential_mode,credential_provider&meta_phone_number_id=eq.\\${encode(phoneNumberId)}&limit=1\\`);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getExistingConversation = async (tenantId, externalContactId, normalizedPhone) => {\n  if (!tenantId) return null;\n  const orConditions = [];\n  if (externalContactId) orConditions.push(\\`external_contact_id.eq.\\${externalContactId}\\`);\n  if (normalizedPhone) orConditions.push(\\`customer_phone_normalized.eq.\\${normalizedPhone}\\`);\n  if (!orConditions.length) return null;\n\n  const query = [\n    'tenant_conversations?select=id,last_inbound_message_id,last_outbound_message_id,last_message_at,ai_processing_status',\n    \\`tenant_id=eq.\\${encode(tenantId)}\\`,\n    'channel=eq.whatsapp',\n    \\`or=\\${encode(\\`(\\${orConditions.join(',')})\\`)}\\`,\n    'order=last_message_at.desc.nullslast',\n    'limit=1',\n  ].join('&');\n\n  const rows = await rest('GET', query);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst createConversation = async (tenantAccount, event) => {\n  const body = {\n    tenant_id: tenantAccount.tenant_id,\n    channel: 'whatsapp',\n    external_contact_id: event.customer_phone_raw || event.customer_phone_normalized || null,\n    customer_phone_normalized: event.customer_phone_normalized || null,\n    customer_name: event.customer_name || null,\n    ai_processing_status: 'pending_ai',\n    last_message_at: event.message_timestamp || new Date().toISOString(),\n  };\n\n  const rows = await rest('POST', 'tenant_conversations', body);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getExistingMessage = async (tenantId, wamid) => {\n  if (!tenantId || !wamid) return null;\n  const rows = await rest('GET', \\`conversation_messages?select=id,conversation_id,external_message_id,delivery_status&tenant_id=eq.\\${encode(tenantId)}&external_message_id=eq.\\${encode(wamid)}&limit=1\\`);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst insertMessage = async (conversationId, tenantId, event) => {\n  const body = {\n    conversation_id: conversationId,\n    tenant_id: tenantId,\n    channel: 'whatsapp',\n    direction: 'inbound',\n    sender_role: 'customer',\n    external_message_id: event.wamid,\n    processing_status: 'pending_ai',\n    provider_payload_json: {\n      meta_phone_number_id: event.phone_number_id || null,\n      customer_phone_normalized: event.customer_phone_normalized || null,\n      customer_name: event.customer_name || null,\n      text_content: event.text_content || null,\n      message_payload: event.event_data || null,\n    },\n  };\n\n  const rows = await rest('POST', 'conversation_messages', body);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst patchConversation = async (conversationId, body) => {\n  if (!conversationId) return [];\n  return rest('PATCH', \\`tenant_conversations?id=eq.\\${encode(conversationId)}\\`, body);\n};\n\nconst patchMessage = async (messageId, body) => {\n  if (!messageId) return [];\n  return rest('PATCH', \\`conversation_messages?id=eq.\\${encode(messageId)}\\`, body);\n};\n\nconst outcomes = [];\n\nfor (const row of claimedRows) {\n  try {\n    const flattenedEvents = flattenWebhookRow(row);\n    if (!flattenedEvents.length) {\n      outcomes.push({ json: { id: row.id, processed: true, event_status: 'orphan', error_message: 'NO_SUPPORTED_EVENTS' } });\n      continue;\n    }\n\n    const rowNotes = [];\n    let retryReason = null;\n    let hadSuccessfulMutation = false;\n\n    for (const event of flattenedEvents) {\n      const tenantAccount = await getSingleTenantAccount(event.phone_number_id);\n      if (!tenantAccount?.tenant_id) {\n        rowNotes.push(\\`ORPHAN_TENANT:\\${event.phone_number_id || 'missing_phone_number_id'}\\`);\n        continue;\n      }\n\n      if (!event.wamid) {\n        rowNotes.push('INVALID_EVENT:missing_wamid');\n        continue;\n      }\n\n      if (event.type === 'message') {\n        if (!event.customer_phone_raw && !event.customer_phone_normalized) {\n          rowNotes.push(\\`INVALID_MESSAGE_PHONE:\\${event.wamid}\\`);\n          continue;\n        }\n\n        let conversation = await getExistingConversation(\n          tenantAccount.tenant_id,\n          event.customer_phone_raw,\n          event.customer_phone_normalized\n        );\n\n        if (!conversation) {\n          conversation = await createConversation(tenantAccount, event);\n        }\n\n        if (!conversation?.id) {\n          retryReason = 'conversation_create_failed';\n          break;\n        }\n\n        let message = await getExistingMessage(tenantAccount.tenant_id, event.wamid);\n        if (!message) {\n          message = await insertMessage(conversation.id, tenantAccount.tenant_id, event);\n        }\n\n        if (!message?.id) {\n          retryReason = \\`message_insert_failed:\\${event.wamid}\\`;\n          break;\n        }\n\n        await patchConversation(conversation.id, {\n          last_message_at: event.message_timestamp,\n          customer_phone_normalized: event.customer_phone_normalized || null,\n          external_contact_id: event.customer_phone_raw || event.customer_phone_normalized || null,\n          customer_name: event.customer_name || null,\n          ai_processing_status: 'pending_ai',\n          last_inbound_message_id: message.id,\n        });\n        hadSuccessfulMutation = true;\n      } else if (event.type === 'status') {\n        const message = await getExistingMessage(tenantAccount.tenant_id, event.wamid);\n        if (!message?.id) {\n          rowNotes.push(\\`ORPHAN_STATUS:\\${event.wamid}\\`);\n          continue;\n        }\n\n        await patchMessage(message.id, {\n          delivery_status: event.delivery_status || null,\n        });\n        hadSuccessfulMutation = true;\n      }\n    }\n\n    if (retryReason) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processed: false,\n          event_status: 'failed',\n          error_message: \\`RETRY: \\${truncate(retryReason)}\\`,\n        },\n      });\n      continue;\n    }\n\n    outcomes.push({\n      json: {\n        id: row.id,\n        processed: true,\n        event_status: hadSuccessfulMutation ? 'completed' : 'orphan',\n        error_message: rowNotes.length ? truncate([...new Set(rowNotes)].join('|')) : null,\n      },\n    });\n  } catch (error) {\n    outcomes.push({\n      json: {\n        id: row.id,\n        processed: false,\n        event_status: 'failed',\n        error_message: \\`RETRY: \\${truncate(error.message || error)}\\`,\n      },\n    });\n  }\n}\n\nreturn outcomes;"
      },
      "name": "Code: Process Claimed Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        200
      ],
      "id": "wa-processor-code",
      "notesInFlow": true,
      "notes": "Esegue parsing Meta, tenant resolution, conversation match/create, inbound insert idempotente, status update e produce un outcome per webhook row."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "channel_webhook_events",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "={{ $json.processed }}"
            },
            {
              "fieldId": "event_status",
              "fieldValue": "={{ $json.event_status }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message || null }}"
            }
          ]
        }
      },
      "name": "Supabase: Persist Event Outcome",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        200
      ],
      "id": "wa-processor-update",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      },
      "notesInFlow": true,
      "notes": "processed=true solo a fine lavorazione della singola webhook row. RETRY:* resta claimabile al giro successivo."
    }
  ],
  "connections": {
    "Cron (1 min)": {
      "main": [
        [
          {
            "node": "Postgres: Claim Pending Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Claim Pending Events": {
      "main": [
        [
          {
            "node": "Code: Process Claimed Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Process Claimed Events": {
      "main": [
        [
          {
            "node": "Supabase: Persist Event Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
