n8n_workflows/WhatsApp 2 - Event Processor (V3.2 Hardened).json
{
  "name": "WhatsApp 2 - Event Processor (V3.2 Hardened)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Cron (1 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        2112,
        1152
      ],
      "id": "7ced19a4-0b83-44f7-b24f-db61fe16ade8"
    },
    {
      "parameters": {
        "jsCode": "const claimedRows = [];\nconst supabaseUrl = String($env.SUPABASE_URL || '').trim();\nconst serviceKey = String($env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\n\nif (!supabaseUrl || !serviceKey) {\n  return [{\n    json: {\n      id: 'missing-env',\n      processed: false,\n      event_status: 'failed',\n      error_message: 'RETRY: missing SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY'\n    }\n  }];\n}\n\nconst defaultHeaders = {\n  apikey: serviceKey,\n  Authorization: 'Bearer ' + serviceKey,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation',\n};\n\nconst encode = (value) => encodeURIComponent(String(value ?? ''));\nconst normalizePhone = (value) => String(value || '').replace(/[^\\d+]/g, '');\nconst truncate = (value, max = 500) => String(value || '').slice(0, max);\n\nconst rest = async (method, path, body) => {\n  try {\n    return await this.helpers.httpRequest({\n      method,\n      url: supabaseUrl + '/rest/v1/' + path,\n      headers: defaultHeaders,\n      body: body === undefined ? undefined : body,\n      json: true,\n    });\n  } catch (error) {\n    const responseBody =\n      error?.response?.body === undefined\n        ? ''\n        : typeof error.response.body === 'string'\n          ? error.response.body\n          : JSON.stringify(error.response.body);\n    const details = truncate(responseBody || error?.message || error);\n    throw new Error('Supabase ' + method + ' ' + path + ' failed: ' + details);\n  }\n};\n\nconst selectCandidates = async () => {\n  const rows = await rest(\n    'GET',\n    'channel_webhook_events?select=id,payload_json,processed,event_status,error_message,created_at&event_status=in.(pending,failed)&order=created_at.asc&limit=50'\n  );\n  return Array.isArray(rows) ? rows : [];\n};\n\nconst claimRow = async (rowId) => {\n  const claimedAt = new Date().toISOString();\n  const rows = await rest(\n    'PATCH',\n    'channel_webhook_events?id=eq.' + encode(rowId) + '&event_status=in.(pending,failed)',\n    {\n      event_status: 'processing',\n      error_message: 'PROCESSING:' + claimedAt,\n      processed: false,\n    }\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst extractText = (message) => {\n  if (!message || typeof message !== 'object') return null;\n  if (message.text?.body) return String(message.text.body).trim() || null;\n  if (message.button?.text) return String(message.button.text).trim() || null;\n  if (message.interactive?.button_reply?.title) return String(message.interactive.button_reply.title).trim() || null;\n  if (message.interactive?.list_reply?.title) return String(message.interactive.list_reply.title).trim() || null;\n  if (message.image?.caption) return String(message.image.caption).trim() || null;\n  if (message.document?.caption) return String(message.document.caption).trim() || null;\n  return null;\n};\n\nconst flattenWebhookRow = (row) => {\n  const payload = row?.payload_json?.body || row?.payload_json || {};\n  const entries = Array.isArray(payload.entry) ? payload.entry : [];\n  const events = [];\n\n  for (const entry of entries) {\n    const changes = Array.isArray(entry?.changes) ? entry.changes : [];\n    for (const change of changes) {\n      const value = change?.value;\n      if (!value || typeof value !== 'object') continue;\n\n      const phoneNumberId = value?.metadata?.phone_number_id || null;\n      const contacts = Array.isArray(value?.contacts) ? value.contacts : [];\n      const messages = Array.isArray(value?.messages) ? value.messages : [];\n      const statuses = Array.isArray(value?.statuses) ? value.statuses : [];\n\n      for (const message of messages) {\n        const rawPhone = message?.from || null;\n        const matchingContact = contacts.find((contact) => String(contact?.wa_id || '') === String(rawPhone || '')) || contacts[0] || null;\n        events.push({\n          type: 'message',\n          webhook_row_id: row.id,\n          phone_number_id: phoneNumberId,\n          wamid: message?.id || null,\n          customer_phone_raw: rawPhone,\n          customer_phone_normalized: normalizePhone(rawPhone),\n          customer_name: matchingContact?.profile?.name || null,\n          text_content: extractText(message),\n          message_timestamp: message?.timestamp ? new Date(Number(message.timestamp) * 1000).toISOString() : new Date().toISOString(),\n          event_data: message,\n        });\n      }\n\n      for (const status of statuses) {\n        events.push({\n          type: 'status',\n          webhook_row_id: row.id,\n          phone_number_id: phoneNumberId,\n          wamid: status?.id || null,\n          delivery_status: status?.status || null,\n          status_timestamp: status?.timestamp ? new Date(Number(status.timestamp) * 1000).toISOString() : new Date().toISOString(),\n          event_data: status,\n        });\n      }\n    }\n  }\n\n  return events;\n};\n\nconst getSingleTenantAccount = async (phoneNumberId) => {\n  if (!phoneNumberId) return null;\n  const rows = await rest(\n    'GET',\n    'tenant_whatsapp_accounts?select=id,tenant_id,meta_phone_number_id,credential_mode,credential_provider,webhook_verified_at,last_webhook_at&meta_phone_number_id=eq.' +\n      encode(phoneNumberId) +\n      '&limit=1'\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getExistingConversation = async (tenantId, externalContactId, normalizedPhone) => {\n  if (!tenantId) return null;\n  const orConditions = [];\n  if (externalContactId) orConditions.push('external_contact_id.eq.' + externalContactId);\n  if (normalizedPhone) orConditions.push('customer_phone_normalized.eq.' + normalizedPhone);\n  if (!orConditions.length) return null;\n\n  const query = [\n    'tenant_conversations?select=id,last_inbound_message_id,last_outbound_message_id,last_message_at,ai_processing_status',\n    'tenant_id=eq.' + encode(tenantId),\n    'channel=eq.whatsapp',\n    'or=' + encode('(' + orConditions.join(',') + ')'),\n    'order=last_message_at.desc.nullslast',\n    'limit=1',\n  ].join('&');\n\n  const rows = await rest('GET', query);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst createConversation = async (tenantAccount, event) => {\n  const body = {\n    tenant_id: tenantAccount.tenant_id,\n    channel: 'whatsapp',\n    external_contact_id: event.customer_phone_raw || event.customer_phone_normalized || null,\n    customer_phone_normalized: event.customer_phone_normalized || null,\n    customer_name: event.customer_name || null,\n    first_message_at: event.message_timestamp || new Date().toISOString(),\n    last_message_at: event.message_timestamp || new Date().toISOString(),\n    last_inbound_at: event.message_timestamp || new Date().toISOString(),\n  };\n\n  const rows = await rest('POST', 'tenant_conversations', body);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst getExistingMessage = async (tenantId, wamid) => {\n  if (!tenantId || !wamid) return null;\n  const rows = await rest(\n    'GET',\n    'conversation_messages?select=id,conversation_id,external_message_id,delivery_status&tenant_id=eq.' +\n      encode(tenantId) +\n      '&external_message_id=eq.' +\n      encode(wamid) +\n      '&limit=1'\n  );\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst insertMessage = async (conversationId, tenantId, event) => {\n  const body = {\n    conversation_id: conversationId,\n    tenant_id: tenantId,\n    channel: 'whatsapp',\n    direction: 'inbound',\n    sender_role: 'customer',\n    external_message_id: event.wamid,\n    processing_status: 'pending_ai',\n    provider_payload_json: {\n      meta_phone_number_id: event.phone_number_id || null,\n      customer_phone_normalized: event.customer_phone_normalized || null,\n      customer_name: event.customer_name || null,\n      text_content: event.text_content || null,\n      message_payload: event.event_data || null,\n    },\n  };\n\n  const rows = await rest('POST', 'conversation_messages', body);\n  return Array.isArray(rows) && rows.length > 0 ? rows[0] : null;\n};\n\nconst patchConversation = async (conversationId, body) => {\n  if (!conversationId) return [];\n  return rest(\n    'PATCH',\n    'tenant_conversations?id=eq.' +\n      encode(conversationId) +\n      '&select=id,last_inbound_message_id,last_message_at,last_inbound_at',\n    body\n  );\n};\n\nconst patchMessage = async (messageId, body) => {\n  if (!messageId) return [];\n  return rest('PATCH', 'conversation_messages?id=eq.' + encode(messageId), body);\n};\n\nconst patchTenantAccount = async (tenantAccountId, body) => {\n  if (!tenantAccountId) return [];\n  return rest('PATCH', 'tenant_whatsapp_accounts?id=eq.' + encode(tenantAccountId), body);\n};\n\nconst buildStatusPatch = (event) => {\n  const patch = {\n    delivery_status: event.delivery_status || null,\n  };\n\n  const statusTimestamp = event.status_timestamp || new Date().toISOString();\n\n  if (event.delivery_status === 'sent') {\n    patch.sent_at = statusTimestamp;\n  } else if (event.delivery_status === 'delivered') {\n    patch.delivered_at = statusTimestamp;\n  } else if (event.delivery_status === 'read') {\n    patch.read_at = statusTimestamp;\n  } else if (event.delivery_status === 'failed') {\n    patch.failed_at = statusTimestamp;\n  }\n\n  const providerErrors = Array.isArray(event?.event_data?.errors) ? event.event_data.errors : [];\n  if (providerErrors.length) {\n    const firstError = providerErrors[0] || {};\n    patch.error_code = firstError.code ? String(firstError.code) : null;\n    patch.error_message =\n      firstError.title ||\n      firstError.message ||\n      firstError.details ||\n      patch.error_message ||\n      null;\n  }\n\n  return patch;\n};\n\nconst outcomes = [];\n\nfor (const candidate of await selectCandidates()) {\n  const claimed = await claimRow(candidate.id);\n  if (claimed?.id) {\n    claimedRows.push(claimed);\n  }\n}\n\nif (!claimedRows.length) {\n  return [];\n}\n\nfor (const row of claimedRows) {\n  try {\n    const flattenedEvents = flattenWebhookRow(row);\n    if (!flattenedEvents.length) {\n      outcomes.push({ json: { id: row.id, processed: true, event_status: 'orphan', error_message: 'NO_SUPPORTED_EVENTS' } });\n      continue;\n    }\n\n    const rowNotes = [];\n    let retryReason = null;\n    let hadSuccessfulMutation = false;\n\n    for (const event of flattenedEvents) {\n      const tenantAccount = await getSingleTenantAccount(event.phone_number_id);\n      if (!tenantAccount?.tenant_id) {\n        rowNotes.push('ORPHAN_TENANT:' + (event.phone_number_id || 'missing_phone_number_id'));\n        continue;\n      }\n\n      const webhookTimestamp =\n        event.message_timestamp ||\n        event.status_timestamp ||\n        new Date().toISOString();\n      const tenantAccountPatch = {\n        last_webhook_at: webhookTimestamp,\n      };\n      if (!tenantAccount.webhook_verified_at) {\n        tenantAccountPatch.webhook_verified_at = webhookTimestamp;\n        tenantAccount.webhook_verified_at = webhookTimestamp;\n      }\n      await patchTenantAccount(tenantAccount.id, tenantAccountPatch);\n\n      if (!event.wamid) {\n        rowNotes.push('INVALID_EVENT:missing_wamid');\n        continue;\n      }\n\n      if (event.type === 'message') {\n        if (!event.customer_phone_raw && !event.customer_phone_normalized) {\n          rowNotes.push('INVALID_MESSAGE_PHONE:' + event.wamid);\n          continue;\n        }\n\n        let conversation = await getExistingConversation(\n          tenantAccount.tenant_id,\n          event.customer_phone_raw,\n          event.customer_phone_normalized\n        );\n\n        if (!conversation) {\n          conversation = await createConversation(tenantAccount, event);\n        }\n\n        if (!conversation?.id) {\n          retryReason = 'conversation_create_failed';\n          break;\n        }\n\n        let message = await getExistingMessage(tenantAccount.tenant_id, event.wamid);\n        if (!message) {\n          message = await insertMessage(conversation.id, tenantAccount.tenant_id, event);\n        }\n\n        if (!message?.id) {\n          retryReason = 'message_insert_failed:' + event.wamid;\n          break;\n        }\n\n        let patchedConversationRows = await patchConversation(conversation.id, {\n          last_message_at: event.message_timestamp,\n          last_inbound_at: event.message_timestamp,\n          customer_phone_normalized: event.customer_phone_normalized || null,\n          external_contact_id: event.customer_phone_raw || event.customer_phone_normalized || null,\n          customer_name: event.customer_name || null,\n          last_inbound_message_id: message.id,\n        });\n        let patchedConversation = Array.isArray(patchedConversationRows) ? patchedConversationRows[0] : null;\n\n        if (patchedConversation?.last_inbound_message_id !== message.id) {\n          patchedConversationRows = await patchConversation(conversation.id, {\n            last_inbound_message_id: message.id,\n            last_inbound_at: event.message_timestamp,\n          });\n          patchedConversation = Array.isArray(patchedConversationRows) ? patchedConversationRows[0] : null;\n        }\n\n        if (patchedConversation?.last_inbound_message_id !== message.id) {\n          retryReason = 'conversation_pointer_update_failed:' + event.wamid;\n          break;\n        }\n        hadSuccessfulMutation = true;\n      } else if (event.type === 'status') {\n        const message = await getExistingMessage(tenantAccount.tenant_id, event.wamid);\n        if (!message?.id) {\n          rowNotes.push('ORPHAN_STATUS:' + event.wamid);\n          continue;\n        }\n\n        await patchMessage(message.id, buildStatusPatch(event));\n        hadSuccessfulMutation = true;\n      }\n    }\n\n    if (retryReason) {\n      outcomes.push({\n        json: {\n          id: row.id,\n          processed: false,\n          event_status: 'failed',\n          error_message: 'RETRY: ' + truncate(retryReason),\n        },\n      });\n      continue;\n    }\n\n    outcomes.push({\n      json: {\n        id: row.id,\n        processed: true,\n        event_status: hadSuccessfulMutation ? 'completed' : 'orphan',\n        error_message: rowNotes.length ? truncate([...new Set(rowNotes)].join('|')) : null,\n      },\n    });\n  } catch (error) {\n    outcomes.push({\n      json: {\n        id: row.id,\n        processed: false,\n        event_status: 'failed',\n        error_message: 'RETRY: ' + truncate(error.message || error),\n      },\n    });\n  }\n}\n\nreturn outcomes;"
      },
      "name": "Code: Claim + Process Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1152
      ],
      "id": "13b2a3d9-bd43-4f1b-bb6a-9ca40f1ccdaf",
      "notesInFlow": true,
      "notes": "Claima la coda via Supabase REST usando event_status, poi esegue parsing Meta, tenant resolution, conversation match/create, inbound insert idempotente e status update."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "channel_webhook_events",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "={{ $json.processed }}"
            },
            {
              "fieldId": "event_status",
              "fieldValue": "={{ $json.event_status }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message || null }}"
            }
          ]
        }
      },
      "name": "Supabase: Persist Event Outcome",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        1152
      ],
      "id": "1e4487e0-5a9c-49d0-a06c-0f05619d0d45",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      },
      "notes": "processed=true solo a fine lavorazione della singola webhook row. RETRY:* resta claimabile al giro successivo."
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (1 min)": {
      "main": [
        [
          {
            "node": "Code: Claim + Process Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Claim + Process Events": {
      "main": [
        [
          {
            "node": "Supabase: Persist Event Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8c4888eb-bd47-419f-9f61-139250bd8541",
  "meta": {
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "P8HSbeDOIg52DrPO",
  "tags": []
}