n8n_workflows/Zirèl - AI Core.json
{
  "updatedAt": "2026-05-03T17:29:24.392Z",
  "createdAt": "2026-03-01T23:45:29.584Z",
  "id": "vfYYOYyiEcSIzuze",
  "name": "Zirèl - AI Core",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        6864,
        -1232
      ],
      "id": "aa143c78-62e1-4f4a-bc63-61857780cdd1",
      "name": "When chat message received",
      "webhookId": "d9e10e54-2d61-4643-98ed-7bbe6221699e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "value": "={{ $json.metadata?.tenant_id || $json.tenant_id || \"\" }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.metadata?.session_id || `session_${Date.now()}` }}",
              "type": "string"
            },
            {
              "id": "trace_id",
              "name": "trace_id",
              "value": "={{ $json.metadata?.trace_id || `trace_${Date.now()}` }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.source || $json.metadata?.source || \"chat_widget\" }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ String($json.chatInput || \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "a4823881-b64d-4129-9dcb-2865f6a69757",
              "name": "room",
              "value": "={{ $json.room || $json.metadata?.room || \"\" }}",
              "type": "string"
            },
            {
              "id": "1a979f5a-424c-43d7-a1b5-81cc957a3a86",
              "name": "area",
              "value": "={{ $json.area || $json.metadata?.area || \"\" }}",
              "type": "string"
            },
            {
              "id": "c5283c60-66ab-435a-b56f-68568aa18438",
              "name": "entry_url",
              "value": "={{ $json.entryUrl || $json.entry_url || $json.metadata?.entry_url || \"\" }}",
              "type": "string"
            },
            {
              "id": "824cf66f-f53e-4279-8b77-2a5af2a41174",
              "name": "client",
              "value": "={{ $json.metadata?.client || \"chat_widget\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7088,
        -1232
      ],
      "id": "b4064113-a694-478d-8400-5682a08bc020",
      "name": "Crystalize Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_tenant",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check_chat",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7312,
        -1232
      ],
      "id": "d923f3f4-dcc8-48af-a7ab-850a82b50366",
      "name": "Security: Tenant Check"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tenants",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $('Crystalize Context').item.json.tenant_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7536,
        -1232
      ],
      "id": "54d7fcc5-aa1d-4160-b766-ad695b2bdc0f",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenant = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('it-IT', { timeZone: 'Europe/Rome' });\nconst timeStr = now.toLocaleTimeString('it-IT', {\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'Europe/Rome'\n});\n\nconst rawType = String(tenant.business_type || 'professional').toLowerCase().trim();\nlet businessType = 'professional';\nif (['restaurant', 'ristorante', 'locale', 'chiringuito', 'pizzeria'].includes(rawType)) businessType = 'restaurant';\nelse if (['hotel', 'albergo', 'b&b', 'bnb', 'struttura'].includes(rawType)) businessType = 'hotel';\nelse if (['medical', 'medico', 'studio_medico', 'clinica'].includes(rawType)) businessType = 'medical';\nelse if (['legal', 'legale', 'avvocato', 'studio_legale'].includes(rawType)) businessType = 'legal';\n\nconst addField = (fields, label, value) => {\n  if (value && String(value).trim() !== '') fields.push(`- ${label}: ${value}`);\n};\n\nconst fields = [];\naddField(fields, 'Nome Attività', tenant.nome_attivita);\naddField(fields, 'Telefono', tenant.telefono);\naddField(fields, 'Email', tenant.mail);\naddField(fields, 'Indirizzo', tenant.indirizzo);\naddField(fields, 'Orari Apertura', tenant.orari_apertura);\naddField(fields, 'Check-in/out', tenant.orari_checkin_checkout);\naddField(fields, 'Servizi Inclusi', tenant.servizi_inclusi);\naddField(fields, 'Prezzi', tenant.prezzo_medio);\naddField(fields, 'Link Booking', tenant.link_booking_esterno);\naddField(fields, 'Link Prenotazione Tavoli', tenant.link_prenotazione_tavoli);\naddField(fields, 'Info Utili', tenant.dati_testuali_brevi);\n\nconst sessionFields = [];\naddField(sessionFields, 'Sorgente Conversazione', tenant.source);\naddField(sessionFields, 'Client', tenant.client);\naddField(sessionFields, 'Camera', tenant.room);\naddField(sessionFields, 'Area', tenant.area);\naddField(sessionFields, 'Entry URL', tenant.entry_url);\n\nconst final_system_prompt = [\n  'Oggi è il giorno: ' + dateStr,\n  'Ora attuale: ' + timeStr,\n  'Fuso orario: Europe/Rome',\n  '',\n  '[IDENTITÀ]',\n  tenant.prompt_base || tenant.prompt_di_sistema || 'Sei un assistente AI professionale, cordiale e affidabile.',\n  '',\n  '[REGOLE BULLETPROOF]',\n  '1. Non inventare mai disponibilità, conferme, prezzi, stati di pagamento, eventi, luoghi, indirizzi o orari se non risultano chiaramente dal contesto o dai tool.',\n  '2. Nessuna prenotazione o appuntamento è confermata prima del successo del tool corretto.',\n  '3. Se un tool restituisce success:false o un codice di errore, usa il final_reply del tool oppure spiega che la richiesta è stata raccolta ma non confermata.',\n  '4. Se l’utente corregge un dato, il valore più recente sostituisce sempre il precedente.',\n  '5. Se l’utente risponde con saluti, ringraziamenti (es. ’Grazie’, ’Grazie mille’) o messaggi puramente sociali/di chiusura, non ripetere le informazioni già date nei messaggi precedenti. Rispondi solo in modo breve e cortese (es. ’Prego! Se hai bisogno di altro sono qui.’).',\n  '6. Se la richiesta è vaga su data, orario o luogo, chiedi una sola precisazione breve e utile.',\n  '7. Non menzionare mai tenant_id, trace_id, session_id o dettagli tecnici all’utente.',\n  '8. Rispondi in modo breve, naturale e focalizzato sul prossimo passo utile.',\n  '9. Se la richiesta è semplice, informativa o conversazionale e puoi rispondere con il prompt e il contesto attività, rispondi subito senza usare tool.',\n  '10. Per richieste su eventi, cose da fare, negozi, farmacie, tabaccai, parcheggi, taxi, bar, discoteche o altri punti di interesse vicini, usa Cerca_In_Zona una sola volta.',\n  '11. Se nel contesto sessione è presente una camera o un’area, trattala come informazione operativa valida della conversazione e usala quando la richiesta riguarda la struttura.',\n  '12. Camera o area sono contesto operativo interno della struttura, non cambiano la località geografica della ricerca locale.',\n  '13. Non usare mai il tool company_knowledge_base se l’utente sta solo salutando, ringraziando o dicendo parole di cortesia (es. ’ok’, ’grazie’, ’perfetto’).',\n  '14. Se usi il tool company_knowledge_base e non trovi la risposta esatta alla domanda dell’utente, rispondi subito dicendo che non hai l’informazione, senza riprovare il tool o altri tool.',\n  '',\n  '[MACCHINA A STATI CONVERSAZIONALE]',\n  '- Raccolta dati: chiedi solo il prossimo dato mancante.',\n  '- Riepilogo: quando hai tutti i dati obbligatori, fai un solo riepilogo chiaro.',\n  '- Conferma esplicita: prima di chiamare il tool devi ottenere un “sì / confermo / ok” esplicito.',\n  '- Chiamata tool: usa il tool una sola volta con i dati più recenti.',\n  '- Post-tool: se successo, usa la risposta del tool; se fallisce, non improvvisare.',\n  '',\n  '[SETTORE]',\n  'Business type normalizzato: ' + businessType,\n  '',\n  '[REGOLE SETTORIALI]',\n  businessType === 'restaurant' ? '- Per prenotazioni tavolo raccogli: nome_cliente, telefono, email, data_input, ora, persone, note_prenotazione opzionali.' : '',\n  businessType === 'restaurant' ? '- Se l’utente chiede una consegna a domicilio (delivery) o asporto (takeaway), informa che l’ordine non può essere completato direttamente in chat e indirizzalo al link del sito web o al numero di telefono dell’attività.' : '',\n  businessType === 'restaurant' ? '- Non confermare disponibilità tavoli senza il tool Registra_Prenotazione.' : '',\n  businessType === 'restaurant' ? '- Gruppi numerosi devono andare in manual review o contatto diretto.' : '',\n  businessType === 'hotel' ? '- Per soggiorni raccogli: nome, telefono, email, check-in, check-out, ospiti.' : '',\n  businessType === 'hotel' ? '- Non confermare disponibilità camere senza il tool Registra_Prenotazione_Hotel.' : '',\n  businessType === 'hotel' ? '- Se il contesto sessione contiene una camera, usala come riferimento operativo per richieste alla struttura come asciugamani, reception, manutenzione o assistenza ospite.' : '',\n  businessType === 'hotel' ? '- Per richieste operative hotel come asciugamani, cuscini, amenities, manutenzione, sveglia o taxi organizzato dalla struttura usa Inoltra_Richiesta_Reception.' : '',\n  businessType === 'hotel' ? '- Se nel contesto sessione è presente una camera, usala come riferimento operativo per richieste alla struttura.' : '',\n  businessType === 'hotel' ? '- Se il tool restituisce payment_url, condividilo senza dire che la prenotazione è conclusa finché lo stato non è confirmed.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Per appuntamenti e demo raccogli: nome, telefono, email quando richiesta, data precisa, orario preciso, motivo.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Usa appointment_type = standard_appointment per richieste operative, sopralluoghi, interventi, consulenze standard o appuntamenti generici.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Usa appointment_type = demo_request solo per demo commerciali, presentazioni prodotto o richieste esplicite di demo.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Non confermare slot reali senza il tool Registra_Appuntamento.' : '',\n  '',\n  '[CONTESTO ATTIVITÀ]',\n  fields.join('\\\\n'),\n  '',\n  '[CONTESTO SESSIONE]',\n  sessionFields.join('\\\\n'),\n  '',\n  '[UTILIZZO TOOLS]',\n  '- company_knowledge_base:',\n  '  - Usalo per documenti lunghi, FAQ dettagliate, menu o listini.',\n  '  - Non usarlo per luoghi, negozi, eventi o attività esterne al business.',\n  '- Cerca_In_Zona:',\n  '  - Usalo per richieste su eventi, cose da fare, negozi, farmacie, tabaccai, parcheggi, taxi, bar, discoteche e punti di interesse vicini.',\n  '  - Se l’utente usa espressioni come \"qui vicino\", \"in zona\", \"vicino all’hotel\", il tool deve usare la località della struttura o chiedere una sola precisazione se il contesto non basta.',\n  '  - Se esiste una camera o un’area nel contesto sessione, mantienila come informazione utile ma non usarla per cambiare città o zona geografica della ricerca.',\n  '  - Usa il tool una sola volta per messaggio.',\n  '  - Se il tool restituisce final_reply, usalo come base della risposta finale senza rilanciare altre ricerche.',\n  '  - Se il tool restituisce success:false, usa il final_reply del tool.',\n  '  - Se trovi risultati chiari, puoi riassumere massimo 3 opzioni utili.',\n  '- Registra_Prenotazione:',\n  '  - Solo per business_type restaurant.',\n  '  - Richiede tenant_id, trace_id, session_id, nome_cliente, telefono, data_input, ora, persone.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool non conferma, non dichiarare mai prenotazione registrata.',\n  '- Registra_Appuntamento:',\n  '  - Solo per settori supportati diversi da restaurant.',\n  '  - appointment_type supportati: standard_appointment, demo_request, intro_call, first_consultation, callback_request.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, data_input, orario, motivo.',\n  '  - Per standard_appointment email non è obbligatoria.',\n  '  - Per demo_request email è obbligatoria.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review o errore, usa il final_reply del tool.',\n  '- Registra_Prenotazione_Hotel:',\n  '  - Solo per business_type hotel.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, email, checkin_input, checkout_input, ospiti_adulti.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review, non dichiarare disponibilità o conferma.',\n  '- Inoltra_Richiesta_Reception:',\n  '  - Solo per business_type hotel.',\n  '  - Usalo per richieste operative interne come asciugamani, cuscini, amenities, manutenzione, sveglia, richiamo reception o taxi organizzato dalla struttura.',\n  '  - Richiede request_text chiaro.',\n  '  - Se disponibili, passa anche request_type, requested_time, room e area.',\n  '  - Se il tool restituisce success:true, puoi dire che la richiesta è stata inoltrata alla reception.',\n  '  - Se il tool restituisce success:false, usa il final_reply del tool e non promettere presa in carico.',\n].filter(Boolean).join('\\\\n');\n\nreturn {\n  normalized_business_type: businessType,\n  final_system_prompt,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7984,
        -1328
      ],
      "id": "c2005ce8-ed5e-465f-bb86-950a6e290309",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Crystalize Context').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.final_system_prompt }}\n",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8744,
        -1328
      ],
      "id": "cc8a52f5-0c45-49db-966d-35aa78810f13",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Crystalize Context').item.json.sessionId }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        8336,
        -1104
      ],
      "id": "e4fe36ec-bc5c-4fbd-959c-3284cd2323ec",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "y26w3cf5oDEAQXdB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "Strumento per cercare documenti lunghi, listini, menu e FAQ con precisione tenant-scoped.",
        "tableName": {
          "__rl": true,
          "value": "zirel_vectors",
          "mode": "list",
          "cachedResultName": "zirel_vectors"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "tenant_id",
                "value": "={{ $('Crystalize Context').item.json.tenant_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        8464,
        -1104
      ],
      "id": "da560214-084a-4257-8044-f550a75ccd19",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        8208,
        -1104
      ],
      "id": "3ed651cd-b5b3-4d46-9bda-63d29b831b6a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UlhMJWQVjXFDMzf8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        8544,
        -896
      ],
      "id": "c84e2578-9220-48b7-9c2a-30968b9dcc9e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UlhMJWQVjXFDMzf8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d1LLF4mnxHeKcDJC",
          "mode": "list",
          "cachedResultUrl": "/workflow/d1LLF4mnxHeKcDJC",
          "cachedResultName": "Zirèl - Registra_Appuntamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
            "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
            "appointment_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_type', `Valori ammessi: standard_appointment, demo_request, intro_call, first_consultation, callback_request. Default consigliato per richieste normali: standard_appointment.`, 'string') }}",
            "note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note', ``, 'string') }}",
            "orario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orario', ``, 'string') }}",
            "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo', ``, 'string') }}",
            "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row').item.json.internal_email || $('Get a row').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_input",
              "displayName": "data_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "orario",
              "displayName": "orario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_type",
              "displayName": "appointment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8752,
        -1104
      ],
      "id": "7d1d2446-b9b3-46fe-b0c4-b32712161351",
      "name": "Registra_Appuntamento1"
    },
    {
      "parameters": {
        "description": "Salva una prenotazione ristorante reale solo dopo conferma esplicita del cliente e controllo disponibilità.",
        "workflowId": {
          "__rl": true,
          "value": "6ZLyZmg4iLuF4YGr",
          "mode": "list",
          "cachedResultUrl": "/workflow/6ZLyZmg4iLuF4YGr",
          "cachedResultName": "Zirèl - Registra_Prenotazione"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
            "nome_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_cliente', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
            "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
            "persone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('persone', ``, 'string') }}",
            "ora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ora', ``, 'string') }}",
            "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
            "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_cliente",
              "displayName": "nome_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_input",
              "displayName": "data_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ora",
              "displayName": "ora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "persone",
              "displayName": "persone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note_prenotazione",
              "displayName": "note_prenotazione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8880,
        -1104
      ],
      "id": "40300857-52d2-41c8-b4f9-794f64d748ca",
      "name": "Registra_Prenotazione1"
    },
    {
      "parameters": {
        "description": "Registra una prenotazione camera reale solo dopo conferma esplicita e controllo disponibilità.",
        "workflowId": {
          "__rl": true,
          "value": "6NEYaCEnrm6h8jRG",
          "mode": "list",
          "cachedResultUrl": "/workflow/6NEYaCEnrm6h8jRG",
          "cachedResultName": "Zirèl - Registra_Prenotazione_Hotel"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
            "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
            "booking_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_type', `standard_room_booking`, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "checkin_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkin_input', ``, 'string') }}",
            "checkout_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkout_input', ``, 'string') }}",
            "ospiti_adulti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_adulti', ``, 'string') }}",
            "ospiti_bambini": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_bambini', `0`, 'string') }}",
            "room_type_requested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('room_type_requested', ``, 'string') }}",
            "servizi_richiesti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servizi_richiesti', ``, 'string') }}",
            "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
            "lingua_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lingua_cliente', `it`, 'string') }}",
            "nome_attivita": "={{ $('Get a row').item.json.nome_attivita }}",
            "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "booking_type",
              "displayName": "booking_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "checkin_input",
              "displayName": "checkin_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "checkout_input",
              "displayName": "checkout_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ospiti_adulti",
              "displayName": "ospiti_adulti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ospiti_bambini",
              "displayName": "ospiti_bambini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "room_type_requested",
              "displayName": "room_type_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servizi_richiesti",
              "displayName": "servizi_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note_prenotazione",
              "displayName": "note_prenotazione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lingua_cliente",
              "displayName": "lingua_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_attivita",
              "displayName": "nome_attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        9008,
        -1104
      ],
      "id": "0f1e7e69-a545-4382-9e60-5195e7b923c2",
      "name": "Registra_Prenotazione_Hotel1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m5YeTgY77TtrNbyS",
          "mode": "list",
          "cachedResultUrl": "/workflow/m5YeTgY77TtrNbyS",
          "cachedResultName": "Zirèl - Cerca_In_Zona"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
            "trace_id": "={{ $('Crystalize Context').item.json.trace_id || '' }}",
            "session_id": "={{ $('Crystalize Context').item.json.sessionId || '' }}",
            "user_request": "={{ $('Crystalize Context').item.json.chatInput }}",
            "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
            "nome_attivita": "={{ $('Get a row').item.json.nome_attivita || '' }}",
            "indirizzo": "={{ $('Get a row').item.json.indirizzo || '' }}",
            "orari_apertura": "={{ $('Get a row').item.json.orari_apertura || '' }}",
            "current_date": "={{ DateTime.now().setZone('Europe/Rome').toFormat('dd/MM/yyyy') }}",
            "current_time": "={{ DateTime.now().setZone('Europe/Rome').toFormat('HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_request",
              "displayName": "user_request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_attivita",
              "displayName": "nome_attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "indirizzo",
              "displayName": "indirizzo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "orari_apertura",
              "displayName": "orari_apertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "current_date",
              "displayName": "current_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "current_time",
              "displayName": "current_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        9136,
        -1104
      ],
      "id": "418eb31b-03b9-4c5b-90d5-c47fa34e2a12",
      "name": "Cerca_In_Zona1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CAJ5T4pDS3OyebyY",
          "mode": "list",
          "cachedResultUrl": "/workflow/CAJ5T4pDS3OyebyY",
          "cachedResultName": "Zirèl - Inoltra_Richiesta_Reception"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
            "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
            "request_type": "={{ $fromAI('request_type', '', 'string') }}",
            "request_text": "={{ $fromAI('request_text', '', 'string') }}",
            "requested_time": "={{ $fromAI('requested_time', '', 'string') }}",
            "room": "={{ $('Crystalize Context').item.json.room || '' }}",
            "area": "={{ $('Crystalize Context').item.json.area || '' }}",
            "guest_name": "={{ $fromAI('guest_name', '', 'string') }}",
            "telefono": "={{ $fromAI('telefono', '', 'string') }}",
            "nome_attivita": "={{ $('Get a row').item.json.nome_attivita || '' }}",
            "notification_email": "={{ $('Get a row').item.json.notification_email || '' }}",
            "internal_email": "={{ $('Get a row').item.json.internal_email || $('Get a row').item.json.mail || '' }}",
            "billing_email": "={{ $('Get a row').item.json.billing_email || '' }}",
            "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || '' }}",
            "trace_id": "={{ $('Crystalize Context').item.json.trace_id || '' }}",
            "session_id": "={{ $('Crystalize Context').item.json.sessionId || '' }}",
            "source": "={{ $('Crystalize Context').item.json.source || 'chat_widget' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "request_type",
              "displayName": "request_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "request_text",
              "displayName": "request_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "requested_time",
              "displayName": "requested_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "room",
              "displayName": "room",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "guest_name",
              "displayName": "guest_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_attivita",
              "displayName": "nome_attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        9264,
        -1104
      ],
      "id": "5a59b1a0-7bf7-449c-ab74-e686d57b6b37",
      "name": "Inoltra_Richiesta_Reception1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "54ffb618-2eb5-448e-bf46-a969438ebc2d",
              "leftValue": "={{ $json.service_status || 'active' }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7760,
        -1232
      ],
      "id": "e97caca3-8b1d-4247-bb2a-d2aedfa511fd",
      "name": "Check Service Status1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73463ab5-726b-4575-b113-fd15d3befff5",
              "name": "output",
              "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
              "type": "string"
            },
            {
              "id": "cda32655-64f1-4e2b-a78d-1179640cb35b",
              "name": "final_reply",
              "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
              "type": "string"
            },
            {
              "id": "283e215b-f3fb-491d-b3f4-715ee31496cd",
              "name": "reply",
              "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
              "type": "string"
            },
            {
              "id": "5866c5a2-4ada-4b75-9e7d-4fd84173537e",
              "name": "message",
              "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
              "type": "string"
            },
            {
              "id": "d580d390-3d20-4c83-85bf-8d23072efa3a",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e5449fc1-1e6f-46b7-a3d1-0286df05a188",
              "name": "code",
              "value": "TENANT_SERVICE_DISABLED",
              "type": "string"
            },
            {
              "id": "8f7542f4-6701-49f8-95a5-5a13e0f41764",
              "name": "service_status",
              "value": "={{ $json.service_status || 'suspended_manual' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7984,
        -1136
      ],
      "id": "f2899745-5f4a-4215-8bb5-8564c3b5b2d7",
      "name": "Service Disabled Response1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Crystalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crystalize Context": {
      "main": [
        [
          {
            "node": "Security: Tenant Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: Tenant Check": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Check Service Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Appuntamento1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Prenotazione1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Prenotazione_Hotel1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cerca_In_Zona1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inoltra_Richiesta_Reception1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Service Status1": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service Disabled Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2da85a2-d7e0-413b-bab4-5ec31a5ffb77",
  "activeVersionId": "e2da85a2-d7e0-413b-bab4-5ec31a5ffb77",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-01T23:45:29.584Z",
      "createdAt": "2026-03-01T23:45:29.584Z",
      "role": "workflow:owner",
      "workflowId": "vfYYOYyiEcSIzuze",
      "projectId": "2Cf6i0jib9PfATFz"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-03T17:29:36.313Z",
    "createdAt": "2026-05-03T17:29:24.394Z",
    "versionId": "e2da85a2-d7e0-413b-bab4-5ec31a5ffb77",
    "workflowId": "vfYYOYyiEcSIzuze",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "mode": "webhook",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          6864,
          -1232
        ],
        "id": "aa143c78-62e1-4f4a-bc63-61857780cdd1",
        "name": "When chat message received",
        "webhookId": "d9e10e54-2d61-4643-98ed-7bbe6221699e",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "tenant_id",
                "name": "tenant_id",
                "value": "={{ $json.metadata?.tenant_id || $json.tenant_id || \"\" }}",
                "type": "string"
              },
              {
                "id": "sessionId",
                "name": "sessionId",
                "value": "={{ $json.sessionId || $json.metadata?.session_id || `session_${Date.now()}` }}",
                "type": "string"
              },
              {
                "id": "trace_id",
                "name": "trace_id",
                "value": "={{ $json.metadata?.trace_id || `trace_${Date.now()}` }}",
                "type": "string"
              },
              {
                "id": "source",
                "name": "source",
                "value": "={{ $json.source || $json.metadata?.source || \"chat_widget\" }}",
                "type": "string"
              },
              {
                "id": "chatInput",
                "name": "chatInput",
                "value": "={{ String($json.chatInput || \"\").trim() }}",
                "type": "string"
              },
              {
                "id": "a4823881-b64d-4129-9dcb-2865f6a69757",
                "name": "room",
                "value": "={{ $json.room || $json.metadata?.room || \"\" }}",
                "type": "string"
              },
              {
                "id": "1a979f5a-424c-43d7-a1b5-81cc957a3a86",
                "name": "area",
                "value": "={{ $json.area || $json.metadata?.area || \"\" }}",
                "type": "string"
              },
              {
                "id": "c5283c60-66ab-435a-b56f-68568aa18438",
                "name": "entry_url",
                "value": "={{ $json.entryUrl || $json.entry_url || $json.metadata?.entry_url || \"\" }}",
                "type": "string"
              },
              {
                "id": "824cf66f-f53e-4279-8b77-2a5af2a41174",
                "name": "client",
                "value": "={{ $json.metadata?.client || \"chat_widget\" }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7088,
          -1232
        ],
        "id": "b4064113-a694-478d-8400-5682a08bc020",
        "name": "Crystalize Context"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check_tenant",
                "leftValue": "={{ $json.tenant_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "check_chat",
                "leftValue": "={{ $json.chatInput }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          7312,
          -1232
        ],
        "id": "d923f3f4-dcc8-48af-a7ab-850a82b50366",
        "name": "Security: Tenant Check"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "tenants",
          "filters": {
            "conditions": [
              {
                "keyName": "tenant_id",
                "keyValue": "={{ $('Crystalize Context').item.json.tenant_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          7536,
          -1232
        ],
        "id": "54d7fcc5-aa1d-4160-b766-ad695b2bdc0f",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const tenant = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('it-IT', { timeZone: 'Europe/Rome' });\nconst timeStr = now.toLocaleTimeString('it-IT', {\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'Europe/Rome'\n});\n\nconst rawType = String(tenant.business_type || 'professional').toLowerCase().trim();\nlet businessType = 'professional';\nif (['restaurant', 'ristorante', 'locale', 'chiringuito', 'pizzeria'].includes(rawType)) businessType = 'restaurant';\nelse if (['hotel', 'albergo', 'b&b', 'bnb', 'struttura'].includes(rawType)) businessType = 'hotel';\nelse if (['medical', 'medico', 'studio_medico', 'clinica'].includes(rawType)) businessType = 'medical';\nelse if (['legal', 'legale', 'avvocato', 'studio_legale'].includes(rawType)) businessType = 'legal';\n\nconst addField = (fields, label, value) => {\n  if (value && String(value).trim() !== '') fields.push(`- ${label}: ${value}`);\n};\n\nconst fields = [];\naddField(fields, 'Nome Attività', tenant.nome_attivita);\naddField(fields, 'Telefono', tenant.telefono);\naddField(fields, 'Email', tenant.mail);\naddField(fields, 'Indirizzo', tenant.indirizzo);\naddField(fields, 'Orari Apertura', tenant.orari_apertura);\naddField(fields, 'Check-in/out', tenant.orari_checkin_checkout);\naddField(fields, 'Servizi Inclusi', tenant.servizi_inclusi);\naddField(fields, 'Prezzi', tenant.prezzo_medio);\naddField(fields, 'Link Booking', tenant.link_booking_esterno);\naddField(fields, 'Link Prenotazione Tavoli', tenant.link_prenotazione_tavoli);\naddField(fields, 'Info Utili', tenant.dati_testuali_brevi);\n\nconst sessionFields = [];\naddField(sessionFields, 'Sorgente Conversazione', tenant.source);\naddField(sessionFields, 'Client', tenant.client);\naddField(sessionFields, 'Camera', tenant.room);\naddField(sessionFields, 'Area', tenant.area);\naddField(sessionFields, 'Entry URL', tenant.entry_url);\n\nconst final_system_prompt = [\n  'Oggi è il giorno: ' + dateStr,\n  'Ora attuale: ' + timeStr,\n  'Fuso orario: Europe/Rome',\n  '',\n  '[IDENTITÀ]',\n  tenant.prompt_base || tenant.prompt_di_sistema || 'Sei un assistente AI professionale, cordiale e affidabile.',\n  '',\n  '[REGOLE BULLETPROOF]',\n  '1. Non inventare mai disponibilità, conferme, prezzi, stati di pagamento, eventi, luoghi, indirizzi o orari se non risultano chiaramente dal contesto o dai tool.',\n  '2. Nessuna prenotazione o appuntamento è confermata prima del successo del tool corretto.',\n  '3. Se un tool restituisce success:false o un codice di errore, usa il final_reply del tool oppure spiega che la richiesta è stata raccolta ma non confermata.',\n  '4. Se l’utente corregge un dato, il valore più recente sostituisce sempre il precedente.',\n  '5. Se l’utente risponde con saluti, ringraziamenti (es. ’Grazie’, ’Grazie mille’) o messaggi puramente sociali/di chiusura, non ripetere le informazioni già date nei messaggi precedenti. Rispondi solo in modo breve e cortese (es. ’Prego! Se hai bisogno di altro sono qui.’).',\n  '6. Se la richiesta è vaga su data, orario o luogo, chiedi una sola precisazione breve e utile.',\n  '7. Non menzionare mai tenant_id, trace_id, session_id o dettagli tecnici all’utente.',\n  '8. Rispondi in modo breve, naturale e focalizzato sul prossimo passo utile.',\n  '9. Se la richiesta è semplice, informativa o conversazionale e puoi rispondere con il prompt e il contesto attività, rispondi subito senza usare tool.',\n  '10. Per richieste su eventi, cose da fare, negozi, farmacie, tabaccai, parcheggi, taxi, bar, discoteche o altri punti di interesse vicini, usa Cerca_In_Zona una sola volta.',\n  '11. Se nel contesto sessione è presente una camera o un’area, trattala come informazione operativa valida della conversazione e usala quando la richiesta riguarda la struttura.',\n  '12. Camera o area sono contesto operativo interno della struttura, non cambiano la località geografica della ricerca locale.',\n  '13. Non usare mai il tool company_knowledge_base se l’utente sta solo salutando, ringraziando o dicendo parole di cortesia (es. ’ok’, ’grazie’, ’perfetto’).',\n  '14. Se usi il tool company_knowledge_base e non trovi la risposta esatta alla domanda dell’utente, rispondi subito dicendo che non hai l’informazione, senza riprovare il tool o altri tool.',\n  '',\n  '[MACCHINA A STATI CONVERSAZIONALE]',\n  '- Raccolta dati: chiedi solo il prossimo dato mancante.',\n  '- Riepilogo: quando hai tutti i dati obbligatori, fai un solo riepilogo chiaro.',\n  '- Conferma esplicita: prima di chiamare il tool devi ottenere un “sì / confermo / ok” esplicito.',\n  '- Chiamata tool: usa il tool una sola volta con i dati più recenti.',\n  '- Post-tool: se successo, usa la risposta del tool; se fallisce, non improvvisare.',\n  '',\n  '[SETTORE]',\n  'Business type normalizzato: ' + businessType,\n  '',\n  '[REGOLE SETTORIALI]',\n  businessType === 'restaurant' ? '- Per prenotazioni tavolo raccogli: nome_cliente, telefono, email, data_input, ora, persone, note_prenotazione opzionali.' : '',\n  businessType === 'restaurant' ? '- Se l’utente chiede una consegna a domicilio (delivery) o asporto (takeaway), informa che l’ordine non può essere completato direttamente in chat e indirizzalo al link del sito web o al numero di telefono dell’attività.' : '',\n  businessType === 'restaurant' ? '- Non confermare disponibilità tavoli senza il tool Registra_Prenotazione.' : '',\n  businessType === 'restaurant' ? '- Gruppi numerosi devono andare in manual review o contatto diretto.' : '',\n  businessType === 'hotel' ? '- Per soggiorni raccogli: nome, telefono, email, check-in, check-out, ospiti.' : '',\n  businessType === 'hotel' ? '- Non confermare disponibilità camere senza il tool Registra_Prenotazione_Hotel.' : '',\n  businessType === 'hotel' ? '- Se il contesto sessione contiene una camera, usala come riferimento operativo per richieste alla struttura come asciugamani, reception, manutenzione o assistenza ospite.' : '',\n  businessType === 'hotel' ? '- Per richieste operative hotel come asciugamani, cuscini, amenities, manutenzione, sveglia o taxi organizzato dalla struttura usa Inoltra_Richiesta_Reception.' : '',\n  businessType === 'hotel' ? '- Se nel contesto sessione è presente una camera, usala come riferimento operativo per richieste alla struttura.' : '',\n  businessType === 'hotel' ? '- Se il tool restituisce payment_url, condividilo senza dire che la prenotazione è conclusa finché lo stato non è confirmed.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Per appuntamenti e demo raccogli: nome, telefono, email quando richiesta, data precisa, orario preciso, motivo.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Usa appointment_type = standard_appointment per richieste operative, sopralluoghi, interventi, consulenze standard o appuntamenti generici.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Usa appointment_type = demo_request solo per demo commerciali, presentazioni prodotto o richieste esplicite di demo.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Non confermare slot reali senza il tool Registra_Appuntamento.' : '',\n  '',\n  '[CONTESTO ATTIVITÀ]',\n  fields.join('\\\\n'),\n  '',\n  '[CONTESTO SESSIONE]',\n  sessionFields.join('\\\\n'),\n  '',\n  '[UTILIZZO TOOLS]',\n  '- company_knowledge_base:',\n  '  - Usalo per documenti lunghi, FAQ dettagliate, menu o listini.',\n  '  - Non usarlo per luoghi, negozi, eventi o attività esterne al business.',\n  '- Cerca_In_Zona:',\n  '  - Usalo per richieste su eventi, cose da fare, negozi, farmacie, tabaccai, parcheggi, taxi, bar, discoteche e punti di interesse vicini.',\n  '  - Se l’utente usa espressioni come \"qui vicino\", \"in zona\", \"vicino all’hotel\", il tool deve usare la località della struttura o chiedere una sola precisazione se il contesto non basta.',\n  '  - Se esiste una camera o un’area nel contesto sessione, mantienila come informazione utile ma non usarla per cambiare città o zona geografica della ricerca.',\n  '  - Usa il tool una sola volta per messaggio.',\n  '  - Se il tool restituisce final_reply, usalo come base della risposta finale senza rilanciare altre ricerche.',\n  '  - Se il tool restituisce success:false, usa il final_reply del tool.',\n  '  - Se trovi risultati chiari, puoi riassumere massimo 3 opzioni utili.',\n  '- Registra_Prenotazione:',\n  '  - Solo per business_type restaurant.',\n  '  - Richiede tenant_id, trace_id, session_id, nome_cliente, telefono, data_input, ora, persone.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool non conferma, non dichiarare mai prenotazione registrata.',\n  '- Registra_Appuntamento:',\n  '  - Solo per settori supportati diversi da restaurant.',\n  '  - appointment_type supportati: standard_appointment, demo_request, intro_call, first_consultation, callback_request.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, data_input, orario, motivo.',\n  '  - Per standard_appointment email non è obbligatoria.',\n  '  - Per demo_request email è obbligatoria.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review o errore, usa il final_reply del tool.',\n  '- Registra_Prenotazione_Hotel:',\n  '  - Solo per business_type hotel.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, email, checkin_input, checkout_input, ospiti_adulti.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review, non dichiarare disponibilità o conferma.',\n  '- Inoltra_Richiesta_Reception:',\n  '  - Solo per business_type hotel.',\n  '  - Usalo per richieste operative interne come asciugamani, cuscini, amenities, manutenzione, sveglia, richiamo reception o taxi organizzato dalla struttura.',\n  '  - Richiede request_text chiaro.',\n  '  - Se disponibili, passa anche request_type, requested_time, room e area.',\n  '  - Se il tool restituisce success:true, puoi dire che la richiesta è stata inoltrata alla reception.',\n  '  - Se il tool restituisce success:false, usa il final_reply del tool e non promettere presa in carico.',\n].filter(Boolean).join('\\\\n');\n\nreturn {\n  normalized_business_type: businessType,\n  final_system_prompt,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7984,
          -1328
        ],
        "id": "c2005ce8-ed5e-465f-bb86-950a6e290309",
        "name": "Build Prompt"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Crystalize Context').item.json.chatInput }}",
          "options": {
            "systemMessage": "={{ $json.final_system_prompt }}\n",
            "maxIterations": 6
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          8744,
          -1328
        ],
        "id": "cc8a52f5-0c45-49db-966d-35aa78810f13",
        "name": "AI Agent",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Crystalize Context').item.json.sessionId }}",
          "contextWindowLength": 8
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          8336,
          -1104
        ],
        "id": "e4fe36ec-bc5c-4fbd-959c-3284cd2323ec",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "y26w3cf5oDEAQXdB",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "company_knowledge_base",
          "toolDescription": "Strumento per cercare documenti lunghi, listini, menu e FAQ con precisione tenant-scoped.",
          "tableName": {
            "__rl": true,
            "value": "zirel_vectors",
            "mode": "list",
            "cachedResultName": "zirel_vectors"
          },
          "options": {
            "queryName": "match_documents",
            "metadata": {
              "metadataValues": [
                {
                  "name": "tenant_id",
                  "value": "={{ $('Crystalize Context').item.json.tenant_id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          8464,
          -1104
        ],
        "id": "da560214-084a-4257-8044-f550a75ccd19",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-latest",
          "options": {
            "temperature": 0.4
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          8208,
          -1104
        ],
        "id": "3ed651cd-b5b3-4d46-9bda-63d29b831b6a",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "UlhMJWQVjXFDMzf8",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-001"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          8544,
          -896
        ],
        "id": "c84e2578-9220-48b7-9c2a-30968b9dcc9e",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "UlhMJWQVjXFDMzf8",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "d1LLF4mnxHeKcDJC",
            "mode": "list",
            "cachedResultUrl": "/workflow/d1LLF4mnxHeKcDJC",
            "cachedResultName": "Zirèl - Registra_Appuntamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
              "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
              "appointment_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_type', `Valori ammessi: standard_appointment, demo_request, intro_call, first_consultation, callback_request. Default consigliato per richieste normali: standard_appointment.`, 'string') }}",
              "note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note', ``, 'string') }}",
              "orario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orario', ``, 'string') }}",
              "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
              "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
              "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
              "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
              "motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo', ``, 'string') }}",
              "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
              "internal_email": "={{ $('Get a row').item.json.internal_email || $('Get a row').item.json.mail || \"\" }}",
              "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
              "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data_input",
                "displayName": "data_input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "orario",
                "displayName": "orario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "note",
                "displayName": "note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "motivo",
                "displayName": "motivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "business_type",
                "displayName": "business_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "appointment_type",
                "displayName": "appointment_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "notification_email",
                "displayName": "notification_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "internal_email",
                "displayName": "internal_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "billing_email",
                "displayName": "billing_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_chat_id",
                "displayName": "telegram_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          8752,
          -1104
        ],
        "id": "7d1d2446-b9b3-46fe-b0c4-b32712161351",
        "name": "Registra_Appuntamento1"
      },
      {
        "parameters": {
          "description": "Salva una prenotazione ristorante reale solo dopo conferma esplicita del cliente e controllo disponibilità.",
          "workflowId": {
            "__rl": true,
            "value": "6ZLyZmg4iLuF4YGr",
            "mode": "list",
            "cachedResultUrl": "/workflow/6ZLyZmg4iLuF4YGr",
            "cachedResultName": "Zirèl - Registra_Prenotazione"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
              "nome_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_cliente', ``, 'string') }}",
              "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
              "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
              "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
              "persone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('persone', ``, 'string') }}",
              "ora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ora', ``, 'string') }}",
              "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
              "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
              "internal_email": "={{ $('Get a row').item.json.mail || \"\" }}",
              "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
              "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}",
              "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_cliente",
                "displayName": "nome_cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data_input",
                "displayName": "data_input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ora",
                "displayName": "ora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "persone",
                "displayName": "persone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "note_prenotazione",
                "displayName": "note_prenotazione",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "business_type",
                "displayName": "business_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "notification_email",
                "displayName": "notification_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "billing_email",
                "displayName": "billing_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_chat_id",
                "displayName": "telegram_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "internal_email",
                "displayName": "internal_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          8880,
          -1104
        ],
        "id": "40300857-52d2-41c8-b4f9-794f64d748ca",
        "name": "Registra_Prenotazione1"
      },
      {
        "parameters": {
          "description": "Registra una prenotazione camera reale solo dopo conferma esplicita e controllo disponibilità.",
          "workflowId": {
            "__rl": true,
            "value": "6NEYaCEnrm6h8jRG",
            "mode": "list",
            "cachedResultUrl": "/workflow/6NEYaCEnrm6h8jRG",
            "cachedResultName": "Zirèl - Registra_Prenotazione_Hotel"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
              "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
              "booking_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_type', `standard_room_booking`, 'string') }}",
              "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
              "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
              "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
              "checkin_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkin_input', ``, 'string') }}",
              "checkout_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkout_input', ``, 'string') }}",
              "ospiti_adulti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_adulti', ``, 'string') }}",
              "ospiti_bambini": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_bambini', `0`, 'string') }}",
              "room_type_requested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('room_type_requested', ``, 'string') }}",
              "servizi_richiesti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servizi_richiesti', ``, 'string') }}",
              "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
              "lingua_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lingua_cliente', `it`, 'string') }}",
              "nome_attivita": "={{ $('Get a row').item.json.nome_attivita }}",
              "notification_email": "={{ $('Get a row').item.json.notification_email || \"\" }}",
              "internal_email": "={{ $('Get a row').item.json.mail || \"\" }}",
              "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || \"\" }}",
              "billing_email": "={{ $('Get a row').item.json.billing_email || \"\" }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "business_type",
                "displayName": "business_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "booking_type",
                "displayName": "booking_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "checkin_input",
                "displayName": "checkin_input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "checkout_input",
                "displayName": "checkout_input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ospiti_adulti",
                "displayName": "ospiti_adulti",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ospiti_bambini",
                "displayName": "ospiti_bambini",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "room_type_requested",
                "displayName": "room_type_requested",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "servizi_richiesti",
                "displayName": "servizi_richiesti",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "note_prenotazione",
                "displayName": "note_prenotazione",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "lingua_cliente",
                "displayName": "lingua_cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_attivita",
                "displayName": "nome_attivita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "notification_email",
                "displayName": "notification_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "billing_email",
                "displayName": "billing_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_chat_id",
                "displayName": "telegram_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "internal_email",
                "displayName": "internal_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          9008,
          -1104
        ],
        "id": "0f1e7e69-a545-4382-9e60-5195e7b923c2",
        "name": "Registra_Prenotazione_Hotel1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "m5YeTgY77TtrNbyS",
            "mode": "list",
            "cachedResultUrl": "/workflow/m5YeTgY77TtrNbyS",
            "cachedResultName": "Zirèl - Cerca_In_Zona"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
              "trace_id": "={{ $('Crystalize Context').item.json.trace_id || '' }}",
              "session_id": "={{ $('Crystalize Context').item.json.sessionId || '' }}",
              "user_request": "={{ $('Crystalize Context').item.json.chatInput }}",
              "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
              "nome_attivita": "={{ $('Get a row').item.json.nome_attivita || '' }}",
              "indirizzo": "={{ $('Get a row').item.json.indirizzo || '' }}",
              "orari_apertura": "={{ $('Get a row').item.json.orari_apertura || '' }}",
              "current_date": "={{ DateTime.now().setZone('Europe/Rome').toFormat('dd/MM/yyyy') }}",
              "current_time": "={{ DateTime.now().setZone('Europe/Rome').toFormat('HH:mm') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "trace_id",
                "displayName": "trace_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "user_request",
                "displayName": "user_request",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "business_type",
                "displayName": "business_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "nome_attivita",
                "displayName": "nome_attivita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "indirizzo",
                "displayName": "indirizzo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "orari_apertura",
                "displayName": "orari_apertura",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "current_date",
                "displayName": "current_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "current_time",
                "displayName": "current_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          9136,
          -1104
        ],
        "id": "418eb31b-03b9-4c5b-90d5-c47fa34e2a12",
        "name": "Cerca_In_Zona1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "CAJ5T4pDS3OyebyY",
            "mode": "list",
            "cachedResultUrl": "/workflow/CAJ5T4pDS3OyebyY",
            "cachedResultName": "Zirèl - Inoltra_Richiesta_Reception"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tenant_id": "={{ $('Crystalize Context').item.json.tenant_id }}",
              "business_type": "={{ $('Build Prompt').item.json.normalized_business_type }}",
              "request_type": "={{ $fromAI('request_type', '', 'string') }}",
              "request_text": "={{ $fromAI('request_text', '', 'string') }}",
              "requested_time": "={{ $fromAI('requested_time', '', 'string') }}",
              "room": "={{ $('Crystalize Context').item.json.room || '' }}",
              "area": "={{ $('Crystalize Context').item.json.area || '' }}",
              "guest_name": "={{ $fromAI('guest_name', '', 'string') }}",
              "telefono": "={{ $fromAI('telefono', '', 'string') }}",
              "nome_attivita": "={{ $('Get a row').item.json.nome_attivita || '' }}",
              "notification_email": "={{ $('Get a row').item.json.notification_email || '' }}",
              "internal_email": "={{ $('Get a row').item.json.internal_email || $('Get a row').item.json.mail || '' }}",
              "billing_email": "={{ $('Get a row').item.json.billing_email || '' }}",
              "telegram_chat_id": "={{ $('Get a row').item.json.telegram_chat_id || '' }}",
              "trace_id": "={{ $('Crystalize Context').item.json.trace_id || '' }}",
              "session_id": "={{ $('Crystalize Context').item.json.sessionId || '' }}",
              "source": "={{ $('Crystalize Context').item.json.source || 'chat_widget' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "business_type",
                "displayName": "business_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "request_type",
                "displayName": "request_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "request_text",
                "displayName": "request_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "requested_time",
                "displayName": "requested_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "room",
                "displayName": "room",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "area",
                "displayName": "area",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "guest_name",
                "displayName": "guest_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_attivita",
                "displayName": "nome_attivita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "notification_email",
                "displayName": "notification_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "internal_email",
                "displayName": "internal_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "billing_email",
                "displayName": "billing_email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_chat_id",
                "displayName": "telegram_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "trace_id",
                "displayName": "trace_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          9264,
          -1104
        ],
        "id": "5a59b1a0-7bf7-449c-ab74-e686d57b6b37",
        "name": "Inoltra_Richiesta_Reception1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "54ffb618-2eb5-448e-bf46-a969438ebc2d",
                "leftValue": "={{ $json.service_status || 'active' }}",
                "rightValue": "active",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          7760,
          -1232
        ],
        "id": "e97caca3-8b1d-4247-bb2a-d2aedfa511fd",
        "name": "Check Service Status1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "73463ab5-726b-4575-b113-fd15d3befff5",
                "name": "output",
                "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
                "type": "string"
              },
              {
                "id": "cda32655-64f1-4e2b-a78d-1179640cb35b",
                "name": "final_reply",
                "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
                "type": "string"
              },
              {
                "id": "283e215b-f3fb-491d-b3f4-715ee31496cd",
                "name": "reply",
                "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
                "type": "string"
              },
              {
                "id": "5866c5a2-4ada-4b75-9e7d-4fd84173537e",
                "name": "message",
                "value": "={{ $json.service_public_message || 'Il servizio chat di questa struttura è temporaneamente non disponibile. Per assistenza contatta direttamente la struttura.' }}",
                "type": "string"
              },
              {
                "id": "d580d390-3d20-4c83-85bf-8d23072efa3a",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "e5449fc1-1e6f-46b7-a3d1-0286df05a188",
                "name": "code",
                "value": "TENANT_SERVICE_DISABLED",
                "type": "string"
              },
              {
                "id": "8f7542f4-6701-49f8-95a5-5a13e0f41764",
                "name": "service_status",
                "value": "={{ $json.service_status || 'suspended_manual' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7984,
          -1136
        ],
        "id": "f2899745-5f4a-4215-8bb5-8564c3b5b2d7",
        "name": "Service Disabled Response1"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "Crystalize Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crystalize Context": {
        "main": [
          [
            {
              "node": "Security: Tenant Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Security: Tenant Check": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Check Service Status1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Registra_Appuntamento1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Registra_Prenotazione1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Registra_Prenotazione_Hotel1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Cerca_In_Zona1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Inoltra_Richiesta_Reception1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Check Service Status1": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Service Disabled Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "nikita bronovs",
    "name": "Version e2da85a2",
    "description": "",
    "autosaved": true
  },
  "tags": []
}