n8n_workflows/Zirèl - PDF.json
{
  "updatedAt": "2026-03-02T09:49:13.479Z",
  "createdAt": "2026-03-01T17:39:49.487Z",
  "id": "OzGaPcorzirEbHlI",
  "name": "Zirèl - PDF",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-zirel-doc",
        "options": {
          "binaryData": true
        }
      },
      "id": "9f7586c4-1c89-42f1-ab12-799903260a36",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -192,
        -16
      ],
      "webhookId": "94acfa69-5b9f-44b8-85f8-444da6767d49"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "e2544eff-8f4c-45a7-baac-b46d5d7179f4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UlhMJWQVjXFDMzf8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        208
      ],
      "id": "f34f76d7-9cf9-45fc-9edb-667360863193",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "zirel-docs",
          "mode": "list",
          "cachedResultName": "zirel-docs"
        },
        "options": {
          "metadataPayloadKey": "={{ JSON.stringify({ tenant_id: $items(\"Webhook\")[0].json.query.tenant_id || \"default\" }) }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        256,
        -16
      ],
      "id": "12cc0baa-d183-4cf6-8d10-c409bf14a036",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "xQepdFiDVfIA3vRf",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        32,
        -16
      ],
      "id": "8525700e-d987-42b1-aa32-58c4af6854a8",
      "name": "Extract from File"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "99458b5b-ce45-46fb-adfe-bc96a5f8e11b",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-01T17:39:49.487Z",
      "createdAt": "2026-03-01T17:39:49.487Z",
      "role": "workflow:owner",
      "workflowId": "OzGaPcorzirEbHlI",
      "projectId": "2Cf6i0jib9PfATFz"
    }
  ],
  "activeVersion": null,
  "tags": []
}