n8n_workflows/Zirèl - Notifiche Dispatcher (Fixed).json
{
  "updatedAt": "2026-04-01T20:29:57.167Z",
  "createdAt": "2026-03-05T20:34:53.494Z",
  "id": "nIfv95KmUsamVSDl",
  "name": "Zirèl - Notifiche Dispatcher (Fixed)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst channel = String($json.channel || '').trim();\n\nconst cleanLabel = (value, fallback = 'Zirèl') => {\n  const raw = String(value || '').trim();\n  if (!raw) return fallback;\n  return raw\n    .replace(/\\s*-\\s*L['’]Intelligenza Artificiale per il tuo Business\\s*$/i, '')\n    .trim() || fallback;\n};\n\nconst activity = cleanLabel(payload.nome_struttura || payload.nome_attivita || 'Zirèl');\nconst businessName = cleanLabel(\n  payload.business_name ||\n  payload.hotel_name ||\n  payload.nome_attivita ||\n  payload.nome_struttura ||\n  payload.nome_ristorante ||\n  payload.tenant_id ||\n  activity\n);\n\nconst recipientEmail = String(\n  $json.recipient_email ||\n  (\n    channel === 'email_guest_appointment' ||\n    channel === 'email_guest_hotel' ||\n    channel === 'email_guest_restaurant' ||\n    channel === 'email_tenant_security'\n      ? (payload.email || payload.mail || payload.billing_email || '')\n      : ''\n  ) ||\n  payload.internal_email ||\n  payload.billing_email ||\n  payload.email ||\n  payload.mail ||\n  ''\n).trim().toLowerCase();\n\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  confermata: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  rifiutata: 'Non disponibile',\n  annullata: 'Non disponibile',\n  pending: 'In lavorazione',\n  change_proposed: 'Proposta inviata',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim().toLowerCase()] || 'In lavorazione';\n\nconst planCode = String(payload.billing_plan_code || '').trim().toLowerCase();\nconst cycleCode = String(payload.billing_cycle || '').trim().toLowerCase();\nconst planLabel = planCode === 'premium' ? 'Zirèl Core Premium' : planCode === 'base' ? 'Zirèl Core Base' : 'Piano Zirèl';\nconst cycleLabel = cycleCode === 'yearly' ? 'Annuale' : cycleCode === 'monthly' ? 'Mensile' : 'Non definito';\nconst dashboardUrl = String(payload.dashboard_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\nconst portalUrl = String(payload.portal_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\n\nconst formatDate = (value) => {\n  if (!value) return 'N/D';\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return String(value);\n  return date.toLocaleDateString('it-IT', {\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n    timeZone: 'Europe/Rome',\n  });\n};\n\nconst pad = (value) => String(value).padStart(2, '0');\n\nconst buildLocalDateTime = (dateValue, timeValue) => {\n  const dateRaw = String(dateValue || '').trim();\n  const timeRaw = String(timeValue || '').trim();\n  if (!dateRaw || !timeRaw) return null;\n\n  const [year, month, day] = dateRaw.split('-').map(Number);\n  const [hour, minute] = timeRaw.split(':').map(Number);\n\n  if (!year || !month || !day || Number.isNaN(hour) || Number.isNaN(minute)) return null;\n\n  return { year, month, day, hour, minute };\n};\n\nconst toCalendarStamp = (parts) =>\n  parts ? `${parts.year}${pad(parts.month)}${pad(parts.day)}T${pad(parts.hour)}${pad(parts.minute)}00` : '';\n\nconst addMinutes = (parts, minutesToAdd) => {\n  if (!parts) return null;\n  const d = new Date(Date.UTC(parts.year, parts.month - 1, parts.day, parts.hour, parts.minute + minutesToAdd, 0));\n  return {\n    year: d.getUTCFullYear(),\n    month: d.getUTCMonth() + 1,\n    day: d.getUTCDate(),\n    hour: d.getUTCHours(),\n    minute: d.getUTCMinutes(),\n  };\n};\n\nconst toQueryString = (params) =>\n  Object.entries(params)\n    .filter(([, value]) => value !== undefined && value !== null && value !== '')\n    .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(String(value))}`)\n    .join('&');\n\nconst createGoogleCalendarUrl = ({ title, details, location, startDate, startTime, durationMinutes }) => {\n  const start = buildLocalDateTime(startDate, startTime);\n  if (!start) return '';\n  const end = addMinutes(start, durationMinutes);\n\n  const query = toQueryString({\n    action: 'TEMPLATE',\n    text: title,\n    details,\n    location,\n    ctz: 'Europe/Rome',\n    dates: `${toCalendarStamp(start)}/${toCalendarStamp(end)}`,\n  });\n\n  return `https://calendar.google.com/calendar/render?${query}`;\n};\n\nconst createIcsUrl = ({ type, entityId, tenantId }) => {\n  const webhookBase = 'https://primary-production-b2af.up.railway.app/webhook/zirel-calendar-ics';\n  if (!type || !entityId || !tenantId) return '';\n\n  const query = toQueryString({\n    type,\n    id: entityId,\n    tenant_id: tenantId,\n  });\n\n  return `${webhookBase}?${query}`;\n};\n\nconst renderActions = (actions = []) => {\n  const safeActions = actions.filter((action) => action?.href && action?.label);\n  if (!safeActions.length) return '';\n  return `<div style=\"margin-top:28px;padding-top:4px;display:flex;flex-wrap:wrap;gap:16px;\">${safeActions\n    .map(\n      (action, index) =>\n        `<a href=\"${action.href}\" style=\"display:inline-block;padding:14px 18px;border-radius:16px;text-decoration:none;font-weight:700;font-size:15px;line-height:1.2;background:${action.variant === 'secondary' ? '#ffffff' : '#ff8c42'};color:${action.variant === 'secondary' ? '#0f172a' : '#ffffff'};border:1px solid ${action.variant === 'secondary' ? '#cbd5e1' : '#ff8c42'};margin-right:${index === safeActions.length - 1 ? '0' : '8px'};margin-bottom:8px;\">${action.label}</a>`\n    )\n    .join('')}</div>`;\n};\n\nconst renderShell = (title, intro, bodyRows, outro, actions = []) => {\n  const rows = bodyRows\n    .filter(Boolean)\n    .map((row) => `<tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;width:38%;font-weight:600;color:#0f172a;\">${row.label}</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${row.value}</td></tr>`)\n    .join('');\n\n  return `<div style=\"font-family:Helvetica,Arial,sans-serif;background:#f8fafc;padding:24px;color:#0f172a;\">\n    <div style=\"max-width:680px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-radius:20px;overflow:hidden;\">\n      <div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f3b52 0%,#ff8c42 100%);color:#ffffff;\">\n        <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.18em;text-transform:uppercase;opacity:0.82;\">Zirèl Notification Center</p>\n        <h1 style=\"margin:0;font-size:28px;line-height:1.15;\">${title}</h1>\n      </div>\n      <div style=\"padding:28px;\">\n        <p style=\"margin:0 0 18px;font-size:16px;line-height:1.6;color:#334155;\">${intro}</p>\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:16px;overflow:hidden;background:#fff;\">${rows}</table>\n        ${renderActions(actions)}\n        <p style=\"margin:18px 0 0;font-size:15px;line-height:1.7;color:#334155;\">${outro}</p>\n      </div>\n    </div>\n  </div>`;\n};\n\nlet subject = 'Aggiornamento Zirèl';\nlet text = '';\nlet html = '';\n\nif (template === 'hotel_guest_confirmation') {\n  subject = `Richiesta soggiorno ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di soggiorno presso ${activity}.\\n\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nOspiti: ${payload.ospiti_totali || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nStato: ${statusLabel}\\n\\nIl nostro team ti contatterà a breve con il prossimo aggiornamento.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta soggiorno ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo ricevuto correttamente la tua richiesta di soggiorno presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Ospiti', value: String(payload.ospiti_totali || 'N/D') },\n      { label: 'Camera richiesta', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi richiesti', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il nostro team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'restaurant_guest_confirmation') {\n  subject = `Richiesta tavolo ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di prenotazione presso ${activity}.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\n\\nTi aggiorneremo al più presto.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta tavolo ricevuta',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta di prenotazione presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Lo staff verificherà la disponibilità del tavolo e ti confermerà al più presto.'\n  );\n} else if (template === 'appointment_guest_confirmation') {\n  subject = `Richiesta ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta con ${activity}.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}\\n\\nTi contatteremo a breve con conferma e dettagli.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'appointment_confirmed') {\n  subject = `Appuntamento confermato • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nla tua richiesta è stata confermata.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Appuntamento confermato',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, il tuo appuntamento con <strong>${activity}</strong> è stato confermato.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n    ],\n    'Ti aspettiamo nello slot confermato. Se hai bisogno di aggiornamenti, rispondi a questa email.'\n  );\n} else if (template === 'appointment_rejected') {\n  subject = `Aggiornamento richiesta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta per lo slot indicato.\\n\\nData richiesta: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra richiesta: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nMotivo del rifiuto: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, puoi rispondere a questa email per concordare un nuovo orario.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta non confermata',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tuo slot richiesto con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora richiesta', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi una nuova disponibilità, rispondi pure a questa email e ti aiuteremo a trovare un altro slot.'\n  );\n} else if (template === 'appointment_change_proposed') {\n  subject = `Nuova proposta di orario • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo questo nuovo appuntamento:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe per te va bene, rispondi a questa email e confermeremo la modifica.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo slot',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, lo slot richiesto inizialmente non è disponibile. Ti proponiamo una nuova disponibilità con <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_appuntamento || 'N/D') + ' alle ' + (payload.original_time || payload.orario || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la nuova proposta ti va bene, rispondi pure a questa email e confermeremo il nuovo appuntamento.'\n  );\n} else if (template === 'restaurant_confirmed') {\n  subject = `Prenotazione confermata • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nla tua prenotazione è confermata.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, la tua prenotazione presso <strong>${activity}</strong> è confermata.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n    ],\n    'Ti aspettiamo nel giorno e nell’orario confermati.'\n  );\n} else if (template === 'restaurant_rejected') {\n  subject = `Aggiornamento prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta di tavolo.\\n\\nData richiesta: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra richiesta: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nMotivo: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, rispondi a questa email e proveremo a trovare una soluzione alternativa.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione non confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tavolo richiesto presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora richiesta', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi valutare un’alternativa, rispondi pure a questa email.'\n  );\n} else if (template === 'restaurant_change_proposed') {\n  subject = `Nuova proposta per la tua prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe ti va bene, rispondi a questa email e confermeremo il tavolo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo tavolo',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, lo slot richiesto non è disponibile. Ti proponiamo una nuova disponibilità presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_prenotazione || 'N/D') + ' alle ' + (payload.original_time || payload.ora || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la proposta ti va bene, rispondi pure a questa email e confermeremo la prenotazione.'\n  );\n} else if (template === 'appointment_internal_status_update' || template === 'restaurant_internal_status_update') {\n  const isAppointment = template === 'appointment_internal_status_update';\n  subject = `Aggiornamento richiesta interna • ${activity}`;\n  text = isAppointment\n    ? `Aggiornamento richiesta appuntamento\\n\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`\n    : `Aggiornamento richiesta tavolo\\n\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`;\n  html = renderShell(\n    'Aggiornamento richiesta interna',\n    `La richiesta per <strong>${activity}</strong> è stata aggiornata dalla dashboard.`,\n    isAppointment\n      ? [\n          { label: 'Cliente', value: payload.nome || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ]\n      : [\n          { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ],\n    'Puoi aprire la dashboard richieste per vedere il dettaglio completo e la timeline aggiornata.'\n  );\n} else if (template === 'tenant_api_token_created') {\n  subject = `Il tuo token di accesso Zirèl`;\n  text = `Ciao,\\n\\nil tuo workspace ${businessName} è stato configurato correttamente.\\n\\nQuesto è il tuo token di accesso:\\n${payload.api_token || 'N/D'}\\n\\nConservalo in modo sicuro: questo token consente l'accesso alla dashboard e alle integrazioni API.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Il tuo token di accesso',\n    `Il workspace <strong>${businessName}</strong> è stato configurato correttamente.`,\n    [\n      { label: 'Workspace', value: businessName },\n      { label: 'Tenant ID', value: payload.tenant_id || 'N/D' },\n      {\n        label: 'Token API',\n        value: `<div style=\"background:#f8fafc;border:1px solid #cbd5e1;border-radius:12px;padding:14px 16px;font-family:'Courier New',Courier,monospace;font-size:14px;line-height:1.6;color:#0f172a;word-break:break-all;\">${payload.api_token || 'N/D'}</div><div style=\"margin-top:8px;font-size:12px;color:#64748b;\">Puoi copiare il token direttamente da questo riquadro.</div>`\n      },\n    ],\n    `Conserva questo token in modo sicuro: consente l'accesso alla dashboard e alle integrazioni API. Puoi accedere anche dal <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a>.`,\n    [\n      { label: 'Apri dashboard', href: dashboardUrl }\n    ]\n  );\n\n} else if (template === 'tenant_api_token_regenerated') {\n  subject = `Il tuo nuovo token di accesso Zirèl`;\n  text = `Ciao,\\n\\nper il workspace ${businessName} è stato generato un nuovo token di accesso.\\n\\nNuovo token:\\n${payload.api_token || 'N/D'}\\n\\nImportante: il token precedente non è più valido.\\n\\nConserva questo token in modo sicuro.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Nuovo token di accesso',\n    `Per il workspace <strong>${businessName}</strong> è stato generato un nuovo token di accesso.`,\n    [\n      { label: 'Workspace', value: businessName },\n      { label: 'Tenant ID', value: payload.tenant_id || 'N/D' },\n      {\n        label: 'Nuovo token API',\n        value: `<div style=\"background:#f8fafc;border:1px solid #cbd5e1;border-radius:12px;padding:14px 16px;font-family:'Courier New',Courier,monospace;font-size:14px;line-height:1.6;color:#0f172a;word-break:break-all;\">${payload.api_token || 'N/D'}</div><div style=\"margin-top:8px;font-size:12px;color:#64748b;\">Puoi copiare il token direttamente da questo riquadro.</div>`\n      },\n    ],\n    `Il token precedente non è più valido. Conserva questo nuovo token in modo sicuro e usa il <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a> per gestire l'accesso.`,\n    [\n      { label: 'Apri dashboard', href: dashboardUrl }\n    ]\n  );\n\n} else if (template === 'billing_trial_ending') {\n  subject = `Il periodo di prova di ${businessName} termina tra 3 giorni`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} terminerà il ${formatDate(payload.trial_ends_at)}.\\n\\nPer continuare a usare Zirèl senza interruzioni, scegli il tuo piano dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nA presto,\\nTeam Zirèl`;\n  html = renderShell(\n    'Il periodo di prova sta per terminare',\n    `Il periodo di prova di <strong>${businessName}</strong> terminerà il <strong>${formatDate(payload.trial_ends_at)}</strong>.`,\n    [\n      { label: 'Stato attuale', value: 'Periodo di prova' },\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n    ],\n    `Per continuare a usare Zirèl senza interruzioni, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">tab Abbonamento</a> e completa l'attivazione del piano più adatto alla tua attività.`\n  );\n} else if (template === 'billing_trial_expired') {\n  subject = `Periodo di prova terminato • ${businessName}`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} è terminato il ${formatDate(payload.trial_ends_at)}.\\n\\nPer riattivare il servizio, completa l'attivazione dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Periodo di prova terminato',\n    `Il periodo di prova di <strong>${businessName}</strong> è terminato.`,\n    [\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n      { label: 'Stato servizio', value: 'Attivazione richiesta' },\n    ],\n    `Per riprendere a usare Zirèl, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard</a> e attiva il tuo piano.`\n  );\n} else if (template === 'billing_payment_failed') {\n  subject = `Pagamento non riuscito • ${businessName}`;\n  text = `Ciao,\\n\\nnon siamo riusciti a completare il rinnovo del tuo piano ${planLabel} per ${businessName}.\\n\\nPer evitare interruzioni del servizio, aggiorna il metodo di pagamento dal portale di fatturazione.\\n\\nPortale di fatturazione: ${portalUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Non siamo riusciti a completare il rinnovo del piano <strong>${planLabel}</strong> per <strong>${businessName}</strong>.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Data di rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    `Aggiorna il metodo di pagamento dal <a href=\"${portalUrl}\" style=\"color:#ff8c42;font-weight:600;\">portale di fatturazione</a> per evitare sospensioni del servizio.`\n  );\n} else if (template === 'billing_payment_succeeded') {\n  subject = `Pagamento confermato • ${businessName}`;\n  text = `Ciao,\\n\\nil pagamento del piano ${planLabel} per ${businessName} è stato confermato con successo.\\n\\nIl tuo servizio resta attivo senza interruzioni.\\n\\nProssimo rinnovo: ${formatDate(payload.current_period_end)}\\n\\nGrazie,\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento confermato',\n    `Il pagamento del piano <strong>${planLabel}</strong> è stato confermato con successo.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Prossimo rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    'Il tuo servizio resta attivo senza interruzioni. Grazie per aver scelto Zirèl.'\n  );\n} else if (template === 'billing_subscription_canceled') {\n  subject = `Abbonamento annullato • ${businessName}`;\n  text = `Ciao,\\n\\nil tuo abbonamento ${planLabel} per ${businessName} è stato annullato.\\n\\nIl servizio resterà disponibile fino al ${formatDate(payload.current_period_end)}.\\n\\nSe desideri riattivarlo, puoi farlo in qualsiasi momento dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    `Puoi riattivare il servizio in qualsiasi momento dal <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a>.`\n  );\n} else if (template === 'billing_payment_failed_internal') {\n  subject = `[Billing] Azione richiesta • pagamento non riuscito • ${businessName}`;\n  text = `Il rinnovo del piano ${planLabel} per ${businessName} non è andato a buon fine.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nProssimo controllo: ${formatDate(payload.current_period_end)}\\n\\nSuggerimento: monitorare il grace period o contattare il cliente se necessario.`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Il rinnovo del piano per <strong>${businessName}</strong> richiede attenzione.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Prossimo controllo', value: formatDate(payload.current_period_end) },\n    ],\n    'Puoi monitorare il grace period oppure contattare il cliente se il pagamento non viene aggiornato.'\n  );\n} else if (template === 'billing_subscription_canceled_internal') {\n  subject = `[Billing] Abbonamento annullato • ${businessName}`;\n  text = `L'abbonamento ${planLabel} di ${businessName} è stato annullato.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nServizio attivo fino al: ${formatDate(payload.current_period_end)}\\n\\nValuta se avviare un follow-up commerciale o lasciare il tenant inattivo.`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    'I dati restano disponibili: valuta se avviare un follow-up commerciale o lasciare il tenant inattivo.'\n  );\n} else if (template === 'hotel_reception_request_internal') {\n  const requestTypeLabelMap = {\n    housekeeping: 'Housekeeping',\n    maintenance: 'Manutenzione',\n    amenities: 'Amenities',\n    taxi_booking: 'Taxi',\n    wakeup_call: 'Sveglia',\n    reception_callback: 'Richiamo reception',\n    generic_request: 'Richiesta generica',\n  };\n\n  const roomValue = String(payload.room || '').trim();\n  const isRoomRequest = !!roomValue || String(payload.source || '').trim() === 'qr_room';\n  const roomLabel = roomValue ? `Camera ${roomValue}` : 'Camera non specificata';\n  const typeLabel = requestTypeLabelMap[payload.request_type] || payload.request_type || 'Richiesta generica';\n  const requestText = payload.request_text || 'N/D';\n\n  if (isRoomRequest) {\n    subject = `${roomLabel} • Nuova richiesta reception`;\n    text = `Nuova richiesta reception\n\n${roomLabel}\nTipo: ${typeLabel}\n\nRICHIESTA\n${requestText}\n\nDettagli\n- Ospite: ${payload.guest_name || 'N/D'}\n- Telefono: ${payload.telefono || 'N/D'}\n- Quando: ${payload.requested_time || 'Appena possibile'}\n- Area: ${payload.area || 'N/D'}\n- Origine: ${payload.source || 'chat_widget'}\n- Trace: ${payload.trace_id || 'N/D'}`;\n\n    html = `\n  <div style=\"font-family:Helvetica,Arial,sans-serif;background:#f8fafc;padding:24px;color:#0f172a;\">\n    <div style=\"max-width:680px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-radius:20px;overflow:hidden;\">\n      <div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f3b52 0%,#ff8c42 100%);color:#ffffff;\">\n        <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.18em;text-transform:uppercase;opacity:0.82;\">Zirèl Notification Center</p>\n        <h1 style=\"margin:0;font-size:28px;line-height:1.15;\">Nuova richiesta reception</h1>\n        <p style=\"margin:12px 0 0;font-size:18px;line-height:1.4;font-weight:700;\">${roomLabel}${typeLabel ? ` • ${typeLabel}` : ''}</p>\n      </div>\n      <div style=\"padding:28px;\">\n        <p style=\"margin:0 0 14px;font-size:15px;line-height:1.6;color:#475569;\">È arrivata una nuova richiesta operativa per <strong>${activity}</strong>.</p>\n\n        <div style=\"margin:0 0 24px;padding:20px 22px;border-radius:18px;background:#fff7ed;border:1px solid #fdba74;\">\n          <p style=\"margin:0 0 8px;font-size:12px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#9a3412;\">Richiesta</p>\n          <p style=\"margin:0;font-size:24px;line-height:1.35;font-weight:700;color:#0f172a;\">${requestText}</p>\n        </div>\n\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:16px;overflow:hidden;background:#fff;\">\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;width:38%;font-weight:600;color:#0f172a;\">Camera</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${roomValue || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Ospite</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.guest_name || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Telefono</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.telefono || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Quando</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.requested_time || 'Appena possibile'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Area</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.area || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Origine</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.source || 'chat_widget'}</td></tr>\n          <tr><td style=\"padding:12px 14px;font-weight:600;color:#0f172a;\">Trace</td><td style=\"padding:12px 14px;color:#64748b;font-size:13px;\">${payload.trace_id || 'N/D'}</td></tr>\n        </table>\n\n        <p style=\"margin:18px 0 0;font-size:15px;line-height:1.7;color:#334155;\">Gestisci la richiesta appena possibile.</p>\n      </div>\n    </div>\n  </div>`;\n  } else {\n    subject = `Nuova richiesta reception • ${activity}`;\n    text = `Nuova richiesta reception\n\nStruttura: ${activity}\nArea: ${payload.area || 'N/D'}\nOspite: ${payload.guest_name || 'N/D'}\nTelefono: ${payload.telefono || 'N/D'}\nTipo richiesta: ${typeLabel}\nQuando: ${payload.requested_time || 'Appena possibile'}\nRichiesta: ${requestText}\nOrigine: ${payload.source || 'chat_widget'}\nTrace: ${payload.trace_id || 'N/D'}`;\n\n    html = renderShell(\n      'Nuova richiesta reception',\n      `È arrivata una nuova richiesta operativa per <strong>${activity}</strong>.`,\n      [\n        { label: 'Area', value: payload.area || 'N/D' },\n        { label: 'Ospite', value: payload.guest_name || 'N/D' },\n        { label: 'Telefono', value: payload.telefono || 'N/D' },\n        { label: 'Tipo richiesta', value: typeLabel },\n        { label: 'Quando', value: payload.requested_time || 'Appena possibile' },\n        { label: 'Richiesta', value: requestText },\n        { label: 'Origine', value: payload.source || 'chat_widget' },\n        { label: 'Trace', value: payload.trace_id || 'N/D' },\n      ],\n      'La richiesta è stata inoltrata automaticamente alla reception. Gestiscila appena possibile.'\n    );\n  }\n} else if (template === 'hotel_internal_alert') {\n  subject = `Nuova richiesta soggiorno interna • ${activity}`;\n  text = `Nuova richiesta soggiorno\\n\\nStruttura: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nServizi: ${payload.servizi_richiesti || 'Nessuno'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\nTrace: ${payload.trace_id || 'N/D'}`;\n  html = renderShell(\n    'Nuova richiesta soggiorno',\n    `È stata ricevuta una nuova richiesta per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Camera', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.'\n  );\n} else if (template === 'restaurant_internal_alert') {\n  subject = `Nuova richiesta tavolo interna • ${activity}`;\n  text = `Nuova richiesta tavolo\\n\\nAttività: ${activity}\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}`;\n\n  const internalDashboardUrl = 'https://dashboard.zirel.org?tab=prenotazioni';\n  const googleUrl = createGoogleCalendarUrl({\n    title: `Richiesta tavolo - ${payload.nome_cliente || 'Cliente'}`,\n    details: [\n      `Attività: ${activity}`,\n      `Cliente: ${payload.nome_cliente || 'N/D'}`,\n      `Telefono: ${payload.telefono || 'N/D'}`,\n      `Persone: ${payload.persone || 'N/D'}`,\n      `Note: ${payload.note_prenotazione || 'Nessuna'}`,\n      `Stato: ${statusLabel}`,\n    ].join('\\n'),\n    location: activity,\n    startDate: payload.data_prenotazione,\n    startTime: payload.ora,\n    durationMinutes: 120,\n  });\n  const icsUrl = createIcsUrl({\n    type: 'restaurant_booking',\n    entityId: $json.related_entity_id,\n    tenantId: $json.tenant_id,\n  });\n\n  html = renderShell(\n    'Nuova richiesta tavolo',\n    `È arrivata una nuova richiesta tavolo per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Verifica la disponibilità e conferma la gestione appena possibile.',\n    [\n      { label: 'Apri in dashboard', href: internalDashboardUrl },\n      ...(googleUrl ? [{ label: 'Aggiungi a Google Calendar', href: googleUrl }] : []),\n      ...(icsUrl ? [{ label: 'Scarica .ics', href: icsUrl, variant: 'secondary' }] : []),\n    ]\n  );\n} else if (template === 'appointment_internal_status_update' || template === 'restaurant_internal_status_update') {\n  const isAppointment = template === 'appointment_internal_status_update';\n  subject = `Aggiornamento richiesta interna • ${activity}`;\n  text = isAppointment\n    ? `Aggiornamento richiesta appuntamento\\n\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`\n    : `Aggiornamento richiesta tavolo\\n\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`;\n  html = renderShell(\n    'Aggiornamento richiesta interna',\n    `La richiesta per <strong>${activity}</strong> è stata aggiornata dalla dashboard.`,\n    isAppointment\n      ? [\n          { label: 'Cliente', value: payload.nome || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ]\n      : [\n          { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ],\n    'Puoi aprire la dashboard richieste per vedere il dettaglio completo e la timeline aggiornata.'\n  );\n} else {\n  subject = `Nuova richiesta interna • ${activity}`;\n  text = `Nuova richiesta appuntamento\\n\\nAttività: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}`;\n\n  const internalDashboardUrl = 'https://dashboard.zirel.org?tab=prenotazioni';\n  const googleUrl = createGoogleCalendarUrl({\n    title: `Appuntamento - ${payload.nome || 'Cliente'}`,\n    details: [\n      `Attività: ${activity}`,\n      `Cliente: ${payload.nome || 'N/D'}`,\n      `Telefono: ${payload.telefono || 'N/D'}`,\n      `Email: ${payload.email || 'N/D'}`,\n      `Motivo: ${payload.motivo || 'N/D'}`,\n      `Stato: ${statusLabel}`,\n      `Note: ${payload.note || 'Nessuna'}`,\n    ].join('\\n'),\n    location: activity,\n    startDate: payload.data_appuntamento,\n    startTime: payload.orario,\n    durationMinutes: 30,\n  });\n  const icsUrl = createIcsUrl({\n    type: 'appointment',\n    entityId: $json.related_entity_id,\n    tenantId: $json.tenant_id,\n  });\n\n  html = renderShell(\n    'Nuova richiesta appuntamento',\n    `È stata ricevuta una nuova richiesta da gestire per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.',\n    [\n      { label: 'Apri in dashboard', href: internalDashboardUrl },\n      ...(googleUrl ? [{ label: 'Aggiungi a Google Calendar', href: googleUrl }] : []),\n      ...(icsUrl ? [{ label: 'Scarica .ics', href: icsUrl, variant: 'secondary' }] : []),\n    ]\n  );\n}\n\nreturn [{\n  json: {\n    ...$json,\n    rendered_email: {\n      from: 'Zirèl <noreply@zirel.org>',\n      to: recipientEmail ? [recipientEmail] : [],\n      subject,\n      text,\n      html,\n    },\n  },\n}];"
      },
      "name": "Render Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        14672
      ],
      "id": "2c918c20-7298-4e59-9b25-6c1444fa3ec9"
    },
    {
      "parameters": {
        "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst relatedType = String($json.related_entity_type || '').trim();\nconst relatedId = String($json.related_entity_id || '').trim();\n\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  confermata: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  rifiutata: 'Non disponibile',\n  annullata: 'Non disponibile',\n  pending: 'In lavorazione',\n  change_proposed: 'Proposta inviata',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim().toLowerCase()] || 'In lavorazione';\n\nconst phoneRaw = String(payload.telefono || '').trim();\nconst emailRaw = String(payload.email || '').trim().toLowerCase();\n\nconst sourceLabelMap = {\n  qr_room: 'QR camera',\n  qr_area: 'QR area',\n  qr_hotel: 'QR struttura',\n  chat_widget: 'Widget sito',\n  public_chat: 'Chat pubblica',\n};\n\nconst sourceLabel = sourceLabelMap[String(payload.source || '').trim()] || String(payload.source || 'Chat').trim() || 'Chat';\n\nconst cleanTelegramText = (value) =>\n  String(value || '')\n    .replace(/[_*[\\]()`~>#+=|{}.!]/g, ' ')\n    .replace(/&/g, 'e')\n    .replace(/</g, ' ')\n    .replace(/>/g, ' ')\n    .replace(/\\s+\\n/g, '\\n')\n    .replace(/\\n\\s+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .trim();\n\nlet text = 'Nuova richiesta Zirèl';\nlet telegram_actions_disabled = false;\n\nif (template === 'hotel_reception_request_internal') {\n  telegram_actions_disabled = true;\n  text = [\n    'Nuova richiesta reception',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Camera: ' + (payload.room || 'N/D'),\n    'Area: ' + (payload.area || 'N/D'),\n    'Ospite: ' + (payload.guest_name || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Tipo: ' + (payload.request_type || 'generic_request'),\n    'Quando: ' + (payload.requested_time || 'Appena possibile'),\n    'Richiesta: ' + (payload.request_text || 'N/D'),\n    'Origine: ' + sourceLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else if (template === 'hotel_internal_alert') {\n  text = [\n    'Nuova richiesta soggiorno',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    '',\n    'Soggiorno: ' + (payload.checkin_date || 'N/D') + ' -> ' + (payload.checkout_date || 'N/D'),\n    'Ospiti: ' + String(payload.ospiti_totali || 'N/D'),\n    'Camera: ' + (payload.room_type_requested || 'Da definire'),\n    'Servizi: ' + (payload.servizi_richiesti || 'Nessuno'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n} else if (template === 'restaurant_internal_alert') {\n  text = [\n    'Nuova richiesta tavolo',\n    '',\n    'Cliente: ' + (payload.nome_cliente || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    ...(emailRaw ? ['Email: ' + emailRaw] : []),\n    'Data: ' + (payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'),\n    'Ora: ' + (payload.ora || 'N/D'),\n    'Persone: ' + String(payload.persone || 'N/D'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n} else {\n  text = [\n    'Nuova richiesta appuntamento',\n    '',\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    'Data: ' + (payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'),\n    'Ora: ' + (payload.orario || 'N/D'),\n    'Motivo: ' + (payload.motivo || 'N/D'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n}\n\nconst callbackSuffix = relatedType && relatedId\n  ? [relatedType, relatedId].join('|')\n  : '';\n\nreturn [{\n  json: {\n    ...$json,\n    rendered_telegram_text: cleanTelegramText(text),\n    telegram_actions_disabled,\n    telegram_accept_callback_data: telegram_actions_disabled ? '' : (callbackSuffix ? `accept|${callbackSuffix}` : ''),\n    telegram_reject_callback_data: telegram_actions_disabled ? '' : (callbackSuffix ? `reject|${callbackSuffix}` : ''),\n  },\n}];"
      },
      "name": "Render Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        15056
      ],
      "id": "b6f5fe08-ccdd-445f-9ed2-b14f4b149a45"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "name": "Get Pending Outbox1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4416,
        14864
      ],
      "id": "0ee76c11-0cbf-49ef-822d-5321a8f7d33e",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nreturn items.filter((item) => {\n  const nextRetry = item.json.next_retry_at;\n  if (!nextRetry) return true;\n  const ts = new Date(nextRetry).getTime();\n  return !Number.isNaN(ts) && ts <= now;\n});"
      },
      "name": "Filter Due Now1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4192,
        14864
      ],
      "id": "2364f04c-18b0-4534-8669-2de558027b86"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f14b1dd-f595-421f-aa60-700e0cd75411",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"email_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Channel?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3744,
        14672
      ],
      "id": "1ef8c470-bda3-4d2b-8996-66581bb0f4a2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rendered_email }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Send Email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3520,
        14672
      ],
      "id": "a41e46ad-901a-4551-8f48-1f30ec40424a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5v5J8779y7QCWIE",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27ff8e35-f9c8-4823-8a41-b3ff3c23faf2",
              "leftValue": "={{ !!String($json.id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Email Sent?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        14672
      ],
      "id": "c9771adc-deca-421b-a5c3-f79565de1446"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?1').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
      },
      "name": "Prepare Email Sent Update1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        14576
      ],
      "id": "595be66c-5e64-495a-87d4-bef0c094125c"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Email Channel?1').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'EMAIL_SEND_FAILED' } };\n});"
      },
      "name": "Prepare Email Retry Update1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        14768
      ],
      "id": "9968b22d-dede-45cf-888c-446bf946029e"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Sent1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2848,
        14576
      ],
      "id": "6610c612-f7bb-4b0a-a4cc-66cca37fd834",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Email Retry1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2848,
        14768
      ],
      "id": "4087fbf9-256a-4c74-9e8a-8c812efa8b2d",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d70d580-cb78-40f0-a7dd-c315dd64fd16",
              "leftValue": "={{ String($json.channel || \"\").startsWith(\"telegram_\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Channel?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3744,
        15056
      ],
      "id": "ea5f39b4-ba79-4273-b78d-57f94c8f8cae"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6064afe4-24b8-45cc-96c5-2fa5fc7473e8",
              "leftValue": "={{ !!String($json.message_id || $json.result?.message_id || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Sent?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3072,
        15056
      ],
      "id": "b0c28356-9716-425b-b3de-9f2336ba2e1a"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?1').all();\n\nreturn items\n  .map((item, index) => {\n    const src = sources[index]?.json || {};\n    const id = src.id || item.json.id || '';\n    if (!id) return null;\n\n    return {\n      json: {\n        id,\n        status: 'sent',\n        sent_at: new Date().toISOString(),\n        last_error: null\n      }\n    };\n  })\n  .filter(Boolean);"
      },
      "name": "Prepare Telegram Sent Update1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        14960
      ],
      "id": "5cc0595f-0218-4ba2-b03d-b6c8887225b9"
    },
    {
      "parameters": {
        "jsCode": "const sources = $('If Telegram Channel?1').all();\n\nreturn items\n  .map((item, index) => {\n    const src = sources[index]?.json || {};\n    const id = src.id || item.json.id || '';\n    if (!id) return null;\n\n    const retry = Number(src.retry_count || 0) + 1;\n    const max = Number(src.max_retries || 5);\n    const failed = retry >= max;\n    const backoffMin = Math.min(60, Math.pow(2, retry));\n\n    return {\n      json: {\n        id,\n        status: failed ? 'failed' : 'pending',\n        retry_count: retry,\n        next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(),\n        last_error: 'TELEGRAM_SEND_FAILED'\n      }\n    };\n  })\n  .filter(Boolean);"
      },
      "name": "Prepare Telegram Retry Update1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        15152
      ],
      "id": "771bf2b9-4e3c-4469-8262-2257cf9fc2f8"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.sent_at || null }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Sent1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2624,
        14960
      ],
      "id": "65e9a73e-d994-41db-88db-787de7d7f0d2",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notification_outbox",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "last_error",
              "fieldValue": "={{ $json.last_error }}"
            }
          ]
        }
      },
      "name": "Update Outbox Telegram Retry1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2624,
        15152
      ],
      "id": "96cb46af-908d-4e9d-a45a-3ba91d32f8d3",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "name": "Schedule Trigger (30 sec)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4640,
        14864
      ],
      "id": "7b2343ae-0561-41a1-809e-b4d3db4ba872"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "telegram-actions-disabled-check",
              "leftValue": "={{ !!$json.telegram_actions_disabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Telegram Actions Disabled?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3520,
        15056
      ],
      "id": "6487b10a-51d8-4a7f-bcd6-c4d9c72ec65e"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
        "text": "={{ $json.rendered_telegram_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send Telegram No Actions1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3296,
        14960
      ],
      "id": "6a45f6e3-d309-431e-b1ae-21880179eb29",
      "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
        "text": "={{ $json.rendered_telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Accetta",
                    "additionalFields": {
                      "callback_data": "={{ $json.telegram_accept_callback_data || \"\" }}"
                    }
                  },
                  {
                    "text": "❌ Rifiuta",
                    "additionalFields": {
                      "callback_data": "={{ $json.telegram_reject_callback_data || \"\" }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send Telegram With Actions1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3296,
        15152
      ],
      "id": "9c48e107-4796-4d84-98ea-eccabd056b8c",
      "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
      "credentials": {
        "telegramApi": {
          "id": "MHrNkPgbqU0Q6vyM",
          "name": "TG_Zirèl"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Render Email Payload": {
      "main": [
        [
          {
            "node": "If Email Channel?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Telegram Payload": {
      "main": [
        [
          {
            "node": "If Telegram Channel?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Outbox1": {
      "main": [
        [
          {
            "node": "Filter Due Now1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Now1": {
      "main": [
        [
          {
            "node": "Render Email Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Channel?1": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "If Email Sent?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Sent?1": {
      "main": [
        [
          {
            "node": "Prepare Email Sent Update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email Retry Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Sent Update1": {
      "main": [
        [
          {
            "node": "Update Outbox Email Sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Retry Update1": {
      "main": [
        [
          {
            "node": "Update Outbox Email Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Channel?1": {
      "main": [
        [
          {
            "node": "If Telegram Actions Disabled?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Sent?1": {
      "main": [
        [
          {
            "node": "Prepare Telegram Sent Update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Retry Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Sent Update1": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Retry Update1": {
      "main": [
        [
          {
            "node": "Update Outbox Telegram Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (30 sec)": {
      "main": [
        [
          {
            "node": "Get Pending Outbox1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Actions Disabled?1": {
      "main": [
        [
          {
            "node": "Send Telegram No Actions1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram With Actions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram No Actions1": {
      "main": [
        [
          {
            "node": "If Telegram Sent?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram With Actions1": {
      "main": [
        [
          {
            "node": "If Telegram Sent?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger (30 sec)": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "01e43c3b-30ed-4dee-96cb-72aa4358e9ef",
  "activeVersionId": "01e43c3b-30ed-4dee-96cb-72aa4358e9ef",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-05T20:34:53.494Z",
      "createdAt": "2026-03-05T20:34:53.494Z",
      "role": "workflow:owner",
      "workflowId": "nIfv95KmUsamVSDl",
      "projectId": "2Cf6i0jib9PfATFz"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-01T20:27:33.642Z",
    "createdAt": "2026-04-01T20:26:19.829Z",
    "versionId": "01e43c3b-30ed-4dee-96cb-72aa4358e9ef",
    "workflowId": "nIfv95KmUsamVSDl",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst channel = String($json.channel || '').trim();\n\nconst cleanLabel = (value, fallback = 'Zirèl') => {\n  const raw = String(value || '').trim();\n  if (!raw) return fallback;\n  return raw\n    .replace(/\\s*-\\s*L['’]Intelligenza Artificiale per il tuo Business\\s*$/i, '')\n    .trim() || fallback;\n};\n\nconst activity = cleanLabel(payload.nome_struttura || payload.nome_attivita || 'Zirèl');\nconst businessName = cleanLabel(\n  payload.business_name ||\n  payload.hotel_name ||\n  payload.nome_attivita ||\n  payload.nome_struttura ||\n  payload.nome_ristorante ||\n  payload.tenant_id ||\n  activity\n);\n\nconst recipientEmail = String(\n  $json.recipient_email ||\n  (\n    channel === 'email_guest_appointment' ||\n    channel === 'email_guest_hotel' ||\n    channel === 'email_guest_restaurant' ||\n    channel === 'email_tenant_security'\n      ? (payload.email || payload.mail || payload.billing_email || '')\n      : ''\n  ) ||\n  payload.internal_email ||\n  payload.billing_email ||\n  payload.email ||\n  payload.mail ||\n  ''\n).trim().toLowerCase();\n\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  confermata: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  rifiutata: 'Non disponibile',\n  annullata: 'Non disponibile',\n  pending: 'In lavorazione',\n  change_proposed: 'Proposta inviata',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim().toLowerCase()] || 'In lavorazione';\n\nconst planCode = String(payload.billing_plan_code || '').trim().toLowerCase();\nconst cycleCode = String(payload.billing_cycle || '').trim().toLowerCase();\nconst planLabel = planCode === 'premium' ? 'Zirèl Core Premium' : planCode === 'base' ? 'Zirèl Core Base' : 'Piano Zirèl';\nconst cycleLabel = cycleCode === 'yearly' ? 'Annuale' : cycleCode === 'monthly' ? 'Mensile' : 'Non definito';\nconst dashboardUrl = String(payload.dashboard_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\nconst portalUrl = String(payload.portal_url || 'https://dashboard.zirel.org?tab=abbonamento').trim();\n\nconst formatDate = (value) => {\n  if (!value) return 'N/D';\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return String(value);\n  return date.toLocaleDateString('it-IT', {\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n    timeZone: 'Europe/Rome',\n  });\n};\n\nconst pad = (value) => String(value).padStart(2, '0');\n\nconst buildLocalDateTime = (dateValue, timeValue) => {\n  const dateRaw = String(dateValue || '').trim();\n  const timeRaw = String(timeValue || '').trim();\n  if (!dateRaw || !timeRaw) return null;\n\n  const [year, month, day] = dateRaw.split('-').map(Number);\n  const [hour, minute] = timeRaw.split(':').map(Number);\n\n  if (!year || !month || !day || Number.isNaN(hour) || Number.isNaN(minute)) return null;\n\n  return { year, month, day, hour, minute };\n};\n\nconst toCalendarStamp = (parts) =>\n  parts ? `${parts.year}${pad(parts.month)}${pad(parts.day)}T${pad(parts.hour)}${pad(parts.minute)}00` : '';\n\nconst addMinutes = (parts, minutesToAdd) => {\n  if (!parts) return null;\n  const d = new Date(Date.UTC(parts.year, parts.month - 1, parts.day, parts.hour, parts.minute + minutesToAdd, 0));\n  return {\n    year: d.getUTCFullYear(),\n    month: d.getUTCMonth() + 1,\n    day: d.getUTCDate(),\n    hour: d.getUTCHours(),\n    minute: d.getUTCMinutes(),\n  };\n};\n\nconst toQueryString = (params) =>\n  Object.entries(params)\n    .filter(([, value]) => value !== undefined && value !== null && value !== '')\n    .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(String(value))}`)\n    .join('&');\n\nconst createGoogleCalendarUrl = ({ title, details, location, startDate, startTime, durationMinutes }) => {\n  const start = buildLocalDateTime(startDate, startTime);\n  if (!start) return '';\n  const end = addMinutes(start, durationMinutes);\n\n  const query = toQueryString({\n    action: 'TEMPLATE',\n    text: title,\n    details,\n    location,\n    ctz: 'Europe/Rome',\n    dates: `${toCalendarStamp(start)}/${toCalendarStamp(end)}`,\n  });\n\n  return `https://calendar.google.com/calendar/render?${query}`;\n};\n\nconst createIcsUrl = ({ type, entityId, tenantId }) => {\n  const webhookBase = 'https://primary-production-b2af.up.railway.app/webhook/zirel-calendar-ics';\n  if (!type || !entityId || !tenantId) return '';\n\n  const query = toQueryString({\n    type,\n    id: entityId,\n    tenant_id: tenantId,\n  });\n\n  return `${webhookBase}?${query}`;\n};\n\nconst renderActions = (actions = []) => {\n  const safeActions = actions.filter((action) => action?.href && action?.label);\n  if (!safeActions.length) return '';\n  return `<div style=\"margin-top:28px;padding-top:4px;display:flex;flex-wrap:wrap;gap:16px;\">${safeActions\n    .map(\n      (action, index) =>\n        `<a href=\"${action.href}\" style=\"display:inline-block;padding:14px 18px;border-radius:16px;text-decoration:none;font-weight:700;font-size:15px;line-height:1.2;background:${action.variant === 'secondary' ? '#ffffff' : '#ff8c42'};color:${action.variant === 'secondary' ? '#0f172a' : '#ffffff'};border:1px solid ${action.variant === 'secondary' ? '#cbd5e1' : '#ff8c42'};margin-right:${index === safeActions.length - 1 ? '0' : '8px'};margin-bottom:8px;\">${action.label}</a>`\n    )\n    .join('')}</div>`;\n};\n\nconst renderShell = (title, intro, bodyRows, outro, actions = []) => {\n  const rows = bodyRows\n    .filter(Boolean)\n    .map((row) => `<tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;width:38%;font-weight:600;color:#0f172a;\">${row.label}</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${row.value}</td></tr>`)\n    .join('');\n\n  return `<div style=\"font-family:Helvetica,Arial,sans-serif;background:#f8fafc;padding:24px;color:#0f172a;\">\n    <div style=\"max-width:680px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-radius:20px;overflow:hidden;\">\n      <div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f3b52 0%,#ff8c42 100%);color:#ffffff;\">\n        <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.18em;text-transform:uppercase;opacity:0.82;\">Zirèl Notification Center</p>\n        <h1 style=\"margin:0;font-size:28px;line-height:1.15;\">${title}</h1>\n      </div>\n      <div style=\"padding:28px;\">\n        <p style=\"margin:0 0 18px;font-size:16px;line-height:1.6;color:#334155;\">${intro}</p>\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:16px;overflow:hidden;background:#fff;\">${rows}</table>\n        ${renderActions(actions)}\n        <p style=\"margin:18px 0 0;font-size:15px;line-height:1.7;color:#334155;\">${outro}</p>\n      </div>\n    </div>\n  </div>`;\n};\n\nlet subject = 'Aggiornamento Zirèl';\nlet text = '';\nlet html = '';\n\nif (template === 'hotel_guest_confirmation') {\n  subject = `Richiesta soggiorno ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di soggiorno presso ${activity}.\\n\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nOspiti: ${payload.ospiti_totali || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nStato: ${statusLabel}\\n\\nIl nostro team ti contatterà a breve con il prossimo aggiornamento.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta soggiorno ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo ricevuto correttamente la tua richiesta di soggiorno presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Ospiti', value: String(payload.ospiti_totali || 'N/D') },\n      { label: 'Camera richiesta', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi richiesti', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il nostro team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'restaurant_guest_confirmation') {\n  subject = `Richiesta tavolo ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta di prenotazione presso ${activity}.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\n\\nTi aggiorneremo al più presto.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta tavolo ricevuta',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta di prenotazione presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Lo staff verificherà la disponibilità del tavolo e ti confermerà al più presto.'\n  );\n} else if (template === 'appointment_guest_confirmation') {\n  subject = `Richiesta ricevuta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nabbiamo ricevuto la tua richiesta con ${activity}.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}\\n\\nTi contatteremo a breve con conferma e dettagli.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta ricevuta',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, abbiamo preso in carico la tua richiesta con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato richiesta', value: statusLabel },\n    ],\n    'Il team verificherà la disponibilità e ti ricontatterà con il prossimo aggiornamento.'\n  );\n} else if (template === 'appointment_confirmed') {\n  subject = `Appuntamento confermato • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nla tua richiesta è stata confermata.\\n\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Appuntamento confermato',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, il tuo appuntamento con <strong>${activity}</strong> è stato confermato.`,\n    [\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n    ],\n    'Ti aspettiamo nello slot confermato. Se hai bisogno di aggiornamenti, rispondi a questa email.'\n  );\n} else if (template === 'appointment_rejected') {\n  subject = `Aggiornamento richiesta • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta per lo slot indicato.\\n\\nData richiesta: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra richiesta: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nMotivo del rifiuto: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, puoi rispondere a questa email per concordare un nuovo orario.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Richiesta non confermata',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tuo slot richiesto con <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora richiesta', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi una nuova disponibilità, rispondi pure a questa email e ti aiuteremo a trovare un altro slot.'\n  );\n} else if (template === 'appointment_change_proposed') {\n  subject = `Nuova proposta di orario • ${activity}`;\n  text = `Ciao ${payload.nome || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo questo nuovo appuntamento:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe per te va bene, rispondi a questa email e confermeremo la modifica.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo slot',\n    `Ciao <strong>${payload.nome || 'Cliente'}</strong>, lo slot richiesto inizialmente non è disponibile. Ti proponiamo una nuova disponibilità con <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_appuntamento || 'N/D') + ' alle ' + (payload.original_time || payload.orario || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la nuova proposta ti va bene, rispondi pure a questa email e confermeremo il nuovo appuntamento.'\n  );\n} else if (template === 'restaurant_confirmed') {\n  subject = `Prenotazione confermata • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nla tua prenotazione è confermata.\\n\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\n\\nTi aspettiamo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, la tua prenotazione presso <strong>${activity}</strong> è confermata.`,\n    [\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n    ],\n    'Ti aspettiamo nel giorno e nell’orario confermati.'\n  );\n} else if (template === 'restaurant_rejected') {\n  subject = `Aggiornamento prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nnon siamo riusciti a confermare la tua richiesta di tavolo.\\n\\nData richiesta: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra richiesta: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nMotivo: ${payload.rejection_reason || 'Non disponibile'}\\n\\nSe vuoi, rispondi a questa email e proveremo a trovare una soluzione alternativa.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Prenotazione non confermata',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, al momento non siamo riusciti a confermare il tavolo richiesto presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Data richiesta', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora richiesta', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Dettaglio', value: payload.rejection_reason || 'Non disponibile' },\n    ],\n    'Se vuoi valutare un’alternativa, rispondi pure a questa email.'\n  );\n} else if (template === 'restaurant_change_proposed') {\n  subject = `Nuova proposta per la tua prenotazione • ${activity}`;\n  text = `Ciao ${payload.nome_cliente || 'Cliente'},\\n\\nlo slot richiesto non è disponibile. Ti proponiamo:\\n\\nNuova data: ${payload.proposed_date || 'N/D'}\\nNuovo orario: ${payload.proposed_time || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNota: ${payload.change_note || 'Nessuna'}\\n\\nSe ti va bene, rispondi a questa email e confermeremo il tavolo.\\n\\nA presto,\\n${activity}`;\n  html = renderShell(\n    'Ti proponiamo un nuovo tavolo',\n    `Ciao <strong>${payload.nome_cliente || 'Cliente'}</strong>, lo slot richiesto non è disponibile. Ti proponiamo una nuova disponibilità presso <strong>${activity}</strong>.`,\n    [\n      { label: 'Richiesta iniziale', value: (payload.original_date || payload.data_prenotazione || 'N/D') + ' alle ' + (payload.original_time || payload.ora || 'N/D') },\n      { label: 'Nuova data', value: payload.proposed_date || 'N/D' },\n      { label: 'Nuovo orario', value: payload.proposed_time || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Nota', value: payload.change_note || 'Nessuna' },\n    ],\n    'Se la proposta ti va bene, rispondi pure a questa email e confermeremo la prenotazione.'\n  );\n} else if (template === 'appointment_internal_status_update' || template === 'restaurant_internal_status_update') {\n  const isAppointment = template === 'appointment_internal_status_update';\n  subject = `Aggiornamento richiesta interna • ${activity}`;\n  text = isAppointment\n    ? `Aggiornamento richiesta appuntamento\\n\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`\n    : `Aggiornamento richiesta tavolo\\n\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`;\n  html = renderShell(\n    'Aggiornamento richiesta interna',\n    `La richiesta per <strong>${activity}</strong> è stata aggiornata dalla dashboard.`,\n    isAppointment\n      ? [\n          { label: 'Cliente', value: payload.nome || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ]\n      : [\n          { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ],\n    'Puoi aprire la dashboard richieste per vedere il dettaglio completo e la timeline aggiornata.'\n  );\n} else if (template === 'tenant_api_token_created') {\n  subject = `Il tuo token di accesso Zirèl`;\n  text = `Ciao,\\n\\nil tuo workspace ${businessName} è stato configurato correttamente.\\n\\nQuesto è il tuo token di accesso:\\n${payload.api_token || 'N/D'}\\n\\nConservalo in modo sicuro: questo token consente l'accesso alla dashboard e alle integrazioni API.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Il tuo token di accesso',\n    `Il workspace <strong>${businessName}</strong> è stato configurato correttamente.`,\n    [\n      { label: 'Workspace', value: businessName },\n      { label: 'Tenant ID', value: payload.tenant_id || 'N/D' },\n      {\n        label: 'Token API',\n        value: `<div style=\"background:#f8fafc;border:1px solid #cbd5e1;border-radius:12px;padding:14px 16px;font-family:'Courier New',Courier,monospace;font-size:14px;line-height:1.6;color:#0f172a;word-break:break-all;\">${payload.api_token || 'N/D'}</div><div style=\"margin-top:8px;font-size:12px;color:#64748b;\">Puoi copiare il token direttamente da questo riquadro.</div>`\n      },\n    ],\n    `Conserva questo token in modo sicuro: consente l'accesso alla dashboard e alle integrazioni API. Puoi accedere anche dal <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a>.`,\n    [\n      { label: 'Apri dashboard', href: dashboardUrl }\n    ]\n  );\n\n} else if (template === 'tenant_api_token_regenerated') {\n  subject = `Il tuo nuovo token di accesso Zirèl`;\n  text = `Ciao,\\n\\nper il workspace ${businessName} è stato generato un nuovo token di accesso.\\n\\nNuovo token:\\n${payload.api_token || 'N/D'}\\n\\nImportante: il token precedente non è più valido.\\n\\nConserva questo token in modo sicuro.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Nuovo token di accesso',\n    `Per il workspace <strong>${businessName}</strong> è stato generato un nuovo token di accesso.`,\n    [\n      { label: 'Workspace', value: businessName },\n      { label: 'Tenant ID', value: payload.tenant_id || 'N/D' },\n      {\n        label: 'Nuovo token API',\n        value: `<div style=\"background:#f8fafc;border:1px solid #cbd5e1;border-radius:12px;padding:14px 16px;font-family:'Courier New',Courier,monospace;font-size:14px;line-height:1.6;color:#0f172a;word-break:break-all;\">${payload.api_token || 'N/D'}</div><div style=\"margin-top:8px;font-size:12px;color:#64748b;\">Puoi copiare il token direttamente da questo riquadro.</div>`\n      },\n    ],\n    `Il token precedente non è più valido. Conserva questo nuovo token in modo sicuro e usa il <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a> per gestire l'accesso.`,\n    [\n      { label: 'Apri dashboard', href: dashboardUrl }\n    ]\n  );\n\n} else if (template === 'billing_trial_ending') {\n  subject = `Il periodo di prova di ${businessName} termina tra 3 giorni`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} terminerà il ${formatDate(payload.trial_ends_at)}.\\n\\nPer continuare a usare Zirèl senza interruzioni, scegli il tuo piano dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nA presto,\\nTeam Zirèl`;\n  html = renderShell(\n    'Il periodo di prova sta per terminare',\n    `Il periodo di prova di <strong>${businessName}</strong> terminerà il <strong>${formatDate(payload.trial_ends_at)}</strong>.`,\n    [\n      { label: 'Stato attuale', value: 'Periodo di prova' },\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n    ],\n    `Per continuare a usare Zirèl senza interruzioni, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">tab Abbonamento</a> e completa l'attivazione del piano più adatto alla tua attività.`\n  );\n} else if (template === 'billing_trial_expired') {\n  subject = `Periodo di prova terminato • ${businessName}`;\n  text = `Ciao,\\n\\nil periodo di prova di ${businessName} è terminato il ${formatDate(payload.trial_ends_at)}.\\n\\nPer riattivare il servizio, completa l'attivazione dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Periodo di prova terminato',\n    `Il periodo di prova di <strong>${businessName}</strong> è terminato.`,\n    [\n      { label: 'Fine prova', value: formatDate(payload.trial_ends_at) },\n      { label: 'Stato servizio', value: 'Attivazione richiesta' },\n    ],\n    `Per riprendere a usare Zirèl, accedi al <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard</a> e attiva il tuo piano.`\n  );\n} else if (template === 'billing_payment_failed') {\n  subject = `Pagamento non riuscito • ${businessName}`;\n  text = `Ciao,\\n\\nnon siamo riusciti a completare il rinnovo del tuo piano ${planLabel} per ${businessName}.\\n\\nPer evitare interruzioni del servizio, aggiorna il metodo di pagamento dal portale di fatturazione.\\n\\nPortale di fatturazione: ${portalUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Non siamo riusciti a completare il rinnovo del piano <strong>${planLabel}</strong> per <strong>${businessName}</strong>.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Data di rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    `Aggiorna il metodo di pagamento dal <a href=\"${portalUrl}\" style=\"color:#ff8c42;font-weight:600;\">portale di fatturazione</a> per evitare sospensioni del servizio.`\n  );\n} else if (template === 'billing_payment_succeeded') {\n  subject = `Pagamento confermato • ${businessName}`;\n  text = `Ciao,\\n\\nil pagamento del piano ${planLabel} per ${businessName} è stato confermato con successo.\\n\\nIl tuo servizio resta attivo senza interruzioni.\\n\\nProssimo rinnovo: ${formatDate(payload.current_period_end)}\\n\\nGrazie,\\nTeam Zirèl`;\n  html = renderShell(\n    'Pagamento confermato',\n    `Il pagamento del piano <strong>${planLabel}</strong> è stato confermato con successo.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Prossimo rinnovo', value: formatDate(payload.current_period_end) },\n    ],\n    'Il tuo servizio resta attivo senza interruzioni. Grazie per aver scelto Zirèl.'\n  );\n} else if (template === 'billing_subscription_canceled') {\n  subject = `Abbonamento annullato • ${businessName}`;\n  text = `Ciao,\\n\\nil tuo abbonamento ${planLabel} per ${businessName} è stato annullato.\\n\\nIl servizio resterà disponibile fino al ${formatDate(payload.current_period_end)}.\\n\\nSe desideri riattivarlo, puoi farlo in qualsiasi momento dal dashboard.\\n\\nDashboard: ${dashboardUrl}\\n\\nTeam Zirèl`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    `Puoi riattivare il servizio in qualsiasi momento dal <a href=\"${dashboardUrl}\" style=\"color:#ff8c42;font-weight:600;\">dashboard Zirèl</a>.`\n  );\n} else if (template === 'billing_payment_failed_internal') {\n  subject = `[Billing] Azione richiesta • pagamento non riuscito • ${businessName}`;\n  text = `Il rinnovo del piano ${planLabel} per ${businessName} non è andato a buon fine.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nProssimo controllo: ${formatDate(payload.current_period_end)}\\n\\nSuggerimento: monitorare il grace period o contattare il cliente se necessario.`;\n  html = renderShell(\n    'Pagamento non riuscito',\n    `Il rinnovo del piano per <strong>${businessName}</strong> richiede attenzione.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Prossimo controllo', value: formatDate(payload.current_period_end) },\n    ],\n    'Puoi monitorare il grace period oppure contattare il cliente se il pagamento non viene aggiornato.'\n  );\n} else if (template === 'billing_subscription_canceled_internal') {\n  subject = `[Billing] Abbonamento annullato • ${businessName}`;\n  text = `L'abbonamento ${planLabel} di ${businessName} è stato annullato.\\n\\nEmail di fatturazione: ${payload.billing_email || 'N/D'}\\nServizio attivo fino al: ${formatDate(payload.current_period_end)}\\n\\nValuta se avviare un follow-up commerciale o lasciare il tenant inattivo.`;\n  html = renderShell(\n    'Abbonamento annullato',\n    `L'abbonamento di <strong>${businessName}</strong> è stato annullato.`,\n    [\n      { label: 'Cliente', value: businessName },\n      { label: 'Piano', value: planLabel },\n      { label: 'Ciclo', value: cycleLabel },\n      { label: 'Email di fatturazione', value: payload.billing_email || 'N/D' },\n      { label: 'Servizio attivo fino al', value: formatDate(payload.current_period_end) },\n    ],\n    'I dati restano disponibili: valuta se avviare un follow-up commerciale o lasciare il tenant inattivo.'\n  );\n} else if (template === 'hotel_reception_request_internal') {\n  const requestTypeLabelMap = {\n    housekeeping: 'Housekeeping',\n    maintenance: 'Manutenzione',\n    amenities: 'Amenities',\n    taxi_booking: 'Taxi',\n    wakeup_call: 'Sveglia',\n    reception_callback: 'Richiamo reception',\n    generic_request: 'Richiesta generica',\n  };\n\n  const roomValue = String(payload.room || '').trim();\n  const isRoomRequest = !!roomValue || String(payload.source || '').trim() === 'qr_room';\n  const roomLabel = roomValue ? `Camera ${roomValue}` : 'Camera non specificata';\n  const typeLabel = requestTypeLabelMap[payload.request_type] || payload.request_type || 'Richiesta generica';\n  const requestText = payload.request_text || 'N/D';\n\n  if (isRoomRequest) {\n    subject = `${roomLabel} • Nuova richiesta reception`;\n    text = `Nuova richiesta reception\n\n${roomLabel}\nTipo: ${typeLabel}\n\nRICHIESTA\n${requestText}\n\nDettagli\n- Ospite: ${payload.guest_name || 'N/D'}\n- Telefono: ${payload.telefono || 'N/D'}\n- Quando: ${payload.requested_time || 'Appena possibile'}\n- Area: ${payload.area || 'N/D'}\n- Origine: ${payload.source || 'chat_widget'}\n- Trace: ${payload.trace_id || 'N/D'}`;\n\n    html = `\n  <div style=\"font-family:Helvetica,Arial,sans-serif;background:#f8fafc;padding:24px;color:#0f172a;\">\n    <div style=\"max-width:680px;margin:0 auto;background:#ffffff;border:1px solid #e2e8f0;border-radius:20px;overflow:hidden;\">\n      <div style=\"padding:24px 28px;background:linear-gradient(135deg,#0f3b52 0%,#ff8c42 100%);color:#ffffff;\">\n        <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:0.18em;text-transform:uppercase;opacity:0.82;\">Zirèl Notification Center</p>\n        <h1 style=\"margin:0;font-size:28px;line-height:1.15;\">Nuova richiesta reception</h1>\n        <p style=\"margin:12px 0 0;font-size:18px;line-height:1.4;font-weight:700;\">${roomLabel}${typeLabel ? ` • ${typeLabel}` : ''}</p>\n      </div>\n      <div style=\"padding:28px;\">\n        <p style=\"margin:0 0 14px;font-size:15px;line-height:1.6;color:#475569;\">È arrivata una nuova richiesta operativa per <strong>${activity}</strong>.</p>\n\n        <div style=\"margin:0 0 24px;padding:20px 22px;border-radius:18px;background:#fff7ed;border:1px solid #fdba74;\">\n          <p style=\"margin:0 0 8px;font-size:12px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#9a3412;\">Richiesta</p>\n          <p style=\"margin:0;font-size:24px;line-height:1.35;font-weight:700;color:#0f172a;\">${requestText}</p>\n        </div>\n\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:16px;overflow:hidden;background:#fff;\">\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;width:38%;font-weight:600;color:#0f172a;\">Camera</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${roomValue || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Ospite</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.guest_name || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Telefono</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.telefono || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Quando</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.requested_time || 'Appena possibile'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Area</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.area || 'N/D'}</td></tr>\n          <tr><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;font-weight:600;color:#0f172a;\">Origine</td><td style=\"padding:12px 14px;border-bottom:1px solid #e5e7eb;color:#334155;\">${payload.source || 'chat_widget'}</td></tr>\n          <tr><td style=\"padding:12px 14px;font-weight:600;color:#0f172a;\">Trace</td><td style=\"padding:12px 14px;color:#64748b;font-size:13px;\">${payload.trace_id || 'N/D'}</td></tr>\n        </table>\n\n        <p style=\"margin:18px 0 0;font-size:15px;line-height:1.7;color:#334155;\">Gestisci la richiesta appena possibile.</p>\n      </div>\n    </div>\n  </div>`;\n  } else {\n    subject = `Nuova richiesta reception • ${activity}`;\n    text = `Nuova richiesta reception\n\nStruttura: ${activity}\nArea: ${payload.area || 'N/D'}\nOspite: ${payload.guest_name || 'N/D'}\nTelefono: ${payload.telefono || 'N/D'}\nTipo richiesta: ${typeLabel}\nQuando: ${payload.requested_time || 'Appena possibile'}\nRichiesta: ${requestText}\nOrigine: ${payload.source || 'chat_widget'}\nTrace: ${payload.trace_id || 'N/D'}`;\n\n    html = renderShell(\n      'Nuova richiesta reception',\n      `È arrivata una nuova richiesta operativa per <strong>${activity}</strong>.`,\n      [\n        { label: 'Area', value: payload.area || 'N/D' },\n        { label: 'Ospite', value: payload.guest_name || 'N/D' },\n        { label: 'Telefono', value: payload.telefono || 'N/D' },\n        { label: 'Tipo richiesta', value: typeLabel },\n        { label: 'Quando', value: payload.requested_time || 'Appena possibile' },\n        { label: 'Richiesta', value: requestText },\n        { label: 'Origine', value: payload.source || 'chat_widget' },\n        { label: 'Trace', value: payload.trace_id || 'N/D' },\n      ],\n      'La richiesta è stata inoltrata automaticamente alla reception. Gestiscila appena possibile.'\n    );\n  }\n} else if (template === 'hotel_internal_alert') {\n  subject = `Nuova richiesta soggiorno interna • ${activity}`;\n  text = `Nuova richiesta soggiorno\\n\\nStruttura: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nCheck-in: ${payload.checkin_date || 'N/D'}\\nCheck-out: ${payload.checkout_date || 'N/D'}\\nCamera: ${payload.room_type_requested || 'Da definire'}\\nServizi: ${payload.servizi_richiesti || 'Nessuno'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}\\nTrace: ${payload.trace_id || 'N/D'}`;\n  html = renderShell(\n    'Nuova richiesta soggiorno',\n    `È stata ricevuta una nuova richiesta per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Check-in', value: payload.checkin_date || 'N/D' },\n      { label: 'Check-out', value: payload.checkout_date || 'N/D' },\n      { label: 'Camera', value: payload.room_type_requested || 'Da definire' },\n      { label: 'Servizi', value: payload.servizi_richiesti || 'Nessuno' },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.'\n  );\n} else if (template === 'restaurant_internal_alert') {\n  subject = `Nuova richiesta tavolo interna • ${activity}`;\n  text = `Nuova richiesta tavolo\\n\\nAttività: ${activity}\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nData: ${payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'}\\nOra: ${payload.ora || 'N/D'}\\nPersone: ${payload.persone || 'N/D'}\\nNote: ${payload.note_prenotazione || 'Nessuna'}\\nStato: ${statusLabel}`;\n\n  const internalDashboardUrl = 'https://dashboard.zirel.org?tab=prenotazioni';\n  const googleUrl = createGoogleCalendarUrl({\n    title: `Richiesta tavolo - ${payload.nome_cliente || 'Cliente'}`,\n    details: [\n      `Attività: ${activity}`,\n      `Cliente: ${payload.nome_cliente || 'N/D'}`,\n      `Telefono: ${payload.telefono || 'N/D'}`,\n      `Persone: ${payload.persone || 'N/D'}`,\n      `Note: ${payload.note_prenotazione || 'Nessuna'}`,\n      `Stato: ${statusLabel}`,\n    ].join('\\n'),\n    location: activity,\n    startDate: payload.data_prenotazione,\n    startTime: payload.ora,\n    durationMinutes: 120,\n  });\n  const icsUrl = createIcsUrl({\n    type: 'restaurant_booking',\n    entityId: $json.related_entity_id,\n    tenantId: $json.tenant_id,\n  });\n\n  html = renderShell(\n    'Nuova richiesta tavolo',\n    `È arrivata una nuova richiesta tavolo per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Data', value: payload.data_prenotazione_label || payload.data_prenotazione || 'N/D' },\n      { label: 'Ora', value: payload.ora || 'N/D' },\n      { label: 'Persone', value: String(payload.persone || 'N/D') },\n      { label: 'Note', value: payload.note_prenotazione || 'Nessuna' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Verifica la disponibilità e conferma la gestione appena possibile.',\n    [\n      { label: 'Apri in dashboard', href: internalDashboardUrl },\n      ...(googleUrl ? [{ label: 'Aggiungi a Google Calendar', href: googleUrl }] : []),\n      ...(icsUrl ? [{ label: 'Scarica .ics', href: icsUrl, variant: 'secondary' }] : []),\n    ]\n  );\n} else if (template === 'appointment_internal_status_update' || template === 'restaurant_internal_status_update') {\n  const isAppointment = template === 'appointment_internal_status_update';\n  subject = `Aggiornamento richiesta interna • ${activity}`;\n  text = isAppointment\n    ? `Aggiornamento richiesta appuntamento\\n\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`\n    : `Aggiornamento richiesta tavolo\\n\\nCliente: ${payload.nome_cliente || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nStato: ${statusLabel}\\nMotivo rifiuto: ${payload.rejection_reason || 'Nessuno'}\\nNuova proposta: ${payload.proposed_date || 'N/D'} ${payload.proposed_time ? 'alle ' + payload.proposed_time : ''}\\nNota operativa: ${payload.change_note || 'Nessuna'}\\nOperatore: ${payload.actor || 'dashboard'}`;\n  html = renderShell(\n    'Aggiornamento richiesta interna',\n    `La richiesta per <strong>${activity}</strong> è stata aggiornata dalla dashboard.`,\n    isAppointment\n      ? [\n          { label: 'Cliente', value: payload.nome || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ]\n      : [\n          { label: 'Cliente', value: payload.nome_cliente || 'N/D' },\n          { label: 'Telefono', value: payload.telefono || 'N/D' },\n          { label: 'Email', value: payload.email || 'N/D' },\n          { label: 'Stato', value: statusLabel },\n          { label: 'Motivo rifiuto', value: payload.rejection_reason || 'Nessuno' },\n          { label: 'Nuova proposta', value: (payload.proposed_date || 'N/D') + (payload.proposed_time ? ' alle ' + payload.proposed_time : '') },\n          { label: 'Nota operativa', value: payload.change_note || 'Nessuna' },\n          { label: 'Operatore', value: payload.actor || 'dashboard' },\n        ],\n    'Puoi aprire la dashboard richieste per vedere il dettaglio completo e la timeline aggiornata.'\n  );\n} else {\n  subject = `Nuova richiesta interna • ${activity}`;\n  text = `Nuova richiesta appuntamento\\n\\nAttività: ${activity}\\nCliente: ${payload.nome || 'N/D'}\\nTelefono: ${payload.telefono || 'N/D'}\\nEmail: ${payload.email || 'N/D'}\\nData: ${payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'}\\nOra: ${payload.orario || 'N/D'}\\nMotivo: ${payload.motivo || 'N/D'}\\nStato: ${statusLabel}`;\n\n  const internalDashboardUrl = 'https://dashboard.zirel.org?tab=prenotazioni';\n  const googleUrl = createGoogleCalendarUrl({\n    title: `Appuntamento - ${payload.nome || 'Cliente'}`,\n    details: [\n      `Attività: ${activity}`,\n      `Cliente: ${payload.nome || 'N/D'}`,\n      `Telefono: ${payload.telefono || 'N/D'}`,\n      `Email: ${payload.email || 'N/D'}`,\n      `Motivo: ${payload.motivo || 'N/D'}`,\n      `Stato: ${statusLabel}`,\n      `Note: ${payload.note || 'Nessuna'}`,\n    ].join('\\n'),\n    location: activity,\n    startDate: payload.data_appuntamento,\n    startTime: payload.orario,\n    durationMinutes: 30,\n  });\n  const icsUrl = createIcsUrl({\n    type: 'appointment',\n    entityId: $json.related_entity_id,\n    tenantId: $json.tenant_id,\n  });\n\n  html = renderShell(\n    'Nuova richiesta appuntamento',\n    `È stata ricevuta una nuova richiesta da gestire per <strong>${activity}</strong>.`,\n    [\n      { label: 'Cliente', value: payload.nome || 'N/D' },\n      { label: 'Telefono', value: payload.telefono || 'N/D' },\n      { label: 'Email', value: payload.email || 'N/D' },\n      { label: 'Data', value: payload.data_appuntamento_label || payload.data_appuntamento || 'N/D' },\n      { label: 'Ora', value: payload.orario || 'N/D' },\n      { label: 'Motivo', value: payload.motivo || 'N/D' },\n      { label: 'Stato', value: statusLabel },\n      { label: 'Trace', value: payload.trace_id || 'N/D' },\n    ],\n    'Apri il dashboard o il thread operativo per gestire la richiesta.',\n    [\n      { label: 'Apri in dashboard', href: internalDashboardUrl },\n      ...(googleUrl ? [{ label: 'Aggiungi a Google Calendar', href: googleUrl }] : []),\n      ...(icsUrl ? [{ label: 'Scarica .ics', href: icsUrl, variant: 'secondary' }] : []),\n    ]\n  );\n}\n\nreturn [{\n  json: {\n    ...$json,\n    rendered_email: {\n      from: 'Zirèl <noreply@zirel.org>',\n      to: recipientEmail ? [recipientEmail] : [],\n      subject,\n      text,\n      html,\n    },\n  },\n}];"
        },
        "name": "Render Email Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3968,
          14672
        ],
        "id": "2c918c20-7298-4e59-9b25-6c1444fa3ec9"
      },
      {
        "parameters": {
          "jsCode": "const payload = typeof $json.payload === 'string' ? JSON.parse($json.payload) : ($json.payload || {});\nconst template = String($json.template_key || '').trim();\nconst relatedType = String($json.related_entity_type || '').trim();\nconst relatedId = String($json.related_entity_id || '').trim();\n\nconst statusLabel = ({\n  confirmed: 'Confermata',\n  confermata: 'Confermata',\n  manual_review: 'Verifica manuale',\n  rejected: 'Non disponibile',\n  rifiutata: 'Non disponibile',\n  annullata: 'Non disponibile',\n  pending: 'In lavorazione',\n  change_proposed: 'Proposta inviata',\n})[String(payload.booking_status || payload.status || payload.availability_status || '').trim().toLowerCase()] || 'In lavorazione';\n\nconst phoneRaw = String(payload.telefono || '').trim();\nconst emailRaw = String(payload.email || '').trim().toLowerCase();\n\nconst sourceLabelMap = {\n  qr_room: 'QR camera',\n  qr_area: 'QR area',\n  qr_hotel: 'QR struttura',\n  chat_widget: 'Widget sito',\n  public_chat: 'Chat pubblica',\n};\n\nconst sourceLabel = sourceLabelMap[String(payload.source || '').trim()] || String(payload.source || 'Chat').trim() || 'Chat';\n\nconst cleanTelegramText = (value) =>\n  String(value || '')\n    .replace(/[_*[\\]()`~>#+=|{}.!]/g, ' ')\n    .replace(/&/g, 'e')\n    .replace(/</g, ' ')\n    .replace(/>/g, ' ')\n    .replace(/\\s+\\n/g, '\\n')\n    .replace(/\\n\\s+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .trim();\n\nlet text = 'Nuova richiesta Zirèl';\nlet telegram_actions_disabled = false;\n\nif (template === 'hotel_reception_request_internal') {\n  telegram_actions_disabled = true;\n  text = [\n    'Nuova richiesta reception',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Camera: ' + (payload.room || 'N/D'),\n    'Area: ' + (payload.area || 'N/D'),\n    'Ospite: ' + (payload.guest_name || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Tipo: ' + (payload.request_type || 'generic_request'),\n    'Quando: ' + (payload.requested_time || 'Appena possibile'),\n    'Richiesta: ' + (payload.request_text || 'N/D'),\n    'Origine: ' + sourceLabel,\n    'Trace: ' + (payload.trace_id || 'N/D'),\n  ].join('\\n');\n} else if (template === 'hotel_internal_alert') {\n  text = [\n    'Nuova richiesta soggiorno',\n    '',\n    'Struttura: ' + (payload.nome_struttura || 'Hotel'),\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    '',\n    'Soggiorno: ' + (payload.checkin_date || 'N/D') + ' -> ' + (payload.checkout_date || 'N/D'),\n    'Ospiti: ' + String(payload.ospiti_totali || 'N/D'),\n    'Camera: ' + (payload.room_type_requested || 'Da definire'),\n    'Servizi: ' + (payload.servizi_richiesti || 'Nessuno'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n} else if (template === 'restaurant_internal_alert') {\n  text = [\n    'Nuova richiesta tavolo',\n    '',\n    'Cliente: ' + (payload.nome_cliente || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    ...(emailRaw ? ['Email: ' + emailRaw] : []),\n    'Data: ' + (payload.data_prenotazione_label || payload.data_prenotazione || 'N/D'),\n    'Ora: ' + (payload.ora || 'N/D'),\n    'Persone: ' + String(payload.persone || 'N/D'),\n    'Note: ' + (payload.note_prenotazione || 'Nessuna'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n} else {\n  text = [\n    'Nuova richiesta appuntamento',\n    '',\n    'Cliente: ' + (payload.nome || 'N/D'),\n    'Telefono: ' + (phoneRaw || 'N/D'),\n    'Email: ' + (emailRaw || 'N/D'),\n    'Data: ' + (payload.data_appuntamento_label || payload.data_appuntamento || 'N/D'),\n    'Ora: ' + (payload.orario || 'N/D'),\n    'Motivo: ' + (payload.motivo || 'N/D'),\n    '',\n    'Stato: ' + statusLabel,\n  ].join('\\n');\n}\n\nconst callbackSuffix = relatedType && relatedId\n  ? [relatedType, relatedId].join('|')\n  : '';\n\nreturn [{\n  json: {\n    ...$json,\n    rendered_telegram_text: cleanTelegramText(text),\n    telegram_actions_disabled,\n    telegram_accept_callback_data: telegram_actions_disabled ? '' : (callbackSuffix ? `accept|${callbackSuffix}` : ''),\n    telegram_reject_callback_data: telegram_actions_disabled ? '' : (callbackSuffix ? `reject|${callbackSuffix}` : ''),\n  },\n}];"
        },
        "name": "Render Telegram Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3968,
          15056
        ],
        "id": "b6f5fe08-ccdd-445f-9ed2-b14f4b149a45"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "notification_outbox",
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "pending"
              }
            ]
          }
        },
        "name": "Get Pending Outbox1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -4416,
          14864
        ],
        "id": "0ee76c11-0cbf-49ef-822d-5321a8f7d33e",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const now = Date.now();\nreturn items.filter((item) => {\n  const nextRetry = item.json.next_retry_at;\n  if (!nextRetry) return true;\n  const ts = new Date(nextRetry).getTime();\n  return !Number.isNaN(ts) && ts <= now;\n});"
        },
        "name": "Filter Due Now1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4192,
          14864
        ],
        "id": "2364f04c-18b0-4534-8669-2de558027b86"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8f14b1dd-f595-421f-aa60-700e0cd75411",
                "leftValue": "={{ String($json.channel || \"\").startsWith(\"email_\") }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "If Email Channel?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3744,
          14672
        ],
        "id": "1ef8c470-bda3-4d2b-8996-66581bb0f4a2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.rendered_email }}",
          "options": {
            "timeout": 15000
          }
        },
        "name": "Send Email1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -3520,
          14672
        ],
        "id": "a41e46ad-901a-4551-8f48-1f30ec40424a",
        "credentials": {
          "httpHeaderAuth": {
            "id": "o5v5J8779y7QCWIE",
            "name": "Header Auth account 2"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "27ff8e35-f9c8-4823-8a41-b3ff3c23faf2",
                "leftValue": "={{ !!String($json.id || \"\").trim() }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "If Email Sent?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3296,
          14672
        ],
        "id": "c9771adc-deca-421b-a5c3-f79565de1446"
      },
      {
        "parameters": {
          "jsCode": "const sources = $('If Email Channel?1').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  return { json: { id: src.id, status: 'sent', sent_at: new Date().toISOString(), last_error: null } };\n});"
        },
        "name": "Prepare Email Sent Update1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3072,
          14576
        ],
        "id": "595be66c-5e64-495a-87d4-bef0c094125c"
      },
      {
        "parameters": {
          "jsCode": "const sources = $('If Email Channel?1').all();\nreturn items.map((item, index) => {\n  const src = sources[index]?.json || {};\n  const retry = Number(src.retry_count || 0) + 1;\n  const max = Number(src.max_retries || 5);\n  const failed = retry >= max;\n  const backoffMin = Math.min(60, Math.pow(2, retry));\n  return { json: { id: src.id, status: failed ? 'failed' : 'pending', retry_count: retry, next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(), last_error: 'EMAIL_SEND_FAILED' } };\n});"
        },
        "name": "Prepare Email Retry Update1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3072,
          14768
        ],
        "id": "9968b22d-dede-45cf-888c-446bf946029e"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "notification_outbox",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "sent_at",
                "fieldValue": "={{ $json.sent_at || null }}"
              },
              {
                "fieldId": "last_error",
                "fieldValue": "={{ $json.last_error }}"
              }
            ]
          }
        },
        "name": "Update Outbox Email Sent1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2848,
          14576
        ],
        "id": "6610c612-f7bb-4b0a-a4cc-66cca37fd834",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "notification_outbox",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "retry_count",
                "fieldValue": "={{ $json.retry_count }}"
              },
              {
                "fieldId": "next_retry_at",
                "fieldValue": "={{ $json.next_retry_at }}"
              },
              {
                "fieldId": "last_error",
                "fieldValue": "={{ $json.last_error }}"
              }
            ]
          }
        },
        "name": "Update Outbox Email Retry1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2848,
          14768
        ],
        "id": "4087fbf9-256a-4c74-9e8a-8c812efa8b2d",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "9d70d580-cb78-40f0-a7dd-c315dd64fd16",
                "leftValue": "={{ String($json.channel || \"\").startsWith(\"telegram_\") }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "If Telegram Channel?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3744,
          15056
        ],
        "id": "ea5f39b4-ba79-4273-b78d-57f94c8f8cae"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6064afe4-24b8-45cc-96c5-2fa5fc7473e8",
                "leftValue": "={{ !!String($json.message_id || $json.result?.message_id || \"\").trim() }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "If Telegram Sent?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3072,
          15056
        ],
        "id": "b0c28356-9716-425b-b3de-9f2336ba2e1a"
      },
      {
        "parameters": {
          "jsCode": "const sources = $('If Telegram Channel?1').all();\n\nreturn items\n  .map((item, index) => {\n    const src = sources[index]?.json || {};\n    const id = src.id || item.json.id || '';\n    if (!id) return null;\n\n    return {\n      json: {\n        id,\n        status: 'sent',\n        sent_at: new Date().toISOString(),\n        last_error: null\n      }\n    };\n  })\n  .filter(Boolean);"
        },
        "name": "Prepare Telegram Sent Update1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2848,
          14960
        ],
        "id": "5cc0595f-0218-4ba2-b03d-b6c8887225b9"
      },
      {
        "parameters": {
          "jsCode": "const sources = $('If Telegram Channel?1').all();\n\nreturn items\n  .map((item, index) => {\n    const src = sources[index]?.json || {};\n    const id = src.id || item.json.id || '';\n    if (!id) return null;\n\n    const retry = Number(src.retry_count || 0) + 1;\n    const max = Number(src.max_retries || 5);\n    const failed = retry >= max;\n    const backoffMin = Math.min(60, Math.pow(2, retry));\n\n    return {\n      json: {\n        id,\n        status: failed ? 'failed' : 'pending',\n        retry_count: retry,\n        next_retry_at: new Date(Date.now() + backoffMin * 60 * 1000).toISOString(),\n        last_error: 'TELEGRAM_SEND_FAILED'\n      }\n    };\n  })\n  .filter(Boolean);"
        },
        "name": "Prepare Telegram Retry Update1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2848,
          15152
        ],
        "id": "771bf2b9-4e3c-4469-8262-2257cf9fc2f8"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "notification_outbox",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "sent_at",
                "fieldValue": "={{ $json.sent_at || null }}"
              },
              {
                "fieldId": "last_error",
                "fieldValue": "={{ $json.last_error }}"
              }
            ]
          }
        },
        "name": "Update Outbox Telegram Sent1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2624,
          14960
        ],
        "id": "65e9a73e-d994-41db-88db-787de7d7f0d2",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "notification_outbox",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "retry_count",
                "fieldValue": "={{ $json.retry_count }}"
              },
              {
                "fieldId": "next_retry_at",
                "fieldValue": "={{ $json.next_retry_at }}"
              },
              {
                "fieldId": "last_error",
                "fieldValue": "={{ $json.last_error }}"
              }
            ]
          }
        },
        "name": "Update Outbox Telegram Retry1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2624,
          15152
        ],
        "id": "96cb46af-908d-4e9d-a45a-3ba91d32f8d3",
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds"
              }
            ]
          }
        },
        "name": "Schedule Trigger (30 sec)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -4640,
          14864
        ],
        "id": "7b2343ae-0561-41a1-809e-b4d3db4ba872"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "telegram-actions-disabled-check",
                "leftValue": "={{ !!$json.telegram_actions_disabled }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "If Telegram Actions Disabled?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3520,
          15056
        ],
        "id": "6487b10a-51d8-4a7f-bcd6-c4d9c72ec65e"
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
          "text": "={{ $json.rendered_telegram_text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Send Telegram No Actions1",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3296,
          14960
        ],
        "id": "6a45f6e3-d309-431e-b1ae-21880179eb29",
        "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
        "credentials": {
          "telegramApi": {
            "id": "MHrNkPgbqU0Q6vyM",
            "name": "TG_Zirèl"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.payload?.telegram_chat_id || $env.ZIREL_INTERNAL_TELEGRAM_CHAT_ID || \"112661106\" }}",
          "text": "={{ $json.rendered_telegram_text }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Accetta",
                      "additionalFields": {
                        "callback_data": "={{ $json.telegram_accept_callback_data || \"\" }}"
                      }
                    },
                    {
                      "text": "❌ Rifiuta",
                      "additionalFields": {
                        "callback_data": "={{ $json.telegram_reject_callback_data || \"\" }}"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Send Telegram With Actions1",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3296,
          15152
        ],
        "id": "9c48e107-4796-4d84-98ea-eccabd056b8c",
        "webhookId": "7456a1d2-129e-4de4-b430-03ab679d931b",
        "credentials": {
          "telegramApi": {
            "id": "MHrNkPgbqU0Q6vyM",
            "name": "TG_Zirèl"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Render Email Payload": {
        "main": [
          [
            {
              "node": "If Email Channel?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Telegram Payload": {
        "main": [
          [
            {
              "node": "If Telegram Channel?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Pending Outbox1": {
        "main": [
          [
            {
              "node": "Filter Due Now1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Due Now1": {
        "main": [
          [
            {
              "node": "Render Email Payload",
              "type": "main",
              "index": 0
            },
            {
              "node": "Render Telegram Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Email Channel?1": {
        "main": [
          [
            {
              "node": "Send Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email1": {
        "main": [
          [
            {
              "node": "If Email Sent?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Email Sent?1": {
        "main": [
          [
            {
              "node": "Prepare Email Sent Update1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Email Retry Update1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Email Sent Update1": {
        "main": [
          [
            {
              "node": "Update Outbox Email Sent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Email Retry Update1": {
        "main": [
          [
            {
              "node": "Update Outbox Email Retry1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Telegram Channel?1": {
        "main": [
          [
            {
              "node": "If Telegram Actions Disabled?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Telegram Sent?1": {
        "main": [
          [
            {
              "node": "Prepare Telegram Sent Update1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Telegram Retry Update1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Telegram Sent Update1": {
        "main": [
          [
            {
              "node": "Update Outbox Telegram Sent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Telegram Retry Update1": {
        "main": [
          [
            {
              "node": "Update Outbox Telegram Retry1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger (30 sec)": {
        "main": [
          [
            {
              "node": "Get Pending Outbox1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Telegram Actions Disabled?1": {
        "main": [
          [
            {
              "node": "Send Telegram No Actions1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Telegram With Actions1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram No Actions1": {
        "main": [
          [
            {
              "node": "If Telegram Sent?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram With Actions1": {
        "main": [
          [
            {
              "node": "If Telegram Sent?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "nikita bronovs",
    "name": "Version 01e43c3b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}