n8n_workflows/Zirèl - AI Core.json
{
  "name": "Zirèl - AI Core",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        6864,
        -1424
      ],
      "id": "aa143c78-62e1-4f4a-bc63-61857780cdd1",
      "name": "When chat message received",
      "webhookId": "d9e10e54-2d61-4643-98ed-7bbe6221699e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "value": "={{ $json.metadata?.tenant_id || $json.tenant_id || \"\" }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.metadata?.session_id || `session_${Date.now()}` }}",
              "type": "string"
            },
            {
              "id": "trace_id",
              "name": "trace_id",
              "value": "={{ $json.metadata?.trace_id || `trace_${Date.now()}` }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.metadata?.source || \"chat_widget\" }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ String($json.chatInput || \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7088,
        -1424
      ],
      "id": "e6ddf818-0079-479c-96bf-548b72f89ec7",
      "name": "Crystalize Context1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_tenant",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check_chat",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7312,
        -1424
      ],
      "id": "39122497-6439-4b48-a5bd-268078b525c1",
      "name": "Security: Tenant Check1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tenants",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $('Crystalize Context1').item.json.tenant_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7536,
        -1424
      ],
      "id": "11816f70-10e1-4db6-b5e0-d3be6ced6e21",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenant = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('it-IT', { timeZone: 'Europe/Rome' });\nconst timeStr = now.toLocaleTimeString('it-IT', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Rome' });\n\nconst rawType = String(tenant.business_type || 'professional').toLowerCase().trim();\nlet businessType = 'professional';\nif (['restaurant', 'ristorante', 'locale', 'chiringuito', 'pizzeria'].includes(rawType)) businessType = 'restaurant';\nelse if (['hotel', 'albergo', 'b&b', 'bnb', 'struttura'].includes(rawType)) businessType = 'hotel';\nelse if (['medical', 'medico', 'studio_medico', 'clinica'].includes(rawType)) businessType = 'medical';\nelse if (['legal', 'legale', 'avvocato', 'studio_legale'].includes(rawType)) businessType = 'legal';\n\nconst addField = (fields, label, value) => {\n  if (value && String(value).trim() !== '') fields.push(`- ${label}: ${value}`);\n};\n\nconst fields = [];\naddField(fields, 'Nome Attività', tenant.nome_attivita);\naddField(fields, 'Telefono', tenant.telefono);\naddField(fields, 'Email', tenant.mail);\naddField(fields, 'Indirizzo', tenant.indirizzo);\naddField(fields, 'Orari Apertura', tenant.orari_apertura);\naddField(fields, 'Check-in/out', tenant.orari_checkin_checkout);\naddField(fields, 'Servizi Inclusi', tenant.servizi_inclusi);\naddField(fields, 'Prezzi', tenant.prezzo_medio);\naddField(fields, 'Link Booking', tenant.link_booking_esterno);\naddField(fields, 'Link Prenotazione Tavoli', tenant.link_prenotazione_tavoli);\naddField(fields, 'Info Utili', tenant.dati_testuali_brevi);\n\nconst final_system_prompt = [\n  'Oggi è il giorno: ' + dateStr,\n  'Ora attuale: ' + timeStr,\n  'Fuso orario: Europe/Rome',\n  '',\n  '[IDENTITÀ]',\n  tenant.prompt_base || 'Sei un assistente AI professionale, cordiale e affidabile.',\n  '',\n  '[REGOLE BULLETPROOF]',\n  '1. Non inventare mai disponibilità, conferme, prezzi o stati di pagamento.',\n  '2. Nessuna prenotazione o appuntamento è confermata prima del successo del tool corretto.',\n  '3. Se un tool restituisce success:false o un codice di errore, usa il final_reply del tool oppure spiega che la richiesta è stata raccolta ma non confermata.',\n  '4. Se l’utente corregge un dato, il valore più recente sostituisce sempre il precedente.',\n  '5. Dopo una conferma finale già inviata, non ripetere automaticamente i dettagli nei messaggi sociali successivi.',\n  '6. Se la richiesta è vaga su data/orario, chiedi una data precisa e un orario preciso.',\n  '7. Non menzionare mai tenant_id, trace_id, session_id o dettagli tecnici all’utente.',\n  '8. Rispondi in modo breve, naturale e focalizzato sul prossimo passo utile.',\n  '',\n  '[MACCHINA A STATI CONVERSAZIONALE]',\n  '- Raccolta dati: chiedi solo il prossimo dato mancante.',\n  '- Riepilogo: quando hai tutti i dati obbligatori, fai un solo riepilogo chiaro.',\n  '- Conferma esplicita: prima di chiamare il tool devi ottenere un “sì / confermo / ok” esplicito.',\n  '- Chiamata tool: usa il tool una sola volta con i dati più recenti.',\n  '- Post-tool: se successo, usa la risposta del tool; se fallisce, non improvvisare.',\n  '',\n  '[SETTORE]',\n  'Business type normalizzato: ' + businessType,\n  '',\n  '[REGOLE SETTORIALI]',\n  businessType === 'restaurant' ? '- Per prenotazioni tavolo raccogli: nome_cliente, telefono, data_input, ora, persone, note_prenotazione opzionali.' : '',\n  businessType === 'restaurant' ? '- Non confermare disponibilità tavoli senza il tool Registra_Prenotazione.' : '',\n  businessType === 'restaurant' ? '- Gruppi numerosi devono andare in manual review o contatto diretto.' : '',\n  businessType === 'hotel' ? '- Per soggiorni raccogli: nome, telefono, email, check-in, check-out, ospiti.' : '',\n  businessType === 'hotel' ? '- Non confermare disponibilità camere senza il tool Registra_Prenotazione_Hotel.' : '',\n  businessType === 'hotel' ? '- Se il tool restituisce payment_url, condividilo senza dire che la prenotazione è conclusa finché lo stato non è confirmed.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Per appuntamenti e demo raccogli: nome, telefono, email quando richiesta, data precisa, orario preciso, motivo.' : '',\n  ['professional', 'medical', 'legal', 'hotel'].includes(businessType) ? '- Non confermare slot reali senza il tool Registra_Appuntamento.' : '',\n  '',\n  '[CONTESTO ATTIVITÀ]',\n  fields.join('\\n'),\n  '',\n  '[UTILIZZO TOOLS]',\n  '- company_knowledge_base:',\n  '  - Usalo per documenti lunghi, FAQ dettagliate, menu o listini.',\n  '- Registra_Prenotazione:',\n  '  - Solo per business_type restaurant.',\n  '  - Richiede tenant_id, trace_id, session_id, nome_cliente, telefono, data_input, ora, persone.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool non conferma, non dichiarare mai prenotazione registrata.',\n  '- Registra_Appuntamento:',\n  '  - Solo per settori supportati diversi da restaurant.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, data_input, orario, motivo.',\n  '  - Per demo_request email è obbligatoria.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review o errore, usa il final_reply del tool.',\n  '- Registra_Prenotazione_Hotel:',\n  '  - Solo per business_type hotel.',\n  '  - Richiede tenant_id, trace_id, session_id, nome, telefono, email, checkin_input, checkout_input, ospiti_adulti.',\n  '  - Prima del tool: riepilogo + conferma esplicita.',\n  '  - Se il tool ritorna manual_review, non dichiarare disponibilità o conferma.',\n].filter(Boolean).join('\\n');\n\nreturn {\n  normalized_business_type: businessType,\n  final_system_prompt,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7760,
        -1424
      ],
      "id": "3b27addc-2983-46b0-b521-d93c1516393b",
      "name": "Build Prompt1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Crystalize Context1').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.final_system_prompt }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8352,
        -1424
      ],
      "id": "b23db228-e747-470c-9461-ae92990ddb93",
      "name": "AI Agent1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Crystalize Context1').item.json.sessionId }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        8112,
        -1200
      ],
      "id": "7676784c-4c8e-47f1-88c4-1d5eb638a611",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "y26w3cf5oDEAQXdB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "Strumento per cercare documenti lunghi, listini, menu e FAQ con precisione tenant-scoped.",
        "tableName": {
          "__rl": true,
          "value": "zirel_vectors",
          "mode": "list",
          "cachedResultName": "zirel_vectors"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "tenant_id",
                "value": "={{ $('Crystalize Context1').item.json.tenant_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        8240,
        -1200
      ],
      "id": "7d63138e-d6da-46ee-acc5-a3e51a60f48d",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7984,
        -1200
      ],
      "id": "763713da-bfd7-4c3b-9716-e4b9dc73a6ce",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "UlhMJWQVjXFDMzf8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        8320,
        -992
      ],
      "id": "2198ee46-b773-4df9-98b7-d1defc1a5323",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "UlhMJWQVjXFDMzf8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d1LLF4mnxHeKcDJC",
          "mode": "list",
          "cachedResultUrl": "/workflow/d1LLF4mnxHeKcDJC",
          "cachedResultName": "Zirèl - Registra_Appuntamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context1').item.json.tenant_id }}",
            "business_type": "={{ $('Build Prompt1').item.json.normalized_business_type }}",
            "appointment_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_type', ``, 'string') }}",
            "note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note', ``, 'string') }}",
            "orario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orario', ``, 'string') }}",
            "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo', ``, 'string') }}",
            "notification_email": "={{ $('Get a row1').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row1').item.json.internal_email || $('Get a row1').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row1').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row1').item.json.billing_email || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_input",
              "displayName": "data_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "orario",
              "displayName": "orario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_type",
              "displayName": "appointment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8528,
        -1200
      ],
      "id": "a1c7c1cb-da46-4369-9564-f3ed6c660d56",
      "name": "Registra_Appuntamento"
    },
    {
      "parameters": {
        "description": "Salva una prenotazione ristorante reale solo dopo conferma esplicita del cliente e controllo disponibilità.",
        "workflowId": {
          "__rl": true,
          "value": "6ZLyZmg4iLuF4YGr",
          "mode": "list",
          "cachedResultUrl": "/workflow/6ZLyZmg4iLuF4YGr",
          "cachedResultName": "Zirèl - Registra_Prenotazione"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context1').item.json.tenant_id }}",
            "nome_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_cliente', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "data_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_input', ``, 'string') }}",
            "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
            "persone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('persone', ``, 'string') }}",
            "ora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ora', ``, 'string') }}",
            "business_type": "={{ $('Build Prompt1').item.json.normalized_business_type }}",
            "notification_email": "={{ $('Get a row1').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row1').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row1').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row1').item.json.billing_email || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_cliente",
              "displayName": "nome_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_input",
              "displayName": "data_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ora",
              "displayName": "ora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "persone",
              "displayName": "persone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note_prenotazione",
              "displayName": "note_prenotazione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8656,
        -1200
      ],
      "id": "7094ec98-2b97-4af5-b4d4-b1c1a824dd17",
      "name": "Registra_Prenotazione"
    },
    {
      "parameters": {
        "description": "Registra una prenotazione camera reale solo dopo conferma esplicita e controllo disponibilità.",
        "workflowId": {
          "__rl": true,
          "value": "6NEYaCEnrm6h8jRG",
          "mode": "list",
          "cachedResultUrl": "/workflow/6NEYaCEnrm6h8jRG",
          "cachedResultName": "Zirèl - Registra_Prenotazione_Hotel"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Crystalize Context1').item.json.tenant_id }}",
            "business_type": "={{ $('Build Prompt1').item.json.normalized_business_type }}",
            "booking_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_type', `standard_room_booking`, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "checkin_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkin_input', ``, 'string') }}",
            "checkout_input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('checkout_input', ``, 'string') }}",
            "ospiti_adulti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_adulti', ``, 'string') }}",
            "ospiti_bambini": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ospiti_bambini', `0`, 'string') }}",
            "room_type_requested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('room_type_requested', ``, 'string') }}",
            "servizi_richiesti": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servizi_richiesti', ``, 'string') }}",
            "note_prenotazione": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note_prenotazione', ``, 'string') }}",
            "lingua_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lingua_cliente', `it`, 'string') }}",
            "nome_attivita": "={{ $('Get a row1').item.json.nome_attivita }}",
            "notification_email": "={{ $('Get a row1').item.json.notification_email || \"\" }}",
            "internal_email": "={{ $('Get a row1').item.json.mail || \"\" }}",
            "telegram_chat_id": "={{ $('Get a row1').item.json.telegram_chat_id || \"\" }}",
            "billing_email": "={{ $('Get a row1').item.json.billing_email || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "booking_type",
              "displayName": "booking_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "checkin_input",
              "displayName": "checkin_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "checkout_input",
              "displayName": "checkout_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ospiti_adulti",
              "displayName": "ospiti_adulti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ospiti_bambini",
              "displayName": "ospiti_bambini",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "room_type_requested",
              "displayName": "room_type_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servizi_richiesti",
              "displayName": "servizi_richiesti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note_prenotazione",
              "displayName": "note_prenotazione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lingua_cliente",
              "displayName": "lingua_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_attivita",
              "displayName": "nome_attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notification_email",
              "displayName": "notification_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "billing_email",
              "displayName": "billing_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "internal_email",
              "displayName": "internal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8784,
        -1200
      ],
      "id": "a30a24b7-7871-4aa5-aad8-5b0f6218bd47",
      "name": "Registra_Prenotazione_Hotel"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Crystalize Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crystalize Context1": {
      "main": [
        [
          {
            "node": "Security: Tenant Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: Tenant Check1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Build Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Appuntamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Prenotazione": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra_Prenotazione_Hotel": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c1bcc4ed-9e27-46ca-8b03-f4a68e9d49e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5e4156406eb2781358eadbaabf7ac25423788a2a1b74d65514ae4da6dc2f496"
  },
  "id": "vfYYOYyiEcSIzuze",
  "tags": []
}