n8n_workflows/Zirèl - Inoltra_Richiesta_Reception.json
{
  "updatedAt": "2026-04-01T19:08:21.096Z",
  "createdAt": "2026-04-01T19:08:19.035Z",
  "id": "CAJ5T4pDS3OyebyY",
  "name": "Zirèl - Inoltra_Richiesta_Reception",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tenant_id"
            },
            {
              "name": "business_type"
            },
            {
              "name": "request_type"
            },
            {
              "name": "request_text"
            },
            {
              "name": "requested_time"
            },
            {
              "name": "room"
            },
            {
              "name": "area"
            },
            {
              "name": "guest_name"
            },
            {
              "name": "telefono"
            },
            {
              "name": "nome_attivita"
            },
            {
              "name": "notification_email"
            },
            {
              "name": "internal_email"
            },
            {
              "name": "billing_email"
            },
            {
              "name": "telegram_chat_id"
            },
            {
              "name": "trace_id"
            },
            {
              "name": "session_id"
            },
            {
              "name": "source"
            }
          ]
        }
      },
      "id": "ce5da5ca-b0f0-4afc-adac-c30ae0c241a0",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1424,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "943f83f9-910f-46c1-92f2-c2bf0d571144",
              "leftValue": "={{ String($json.business_type || \"\").trim().toLowerCase() === \"hotel\" || !String($json.business_type || \"\").trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3bfe79a0-6ac7-4376-a87d-1e71d6517eac",
      "name": "Check Hotel Sector",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08b4ab4e-0ba6-4d3c-bc51-e290e679bc4a",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1abc96e7-11f9-47c2-9cb9-bb6b0ede2931",
              "name": "code",
              "value": "UNSUPPORTED_SECTOR",
              "type": "string"
            },
            {
              "id": "7fc2b7d9-4f39-4e75-875f-45359623caec",
              "name": "message",
              "value": "Questo workflow gestisce solo richieste reception hotel.",
              "type": "string"
            },
            {
              "id": "0a51ac77-c4ba-4d01-b0b4-4deddc0d3d6a",
              "name": "final_reply",
              "value": "Posso inoltrare richieste reception solo per strutture hotel.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "275d362c-6aa3-4a68-af5b-73bc294fea9a",
      "name": "Unsupported Sector Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const value = $json || {};\nconst normalize = (v) => String(v || '').replace(/\\s+/g, ' ').trim();\nconst titleCase = (v) => normalize(v)\n  .split(' ')\n  .filter(Boolean)\n  .map((part) => part.charAt(0).toUpperCase() + part.slice(1).toLowerCase())\n  .join(' ');\n\nconst trace_id = normalize(value.trace_id) || (globalThis.crypto?.randomUUID?.() || 'trace_' + Date.now());\nconst session_id = normalize(value.session_id) || 'session_' + Date.now();\nconst source = normalize(value.source || 'chat_widget') || 'chat_widget';\nconst tenant_id = normalize(value.tenant_id);\nconst business_type = normalize(value.business_type || 'hotel').toLowerCase() || 'hotel';\nconst room = normalize(value.room);\nconst area = normalize(value.area);\nconst guest_name = titleCase(value.guest_name);\nconst telefono = normalize(value.telefono).replace(/[^\\d+\\s]/g, '');\nconst nome_attivita = normalize(value.nome_attivita || 'Hotel');\nconst request_text = normalize(value.request_text);\nconst requested_time = normalize(value.requested_time);\nconst rawType = normalize(value.request_type).toLowerCase();\nconst notification_email = normalize(value.notification_email).toLowerCase();\nconst internal_email = normalize(value.internal_email).toLowerCase();\nconst billing_email = normalize(value.billing_email).toLowerCase();\nconst telegram_chat_id = normalize(value.telegram_chat_id);\n\nconst inferRequestType = (text) => {\n  const t = normalize(text).toLowerCase();\n  if (!t) return 'generic_request';\n  if (/taxi|cab|transfer/.test(t)) return 'taxi_booking';\n  if (/asciugaman|cuscin|copert|lenzuol|sapone|carta igienica|pulizia|rifare la camera/.test(t)) return 'housekeeping';\n  if (/tv|televisione|aria condizionata|condizionatore|wifi|wi-fi|frigo|lampad|guast|non funziona|rotto|rotta|manutenzione/.test(t)) return 'maintenance';\n  if (/acqua|phon|asciugacapelli|adattatore|ferro da stiro|bollitore/.test(t)) return 'amenities';\n  if (/sveglia|wake up|svegliatemi/.test(t)) return 'wakeup_call';\n  if (/reception|richiam|chiamatemi|operatore/.test(t)) return 'reception_callback';\n  return 'generic_request';\n};\n\nconst allowedTypes = new Set(['housekeeping', 'maintenance', 'amenities', 'taxi_booking', 'wakeup_call', 'reception_callback', 'generic_request']);\nconst request_type = allowedTypes.has(rawType) ? rawType : inferRequestType(request_text || rawType);\n\nconst internalRecipient = notification_email || internal_email || billing_email || '';\n\nlet validation_code = '';\nlet validation_message = '';\nif (!tenant_id) {\n  validation_code = 'MISSING_TENANT_ID';\n  validation_message = 'Tenant mancante.';\n} else if (!request_text) {\n  validation_code = 'MISSING_REQUEST_TEXT';\n  validation_message = 'Richiesta reception mancante.';\n} else if (!telegram_chat_id && !internalRecipient) {\n  validation_code = 'MISSING_INTERNAL_NOTIFICATION_CHANNEL';\n  validation_message = 'Manca un canale interno per inoltrare la richiesta alla reception.';\n}\n\nreturn [{\n  json: {\n    ...value,\n    tenant_id,\n    trace_id,\n    session_id,\n    source,\n    business_type,\n    room,\n    area,\n    guest_name,\n    telefono,\n    nome_attivita,\n    request_type,\n    request_text,\n    requested_time,\n    notification_email,\n    internal_email,\n    billing_email,\n    telegram_chat_id,\n    internal_recipient_email: internalRecipient,\n    validation_code,\n    validation_message,\n    is_valid_payload: !validation_code,\n  },\n}];"
      },
      "id": "b4316cb0-9401-478a-8d49-6b0f91e69ba4",
      "name": "Normalize & Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e810a27-ddcf-4fa5-88d1-4266be223c09",
              "leftValue": "={{ !!$json.validation_code }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2aab808-1fce-4483-abae-6c9a88734020",
      "name": "Check Valid Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0996d64-5b1b-4dd1-ad96-827a86b23f9c",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "5162f889-f00f-4850-94fb-94a9db7a8f99",
              "name": "code",
              "value": "={{ $json.validation_code }}",
              "type": "string"
            },
            {
              "id": "bc03bb33-667a-4a57-88e8-a02babe6cce9",
              "name": "message",
              "value": "={{ $json.validation_message }}",
              "type": "string"
            },
            {
              "id": "8447dff1-351d-42ab-a130-548b831fdfea",
              "name": "final_reply",
              "value": "Per inoltrare la richiesta alla reception mi serve una richiesta chiara e almeno un canale interno attivo per avvisare lo staff.",
              "type": "string"
            },
            {
              "id": "c59ea695-daec-40f1-b130-b43d3b8cdac8",
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "5b76bddb-91de-49ae-aa04-abae10e7cd31",
              "name": "trace_id",
              "value": "={{ $json.trace_id }}",
              "type": "string"
            },
            {
              "id": "4c511984-3f69-404e-b07c-a0a04f0b216c",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "609e3b67-8814-464e-95d7-7de5bf59b162",
      "name": "Invalid Payload Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize & Validate Request').item.json;\nconst payload = {\n  trace_id: input.trace_id,\n  session_id: input.session_id,\n  tenant_id: input.tenant_id,\n  nome_struttura: input.nome_attivita || 'Hotel',\n  request_type: input.request_type,\n  request_text: input.request_text,\n  requested_time: input.requested_time || null,\n  room: input.room || null,\n  area: input.area || null,\n  guest_name: input.guest_name || null,\n  telefono: input.telefono || null,\n  source: input.source || 'chat_widget',\n  internal_email: input.internal_recipient_email || null,\n  telegram_chat_id: input.telegram_chat_id || null,\n};\n\nconst rows = [];\nconst dedupeBase = input.tenant_id + ':reception_request:' + input.trace_id;\nconst now = new Date().toISOString();\n\nif (input.telegram_chat_id) {\n  rows.push({\n    json: {\n      tenant_id: input.tenant_id,\n      channel: 'telegram_internal_hotel',\n      template_key: 'hotel_reception_request_internal',\n      related_entity_type: 'reception_request',\n      related_entity_id: input.trace_id,\n      status: 'pending',\n      retry_count: 0,\n      max_retries: 5,\n      next_retry_at: now,\n      trace_id: input.trace_id,\n      dedupe_key: dedupeBase + ':telegram_internal_hotel',\n      payload,\n    },\n  });\n}\n\nif (input.internal_recipient_email) {\n  rows.push({\n    json: {\n      tenant_id: input.tenant_id,\n      channel: 'email_internal_hotel',\n      template_key: 'hotel_reception_request_internal',\n      related_entity_type: 'reception_request',\n      related_entity_id: input.trace_id,\n      status: 'pending',\n      retry_count: 0,\n      max_retries: 5,\n      next_retry_at: now,\n      trace_id: input.trace_id,\n      dedupe_key: dedupeBase + ':email_internal_hotel',\n      payload,\n    },\n  });\n}\n\nreturn rows;"
      },
      "id": "1217aa4f-029a-4ea9-8a5a-be447b15bfa7",
      "name": "Build Notification Outbox Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        96
      ]
    },
    {
      "parameters": {
        "tableId": "notification_outbox",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "template_key",
              "fieldValue": "={{ $json.template_key }}"
            },
            {
              "fieldId": "related_entity_type",
              "fieldValue": "={{ $json.related_entity_type }}"
            },
            {
              "fieldId": "related_entity_id",
              "fieldValue": "={{ $json.related_entity_id || null }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "max_retries",
              "fieldValue": "={{ $json.max_retries }}"
            },
            {
              "fieldId": "next_retry_at",
              "fieldValue": "={{ $json.next_retry_at }}"
            },
            {
              "fieldId": "trace_id",
              "fieldValue": "={{ $json.trace_id }}"
            },
            {
              "fieldId": "nome_attivita",
              "fieldValue": "={{ $json.payload?.nome_struttura || null }}"
            },
            {
              "fieldId": "dedupe_key",
              "fieldValue": "={{ $json.dedupe_key }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ $json.payload }}"
            }
          ]
        }
      },
      "id": "2d1e59f5-2e9f-4a1c-8f3a-e3d25f60a83f",
      "name": "Insert Outbox Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "bEyN805IWleebXdC",
          "name": "Supabase account - Zirèl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize & Validate Request').item.json;\nconst locationLabel = input.room\n  ? 'per la camera ' + input.room\n  : input.area\n    ? 'per l\\'area ' + input.area\n    : 'alla reception';\n\nreturn [{\n  json: {\n    success: true,\n    code: 'RECEPTION_REQUEST_FORWARDED',\n    message: 'Richiesta inoltrata alla reception.',\n    tenant_id: input.tenant_id,\n    trace_id: input.trace_id,\n    session_id: input.session_id,\n    request_type: input.request_type,\n    room: input.room || '',\n    area: input.area || '',\n    source: input.source || 'chat_widget',\n    final_reply: 'Perfetto, inoltro subito la richiesta alla reception ' + locationLabel + '.',\n  },\n}];"
      },
      "id": "08bb1fda-45bd-414a-9b06-00417d8522d4",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        192
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Hotel Sector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hotel Sector": {
      "main": [
        [
          {
            "node": "Normalize & Validate Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Sector Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Validate Request": {
      "main": [
        [
          {
            "node": "Check Valid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Payload": {
      "main": [
        [
          {
            "node": "Invalid Payload Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Notification Outbox Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Outbox Rows": {
      "main": [
        [
          {
            "node": "Insert Outbox Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "faff66a0-2f2f-45b4-8723-af75152b8d44",
  "activeVersionId": "faff66a0-2f2f-45b4-8723-af75152b8d44",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-01T19:08:19.035Z",
      "createdAt": "2026-04-01T19:08:19.035Z",
      "role": "workflow:owner",
      "workflowId": "CAJ5T4pDS3OyebyY",
      "projectId": "2Cf6i0jib9PfATFz"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-01T19:17:58.037Z",
    "createdAt": "2026-04-01T19:08:21.093Z",
    "versionId": "faff66a0-2f2f-45b4-8723-af75152b8d44",
    "workflowId": "CAJ5T4pDS3OyebyY",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "tenant_id"
              },
              {
                "name": "business_type"
              },
              {
                "name": "request_type"
              },
              {
                "name": "request_text"
              },
              {
                "name": "requested_time"
              },
              {
                "name": "room"
              },
              {
                "name": "area"
              },
              {
                "name": "guest_name"
              },
              {
                "name": "telefono"
              },
              {
                "name": "nome_attivita"
              },
              {
                "name": "notification_email"
              },
              {
                "name": "internal_email"
              },
              {
                "name": "billing_email"
              },
              {
                "name": "telegram_chat_id"
              },
              {
                "name": "trace_id"
              },
              {
                "name": "session_id"
              },
              {
                "name": "source"
              }
            ]
          }
        },
        "id": "ce5da5ca-b0f0-4afc-adac-c30ae0c241a0",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -1424,
          288
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "943f83f9-910f-46c1-92f2-c2bf0d571144",
                "leftValue": "={{ String($json.business_type || \"\").trim().toLowerCase() === \"hotel\" || !String($json.business_type || \"\").trim() }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3bfe79a0-6ac7-4376-a87d-1e71d6517eac",
        "name": "Check Hotel Sector",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1200,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "08b4ab4e-0ba6-4d3c-bc51-e290e679bc4a",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "1abc96e7-11f9-47c2-9cb9-bb6b0ede2931",
                "name": "code",
                "value": "UNSUPPORTED_SECTOR",
                "type": "string"
              },
              {
                "id": "7fc2b7d9-4f39-4e75-875f-45359623caec",
                "name": "message",
                "value": "Questo workflow gestisce solo richieste reception hotel.",
                "type": "string"
              },
              {
                "id": "0a51ac77-c4ba-4d01-b0b4-4deddc0d3d6a",
                "name": "final_reply",
                "value": "Posso inoltrare richieste reception solo per strutture hotel.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "275d362c-6aa3-4a68-af5b-73bc294fea9a",
        "name": "Unsupported Sector Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -976,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const value = $json || {};\nconst normalize = (v) => String(v || '').replace(/\\s+/g, ' ').trim();\nconst titleCase = (v) => normalize(v)\n  .split(' ')\n  .filter(Boolean)\n  .map((part) => part.charAt(0).toUpperCase() + part.slice(1).toLowerCase())\n  .join(' ');\n\nconst trace_id = normalize(value.trace_id) || (globalThis.crypto?.randomUUID?.() || 'trace_' + Date.now());\nconst session_id = normalize(value.session_id) || 'session_' + Date.now();\nconst source = normalize(value.source || 'chat_widget') || 'chat_widget';\nconst tenant_id = normalize(value.tenant_id);\nconst business_type = normalize(value.business_type || 'hotel').toLowerCase() || 'hotel';\nconst room = normalize(value.room);\nconst area = normalize(value.area);\nconst guest_name = titleCase(value.guest_name);\nconst telefono = normalize(value.telefono).replace(/[^\\d+\\s]/g, '');\nconst nome_attivita = normalize(value.nome_attivita || 'Hotel');\nconst request_text = normalize(value.request_text);\nconst requested_time = normalize(value.requested_time);\nconst rawType = normalize(value.request_type).toLowerCase();\nconst notification_email = normalize(value.notification_email).toLowerCase();\nconst internal_email = normalize(value.internal_email).toLowerCase();\nconst billing_email = normalize(value.billing_email).toLowerCase();\nconst telegram_chat_id = normalize(value.telegram_chat_id);\n\nconst inferRequestType = (text) => {\n  const t = normalize(text).toLowerCase();\n  if (!t) return 'generic_request';\n  if (/taxi|cab|transfer/.test(t)) return 'taxi_booking';\n  if (/asciugaman|cuscin|copert|lenzuol|sapone|carta igienica|pulizia|rifare la camera/.test(t)) return 'housekeeping';\n  if (/tv|televisione|aria condizionata|condizionatore|wifi|wi-fi|frigo|lampad|guast|non funziona|rotto|rotta|manutenzione/.test(t)) return 'maintenance';\n  if (/acqua|phon|asciugacapelli|adattatore|ferro da stiro|bollitore/.test(t)) return 'amenities';\n  if (/sveglia|wake up|svegliatemi/.test(t)) return 'wakeup_call';\n  if (/reception|richiam|chiamatemi|operatore/.test(t)) return 'reception_callback';\n  return 'generic_request';\n};\n\nconst allowedTypes = new Set(['housekeeping', 'maintenance', 'amenities', 'taxi_booking', 'wakeup_call', 'reception_callback', 'generic_request']);\nconst request_type = allowedTypes.has(rawType) ? rawType : inferRequestType(request_text || rawType);\n\nconst internalRecipient = notification_email || internal_email || billing_email || '';\n\nlet validation_code = '';\nlet validation_message = '';\nif (!tenant_id) {\n  validation_code = 'MISSING_TENANT_ID';\n  validation_message = 'Tenant mancante.';\n} else if (!request_text) {\n  validation_code = 'MISSING_REQUEST_TEXT';\n  validation_message = 'Richiesta reception mancante.';\n} else if (!telegram_chat_id && !internalRecipient) {\n  validation_code = 'MISSING_INTERNAL_NOTIFICATION_CHANNEL';\n  validation_message = 'Manca un canale interno per inoltrare la richiesta alla reception.';\n}\n\nreturn [{\n  json: {\n    ...value,\n    tenant_id,\n    trace_id,\n    session_id,\n    source,\n    business_type,\n    room,\n    area,\n    guest_name,\n    telefono,\n    nome_attivita,\n    request_type,\n    request_text,\n    requested_time,\n    notification_email,\n    internal_email,\n    billing_email,\n    telegram_chat_id,\n    internal_recipient_email: internalRecipient,\n    validation_code,\n    validation_message,\n    is_valid_payload: !validation_code,\n  },\n}];"
        },
        "id": "b4316cb0-9401-478a-8d49-6b0f91e69ba4",
        "name": "Normalize & Validate Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -976,
          192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3e810a27-ddcf-4fa5-88d1-4266be223c09",
                "leftValue": "={{ !!$json.validation_code }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d2aab808-1fce-4483-abae-6c9a88734020",
        "name": "Check Valid Payload",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -752,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0996d64-5b1b-4dd1-ad96-827a86b23f9c",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "5162f889-f00f-4850-94fb-94a9db7a8f99",
                "name": "code",
                "value": "={{ $json.validation_code }}",
                "type": "string"
              },
              {
                "id": "bc03bb33-667a-4a57-88e8-a02babe6cce9",
                "name": "message",
                "value": "={{ $json.validation_message }}",
                "type": "string"
              },
              {
                "id": "8447dff1-351d-42ab-a130-548b831fdfea",
                "name": "final_reply",
                "value": "Per inoltrare la richiesta alla reception mi serve una richiesta chiara e almeno un canale interno attivo per avvisare lo staff.",
                "type": "string"
              },
              {
                "id": "c59ea695-daec-40f1-b130-b43d3b8cdac8",
                "name": "tenant_id",
                "value": "={{ $json.tenant_id }}",
                "type": "string"
              },
              {
                "id": "5b76bddb-91de-49ae-aa04-abae10e7cd31",
                "name": "trace_id",
                "value": "={{ $json.trace_id }}",
                "type": "string"
              },
              {
                "id": "4c511984-3f69-404e-b07c-a0a04f0b216c",
                "name": "session_id",
                "value": "={{ $json.session_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "609e3b67-8814-464e-95d7-7de5bf59b162",
        "name": "Invalid Payload Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          288
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $('Normalize & Validate Request').item.json;\nconst payload = {\n  trace_id: input.trace_id,\n  session_id: input.session_id,\n  tenant_id: input.tenant_id,\n  nome_struttura: input.nome_attivita || 'Hotel',\n  request_type: input.request_type,\n  request_text: input.request_text,\n  requested_time: input.requested_time || null,\n  room: input.room || null,\n  area: input.area || null,\n  guest_name: input.guest_name || null,\n  telefono: input.telefono || null,\n  source: input.source || 'chat_widget',\n  internal_email: input.internal_recipient_email || null,\n  telegram_chat_id: input.telegram_chat_id || null,\n};\n\nconst rows = [];\nconst dedupeBase = input.tenant_id + ':reception_request:' + input.trace_id;\nconst now = new Date().toISOString();\n\nif (input.telegram_chat_id) {\n  rows.push({\n    json: {\n      tenant_id: input.tenant_id,\n      channel: 'telegram_internal_hotel',\n      template_key: 'hotel_reception_request_internal',\n      related_entity_type: 'reception_request',\n      related_entity_id: input.trace_id,\n      status: 'pending',\n      retry_count: 0,\n      max_retries: 5,\n      next_retry_at: now,\n      trace_id: input.trace_id,\n      dedupe_key: dedupeBase + ':telegram_internal_hotel',\n      payload,\n    },\n  });\n}\n\nif (input.internal_recipient_email) {\n  rows.push({\n    json: {\n      tenant_id: input.tenant_id,\n      channel: 'email_internal_hotel',\n      template_key: 'hotel_reception_request_internal',\n      related_entity_type: 'reception_request',\n      related_entity_id: input.trace_id,\n      status: 'pending',\n      retry_count: 0,\n      max_retries: 5,\n      next_retry_at: now,\n      trace_id: input.trace_id,\n      dedupe_key: dedupeBase + ':email_internal_hotel',\n      payload,\n    },\n  });\n}\n\nreturn rows;"
        },
        "id": "1217aa4f-029a-4ea9-8a5a-be447b15bfa7",
        "name": "Build Notification Outbox Rows",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -528,
          96
        ]
      },
      {
        "parameters": {
          "tableId": "notification_outbox",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "tenant_id",
                "fieldValue": "={{ $json.tenant_id }}"
              },
              {
                "fieldId": "channel",
                "fieldValue": "={{ $json.channel }}"
              },
              {
                "fieldId": "template_key",
                "fieldValue": "={{ $json.template_key }}"
              },
              {
                "fieldId": "related_entity_type",
                "fieldValue": "={{ $json.related_entity_type }}"
              },
              {
                "fieldId": "related_entity_id",
                "fieldValue": "={{ $json.related_entity_id || null }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "retry_count",
                "fieldValue": "={{ $json.retry_count }}"
              },
              {
                "fieldId": "max_retries",
                "fieldValue": "={{ $json.max_retries }}"
              },
              {
                "fieldId": "next_retry_at",
                "fieldValue": "={{ $json.next_retry_at }}"
              },
              {
                "fieldId": "trace_id",
                "fieldValue": "={{ $json.trace_id }}"
              },
              {
                "fieldId": "nome_attivita",
                "fieldValue": "={{ $json.payload?.nome_struttura || null }}"
              },
              {
                "fieldId": "dedupe_key",
                "fieldValue": "={{ $json.dedupe_key }}"
              },
              {
                "fieldId": "payload",
                "fieldValue": "={{ $json.payload }}"
              }
            ]
          }
        },
        "id": "2d1e59f5-2e9f-4a1c-8f3a-e3d25f60a83f",
        "name": "Insert Outbox Rows",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -304,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "bEyN805IWleebXdC",
            "name": "Supabase account - Zirèl"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $('Normalize & Validate Request').item.json;\nconst locationLabel = input.room\n  ? 'per la camera ' + input.room\n  : input.area\n    ? 'per l\\'area ' + input.area\n    : 'alla reception';\n\nreturn [{\n  json: {\n    success: true,\n    code: 'RECEPTION_REQUEST_FORWARDED',\n    message: 'Richiesta inoltrata alla reception.',\n    tenant_id: input.tenant_id,\n    trace_id: input.trace_id,\n    session_id: input.session_id,\n    request_type: input.request_type,\n    room: input.room || '',\n    area: input.area || '',\n    source: input.source || 'chat_widget',\n    final_reply: 'Perfetto, inoltro subito la richiesta alla reception ' + locationLabel + '.',\n  },\n}];"
        },
        "id": "08bb1fda-45bd-414a-9b06-00417d8522d4",
        "name": "Build Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          192
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Check Hotel Sector",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Hotel Sector": {
        "main": [
          [
            {
              "node": "Normalize & Validate Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unsupported Sector Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize & Validate Request": {
        "main": [
          [
            {
              "node": "Check Valid Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Valid Payload": {
        "main": [
          [
            {
              "node": "Invalid Payload Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Notification Outbox Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Notification Outbox Rows": {
        "main": [
          [
            {
              "node": "Insert Outbox Rows",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "nikita bronovs",
    "name": "Version faff66a0",
    "description": "",
    "autosaved": true
  },
  "tags": []
}